<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>参数设置</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/static/css/ready.css}">
		<style type="text/css">
			*{
				/*border: 1px solid;*/
			}
			.card{
				border-radius: 0px;
			    background-color: #ffffff;
			    margin-bottom: 0px;
			    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
			    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
			    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
			    border: 1px solid #eee;
			}
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">参数设置</h4>
					<div class="row" id="configSec">
						<div class="card col-lg-12">
							<div class="card-header">
								<!-- 标题 -->
								<span class="h3">学员</span>
								<h4 class="card-title">学员理解能力系数</h4>
								<p class="card-category">
									做题数量（理解类型）：实际刷题数量/当前进度下题目总数。
									<br>
									正确率（理解类型）：当前进度下题目总数刷题总数正确率（去除重复答题） 重复答题超过五次（无效数据）并且 正确率过高（包含）80%。
									<br>
									教员评价：教过该学员的教员对其进行的评价（问卷调查的形式）。
								</p>
							</div>
							<div class="card-body row" style="justify-content: flex-start;display: flex;">
								 <div class="col-lg-4" >
								   <span>做题数量（理解类型）</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config1" data-name="config1">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>正确率（理解类型）</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config2" data-name="config2">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>教员评价</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config3" data-name="config3">
								     <span></span>
								   </div>
								 </div>
							</div>
							
							<div class="card-header">
								<h4 class="card-title">学员识记能力系数</h4>
								<p class="card-category">
									识记数量（识记类型）：实际刷题数量/当前进度下题目总数。
									<br>
									正确率（识记类型）：当前进度下题目总数刷题总数正确率（去除重复答题） 重复答题超过五次（无效数据）并且 正确率过高（包含）80%。
									<br>
									教员评价：教过该学员的教员对其进行的评价（问卷调查的形式）。
								</p>
							</div>
							<div class="card-body row" style="justify-content: flex-start;display: flex;">
								 <div class="col-lg-4" >
								   <span>做题数量（识记类型）</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config4"  data-name="config4">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>正确率（识记类型）</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config5" data-name="config5">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>教员评价</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config6" data-name="config6">
								     <span></span>
								   </div>
								 </div>
							</div>
							
							
							<div class="card-header">
								<h4 class="card-title">学员自控力能力系数</h4>
								<p class="card-category">
									日常考勤：当前正常到勤次数/总考勤次数。
									<br>
									作业及时完成情况：作业及时上交次数/总作业次数。
									<br>
									教员评价：教过该学员的教员对其进行的评价（问卷调查的形式）。
								</p>
							</div>
							<div class="card-body row" style="justify-content: flex-start;display: flex;">
								 <div class="col-lg-4" >
								   <span>日常考勤</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config7" data-name="config7">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>作业及时完成情况</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config8" data-name="config8">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>教员评价</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config9" data-name="config9">
								     <span></span>
								   </div>
								 </div>
							</div>
							
							
							
							
							<div class="card-header">
								<h4 class="card-title">学员动手能力系数</h4>
								<p class="card-category">
									上机题目得分：上级题目（包含考试和作业）题目平均分得分
									<br>
									教员评价：教过该学员的教员对其进行的评价（问卷调查的形式）。
								</p>
							</div>
							<div class="card-body row" style="justify-content: flex-start;display: flex;">
								 <div class="col-lg-4" >
								   <span>上机题目得分</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config10" data-name="config10">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>教员评价</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config11" data-name="config11">
								     <span></span>
								   </div>
								 </div>
							</div>
							
							
							<div class="card-header">
								<h4 class="card-title">学员课堂表现系数</h4>
								<p class="card-category">
									动态课堂评价：表扬次数-批评次数/上课次数   >1 取1 <0 取0
									<br>
									教员评价：教过该学员的教员对其进行的评价（问卷调查的形式）。
								</p>
							</div>
							<div class="card-body row" style="justify-content: flex-start;display: flex;">
								 <div class="col-lg-4" >
								   <span>动态课堂评价</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config12" data-name="config12">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>教员评价</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config13" data-name="config13">
								     <span></span>
								   </div>
								 </div>
							</div>
							
							
							
							<div class="card-header">
								<!-- 标题 -->
								<span class="h3">教员</span>
								<h4 class="card-title">升学率和就业系数</h4>
								<p class="card-category">
									升学率：一次性升学人数/总人数         
									<br>
									就业率： 就业人数/总人数
									<br>
									说明：只要带过的班级，就影响该教员或班主任的就业率。
								</p>
							</div>
							<div class="card-body row" style="justify-content: flex-start;display: flex;">
								 <div class="col-lg-4" >
								   <span>升学率</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config14" data-name="config14">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>就业率</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config15" data-name="config15">
								     <span></span>
								   </div>
								 </div>
							</div>
							
							
							
							<div class="card-header">
								<h4 class="card-title">教员教学质量系数</h4>
								<p class="card-category">
									学员做题数量：实际答题量/题目总数
									<br>
									学生做题正确率：正确答题/答题量  说明：重复答题超过五次 && 正确率过高（包含）80% 计为 无效数据排除
									<br>
									学员评价：上过该教员课的学员对其教学进行的评价（问卷调查的形式）。
								</p>
							</div>
							<div class="card-body row" style="justify-content: flex-start;display: flex;">
								 <div class="col-lg-4" >
								   <span>学员做题数量</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config16" data-name="config16">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>学生做题正确率</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config17" data-name="config17">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>学员评价</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config18" data-name="config18">
								     <span></span>
								   </div>
								 </div>
							</div>
							
							
							
							<div class="card-header">
								<h4 class="card-title">责任心（教员）系数</h4>
								<p class="card-category">
									平均布置作业次数 平均布置作业次数>=是否达到标准次数
									<br>
									平均布置考试次数 平均布置考试次数>=是否达到标准次数   说明：只算日常小考，不算交班测试
									<br>
									考勤率
									<br>
									学员评价：上过该教员课的学员对其责任心进行的评价（问卷调查的形式）。
								</p>
							</div>
							<div class="card-body row" style="justify-content: flex-start;display: flex;">
								 <div class="col-lg-4" >
								   <span>布置作业标准次数（每课程）</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="次" v-model="configInfo.config19" data-name="config19">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>布置考试标准次数（每课程）</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="次" v-model="configInfo.config20" data-name="config20">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>平均布置作业次数系数</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config21" data-name="config21">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>平均布置考试次数系数</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config22" data-name="config22">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>考勤率</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config23" data-name="config23">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>学员评价</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config24" data-name="config24">
								     <span></span>
								   </div>
								 </div>
							</div>
							
							
							
							
							<div class="card-header">
								<h4 class="card-title">责任心（班主任）系数</h4>
								<p class="card-category">
									班主任标准访谈次数（每班级）
									<br>
									谈心（访谈）覆盖率（广度rate）
									<br>
									谈心（访谈） 基本次数（深度count）  
									<br>
									考勤率
									<br>
									学员评价：班主任带过的学员对其责任心进行的评价（问卷调查的形式）。
								</p>
							</div>
							<div class="card-body row" style="justify-content: flex-start;display: flex;">
								 <div class="col-lg-4" >
								   <span>班主任标准访谈次数</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="次" v-model="configInfo.config25" data-name="config25">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>谈心（访谈）覆盖率（广度rate）</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config26" data-name="config26">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>谈心（访谈） 基本次数（深度count）  </span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config27" data-name="config27">
								     <span></span>
								   </div>
								 </div>
								  <div class="col-lg-4" >
								   <span>考勤率</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config28" data-name="config28">
								     <span></span>
								   </div>
								 </div>
								  <div class="col-lg-4" >
								   <span>学员评价</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%" v-model="configInfo.config29" data-name="config29">
								     <span></span>
								   </div>
								 </div>
							</div>
							
							
							
						</div>
						
						
						
						
						
						
							
							
						
						
						
						
						
						
						
						<!--<div class="card col-lg-12">
							<div class="card-header">
								<h4 class="card-title">学员理解能力</h4>
							</div>
							<div class="card-body row" style="justify-content: flex-start;display: flex;">
								 <div class="col-lg-4" >
								   <span>理解题目</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>理解题目</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>理解题目</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%">
								     <span></span>
								   </div>
								 </div>
								 <div class="col-lg-4" >
								   <span>理解题目</span>
								   <div class="input-group">
								     <input type="number" class="form-control" placeholder="%">
								     <span></span>
								   </div>
								 </div>
							</div>
						</div>-->
						
						
						<!-- 修改按钮 -->
						<div class="card col-lg-12" >
							<div class="card-action" style="justify-content: center;display: flex;">
								<button id="editBtn" class="btn btn-danger" onclick="editBtnFunc()">修改</button>
							</div>
						</div>
						
						
						
					</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{/static/js/core/vue.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/core/jquery.3.2.1.min.js}" ></script>
	<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
	<script type="text/javascript">
		var vue;//全局(方便做修改)
		
		$(function(){
			console.log();
			
			InitInfo();

		})
		
		//================自定义函数=============================
		function InitInfo(){
			$.ajax({
				type:"post",
				url:adress.url +"/statistics/" +"queryOptionAllConfig",
				async:true,
				data:{
					
				},
				success:function(data){
					console.log(data);
					vue = new Vue({
						el:"#configSec",
						data:{
							configInfo:data
						}
					});
				}
			});
		}
		//修改点击事件
		function editBtnFunc(){
			$.ajax({
				type:"post",
				url:adress.url +"/statistics/" +"updateOptionAllConfig",
				async:true,
				data:vue.configInfo,
				success:function(effectCount){
					alert(effectCount);
					if(effectCount>0){
						alert("修改成功！")
					}else{
						alert("修改失败");
					}
				}
			});
		}
	</script>
	

</html>