<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>教员统计首页</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/static/css/ready.css}">
		<style type="text/css">
			* {
				margin: 0px;
				padding: 0px;
				/*border: 1px solid red;*/
			}
			
			img {
				width: 76px;
				height: 100px;
				border-radius: 5px;
			}
			.card{
				border-radius: 0px;
			    background-color: #ffffff;
			    margin-bottom: 0px;
			    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
			    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
			    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
			    border: 1px solid #eee;
			}
			
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">员工统计首页</h4>
					<div class="row">
						<!--个人信息-->
						<div id="staffBaseInfoSec" class="card col-lg-5">
							<div class="card-header">
								<h4 class="card-title">个人信息</h4>
							</div>
							<div class="card-body" style="text-align: center;">
								<div>
									<img v-bind:src=url+staffBaseInfo.url>
								</div>
								<p>姓名：{{staffBaseInfo.staffName}}</p>
								<p>工号：{{staffBaseInfo.staffNum}}</p>
								<p>年龄：{{staffBaseInfo.staffAge}}</p>
								<p>入职时间：{{staffBaseInfo.startTime}}</p>
								<p v-if="staffBaseInfo.staffStatue==1">离职时间：{{staffBaseInfo.endTime}}</p>
								<p v-if="staffBaseInfo.staffStatue==0">状态：在职</p>
								<p v-if="staffBaseInfo.staffStatue==1">状态：离职</p>
								<!-- 所教课程名称 -->
								<span v-for="course in staffBaseInfo.courseList" class="badge badge-count">{{course.courseName}}</span>
							</div>
						</div>
						<!--员工教学能力雷达图-->
						<div class="card col-lg-7">
							<div class="card-header">
								<h4 class="card-title">员工教学能力雷达图</h4>
							</div>
							<div class="card-body" id="studentAbilityPicture" style="width: 400; height: 400px;"></div>
						</div>
						<!--所教班级-->
						<div class="card col-lg-12">
							<div class="card-header">
								<h4 class="card-title">所教班级</h4>
							</div>
							<div id="clazzListSec" class="card-body">
								<table class="table mt-3" style="text-align: center;">
									<thead>
										<tr>
											<th scope="col">年级</th>
											<th scope="col">班级名称</th>
											<th scope="col">课程</th>
											<th scope="col">状态</th>
											<th scope="col">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="clazz in clazzList" style="background-color: #f2f2f2;">
											<td>{{clazz.gradeName}}</td>
											<td>{{clazz.clazzName}}</td>
											<td>{{clazz.courseName}}</td>
											<td v-if="clazz.clazzStatus==0">正在进行</td>
											<td v-if="clazz.clazzStatus==1">结束</td>
											<td><button class="btn btn-primary btn-xs" v-bind:staffId="gotoStaff" v-bind:clazzId="clazz.clazzId">查看详情</button></td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						<!--日常考勤-->
						<div class=" card col-lg-12">
							<div class="card-header">
								<h4 class="card-title">日常考勤</h4>
							</div>
							<div class="card-body">
								<div id="dailyPicture" style="width: 400; height: 400px;"></div>
							</div>
							<div class="card-footer">
								<div class="legend">
									<i class="la la-circle text-primary"></i>
									 查看很多
								</div>
							</div>
						</div>
						<div class="card col-lg-12">
							<div class="card-header">
								<h4 class="card-title">
									知识点上报统计
								</h4>
							</div>
							<div id="badKonwledagepointSec" class="card-body">
								<table class="table table-bordered" style="text-align: center;">
									<thead>
										<tr>
											<th scope="col">课程</th>
											<th scope="col">章节</th>
											<th scope="col">知识点</th>
											<th scope="col">上报次数</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="Konwledagepoint in badKonwledagepointList">
											<td>{{Konwledagepoint.courseName}}</td>
											<td>{{Konwledagepoint.sectionName}}</td>
											<td>{{Konwledagepoint.knowledagepointName}}</td>
											<td>{{Konwledagepoint.count}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="badKonwledagepointPicture" style="width: 400; height: 400px;"></div>
						</div>
						
					</div>
						

				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" th:src="@{/static/js/core/vue.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/statisticsDefaultData.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/core/jquery.3.2.1.min.js}" ></script>
	<script th:src="@{/static/js/echarts.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
	<script th:src="@{/static/js/core/bootstrap.min.js}"></script>
	<script type="text/javascript">
		//点进员工的id
		var gotoStaff = "[[${gotoStaffId}]]" ? "[[${gotoStaffId}]]" : null;//如果为null（登陆人点入）
		//初始化
		$(function(){
			//员工基础信息初始化
			initStaffBaseInfo();
			//员工所带班级初始化
			initClazzList();
			//员工对应班级下学员劣势知识点上报情况
			initBadKonwledagepoint();
			//考勤情况初始化
			initKqInfo();
			//能力雷达图初始化
			initAbilityInfo();
		})
		
		
		
		
		
		//初始化echars实例
		var myChar = echarts.init(document.querySelector("#studentAbilityPicture"));
		//myChar.showLoading();
		//设置图标配置和数据
		option = {
			title: {
				
			},
			tooltip: {},
			legend: {
				data: ['学员能力值', '所在班级学员能力平均值']
			},
			radar: {
				center: ['50%', '55%'],
				// shape: 'circle',
				name: {
					textStyle: {
						color: '#fff',
						backgroundColor: '#999',
						borderRadius: 3,
						padding: [3, 5]
					}
				},
				indicator: [{
						name: '升学率',
						max: 100
					},
					{
						name: '责任心',
						max: 100
					},
					{
						name: '教学质量',
						max: 100
					}
				]
			},
			series: [{
				type: 'radar',
				// areaStyle: {normal: {}},
				data: [{
						value: [98, 56, 67],
						label:{
							show:true,                  //是否显示标签。
						    position:"insideTop",          //标签的位置。// 绝对的像素值[10, 10],// 相对的百分比['50%', '50%'].'top','left','right','bottom','inside','insideLeft','insideRight','insideTop','insideBottom','insideTopLeft','insideBottomLeft','insideTopRight','insideBottomRight'
						    offset:[-10, 0],             //是否对文字进行偏移。默认不偏移。例如：[30, 40] 表示文字在横向上偏移 30，纵向上偏移 40。
						    formatter:'{c}',       //标签内容格式器。模板变量有 {a}、{b}、{c}，分别表示系列名，数据名，数据值。
						},
						name: '员工能力值'
					}/*,
					{
						value: [23, 45, 23, 34, 23],
						label:{
							show:true,                  //是否显示标签。
						    position:"insideTop",          //标签的位置。// 绝对的像素值[10, 10],// 相对的百分比['50%', '50%'].'top','left','right','bottom','inside','insideLeft','insideRight','insideTop','insideBottom','insideTopLeft','insideBottomLeft','insideTopRight','insideBottomRight'
						    offset:[-10, 0],             //是否对文字进行偏移。默认不偏移。例如：[30, 40] 表示文字在横向上偏移 30，纵向上偏移 40。
						    formatter:'{c}',       //标签内容格式器。模板变量有 {a}、{b}、{c}，分别表示系列名，数据名，数据值。
						},
						name: '所在班级学员能力平均值'
					}*/
				]
			}]
		};
		myChar.setOption(option);
		
		
		
		
		
		//==============================================================
			
			
		function initStaffBaseInfo(){
			$.ajax({
				type:"post",
				url:adress.url +"/statistics/" +"getStaffAboutBaseInfoAndCourseList",
				async:true,
				data:{
					staffId:gotoStaff
				},
				success:function(data){
					console.log(data.url);
					var vue = new Vue({
						el:"#staffBaseInfoSec",
						data:{
							staffBaseInfo:data,
							url:adress.url
						}
					});
				}
			});
		}
		//员工所带班级初始化
		function initClazzList(){
			$.ajax({
				type:"post",
				url:adress.url +"/statistics/" +"getStaffAboutclazzList",
				async:true,
				data:{
					staffId:gotoStaff
				},
				success:function(data){
					console.log(data);
					var vue = new Vue({
						el:"#clazzListSec",
						data:{
							clazzList:data,
							gotoStaff:gotoStaff
						}
					});
				}
			});
		}
		//查询劣势知识点上报情况
		function initBadKonwledagepoint(){
			//初始化图形
			//初始化echars实例
			var myChar1 = echarts.init(document.querySelector("#badKonwledagepointPicture"));
			myChar1.setOption(initDataAboutLine,true);
			myChar1.showLoading();
			//初始化数据
			$.ajax({
				type:"post",
				url:adress.url +"/statistics/" +"getStaffAboutBadKonwledagepoint",
				async:true,
				data:{
					staffId:gotoStaff
				},
				success:function(data){
					console.log(data);
					var vue = new Vue({
						el:"#badKonwledagepointSec",
						data:{
							badKonwledagepointList:data
						}
					});
					var badKonwledagepointCountArr = [];//知识点数量
					var badKonwledagepointNameArr = [];//知识点名称
					//筛选数据
					if(vue.badKonwledagepointList.length == 0){
						myChar1.setOption(noDataLoadingOption,true);
						myChar1.hideLoading();
						return;
					}
					for(var i = vue.badKonwledagepointList.length-1;i>=0;i--){
						badKonwledagepointCountArr.push(vue.badKonwledagepointList[i].count);
						badKonwledagepointNameArr.push(vue.badKonwledagepointList[i].knowledagepointName);
					}
					var option = {
					    tooltip: {
					        trigger: 'axis',
					        axisPointer: {
					            type: 'shadow'
					        }
					    },
					    title: {
					        text: '劣势知识点上报情况'
					    },
					    grid: {
					        left: '3%',
					        right: '4%',
					        containLabel: true
					    },
					    xAxis: {
					    	name:"次数",
					        type: 'value',
					        minInterval:1,
					        boundaryGap: [0, 0.01]
					    },
					    yAxis: {
					    	name:"知识点名称",
					        type: 'category',
					        data: badKonwledagepointNameArr
					    },
					    series: [
					        {
					            barGap:1,
					            barWidth:40,
					            type: 'bar',
					            itemStyle: {
									normal: {
										label: {
											show: true, //开启显示
											position: 'top', //在上方显示
											textStyle: { //数值样式
												color: 'black',
												fontSize: 12
											}
										}
									}
								},
					            data: badKonwledagepointCountArr
					        }
					    ]
					};//option设置结束
					myChar1.setOption(option,true);
					myChar1.hideLoading();
				}
			});
		}
		function initKqInfo(){
			//初始化echars实例
			var myChar2 = echarts.init(document.querySelector("#dailyPicture"));
			myChar2.showLoading();
			$.ajax({
				type:"post",
				url:adress.url +"/statistics/" +"getStaffAboutkqInfo",
				async:true,
				data:{
					staffId:gotoStaff
				},
				success:function(data){
					console.log(data);
					//空值
					if(data.length==0){
						myChar2.setOption(noDataLoadingOption,true);
						myChar2.hideLoading();
						return;
					}
					//筛选数据
					var kqNameArr = [];//考勤类目名称集合
					var kqNameAndCountArr = [];//考勤类目名称和次数集合
					for(var i = 0;i<data.length;i++){
						kqNameArr.push(data[i].kqStateName);
						var temp = {};
						temp.value = data[i].totalCount;
						temp.name = data[i].kqStateName;
						kqNameAndCountArr.push(temp);
					}
					var option2 ={
							 tooltip: {
						        trigger: 'item',
						        formatter: "{b}: {c} ({d}%)"
						    },
						    legend: {
						        orient: 'vertical',
						        x: 'left',
						        data:kqNameArr
						    },
						    series: [
						        {
						            labelLine: {
						                normal: {
						                    show: false
						                }
						            },
						            type:'pie',
						            radius: ['40%', '55%'],
						            label: {
						                normal: {
						                    formatter: '{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
						                    backgroundColor: '#eee',
						                    borderColor: '#aaa',
						                    borderWidth: 1,
						                    borderRadius: 4,
						                    shadowBlur:3,
						                    shadowOffsetX: 2,
						                    shadowOffsetY: 2,
						                    shadowColor: '#999',
						                    padding: [0, 0],
						                    rich: {
						                        a: {
						                            color: '#999',
						                            lineHeight: 22,
						                            align: 'center'
						                        },
						                        hr: {
						                            borderColor: '#aaa',
						                            width: '100%',
						                            borderWidth: 0.5,
						                            height: 0
						                        },
						                        b: {
						                            fontSize: 16,
						                            lineHeight: 33
						                        },
						                        per: {
						                            color: '#eee',
						                            backgroundColor: '#334455',
						                            padding: [2, 4],
						                            borderRadius: 2
						                        }
						                    }
						                }
						            },
						            data:kqNameAndCountArr
						        
						        }
						    ]
						};
					myChar2.setOption(option2,true);
					myChar2.hideLoading();
				}
			});//ajax结束
		}
		
		
		function initAbilityInfo(){
			myChar.showLoading();
			$.ajax({
				type:"post",
				url:adress.url +"/statistics/" +"queryStaffAbility",
				async:true,
				data:{
					staffId:gotoStaff
				},
				success:function(data){
					//数据筛选
					
					option = {
							title: {
								
							},
							tooltip: {},
							legend: {
								data: ['学员能力值', '所在班级学员能力平均值']
							},
							radar: {
								center: ['50%', '55%'],
								// shape: 'circle',
								name: {
									textStyle: {
										color: '#fff',
										backgroundColor: '#999',
										borderRadius: 3,
										padding: [3, 5]
									}
								},
								indicator: [{
										name: '升学率和就业',
										max: 100
									},
									{
										name: '教学质量',
										max: 100
									},
									{
										name: '责任心',
										max: 100
									}
								]
							},
							series: [{
								type: 'radar',
								// areaStyle: {normal: {}},
								data: [{
										value: data,
										label:{
											show:true,                  //是否显示标签。
										    position:"insideTop",          //标签的位置。// 绝对的像素值[10, 10],// 相对的百分比['50%', '50%'].'top','left','right','bottom','inside','insideLeft','insideRight','insideTop','insideBottom','insideTopLeft','insideBottomLeft','insideTopRight','insideBottomRight'
										    offset:[-10, 0],             //是否对文字进行偏移。默认不偏移。例如：[30, 40] 表示文字在横向上偏移 30，纵向上偏移 40。
										    formatter:'{c}',       //标签内容格式器。模板变量有 {a}、{b}、{c}，分别表示系列名，数据名，数据值。
										},
										name: '员工能力值'
									}
								]
							}]
						};
						myChar.hideLoading();
						myChar.setOption(option,true);
				}
			});
		}
	</script>

</html>