<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>学员统计首页</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/static/css/ready.css}">
<link rel="stylesheet" th:href="@{/static/css/demo.css}">
<style type="text/css">
* {
	margin: 0px;
	padding: 0px;
	/*  border: 1px solid red;  */
}

img {
	width: 76px;
	height: 100px;
	border-radius: 5px;
}

.card {
	border-radius: 0px;
	background-color: #ffffff;
	margin-bottom: 0px;
	-webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
	-moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
	border: 1px solid #eee;
}
</style>
</head>

<body>
	<div class="main-panel">
		<div class="content">
			<div class="container-fluid">
				<h4 class="page-title">学员统计首页</h4>
				<div class="row">
					<!--个人信息-->
					<div class="card col-lg-5">
						<div class="card-header">
							<h4 class="card-title">个人信息</h4>
							<p class="card-category">
							<div class="form-group col-lg-3" id="gradeSelect">
								<label for="defaultSelect">年级</label> <select v-model="gid"
									class="form-control form-control">
									<option value="-1">全部</option>
									<option v-bind:value="item.gid" v-for="(item, index) in list">{{item.gradeName}}</option>
								</select>
							</div>
							</p>
						</div>
						<div class="card-body" style="text-align: center;"
							id="studentInfoSec">
							<div>
								<!-- <img th:src="@{/static/image/studentImg.png}"> -->
								<img v-bind:src="url+studentInfo.url">
							</div>
							<p>学号：{{studentInfo.studentNo}}</p>
							<p>姓名：{{studentInfo.studentName}}</p>
							<p v-if="studentInfo.sex == 0">性别：男</p>
							<p v-if="studentInfo.sex == 1">性别：女</p>
							<p>年级：{{studentInfo.studentAge}}</p>
							<p v-if="studentInfo.standby1==0">状态：在读</p>
							<p v-if="studentInfo.standby1==1">状态：毕业</p>
						</div>
					</div>
					<!--学员能力雷达图-->
					<div class="card col-lg-7">
						<div class="card-header">
							<h4 class="card-title">学员能力雷达图</h4>
						</div>
						<div class="card-body" id="studentAbilityPicture"
							style="width: 400; height: 400px;"></div>
					</div>
					<!--学员考试成绩-->
					<div class=" card col-lg-12">
						<div class="card-header">
							<h4 class="card-title">学员考试成绩趋势图</h4>
						</div>
						<div class="card-body">
							<div id="studentTestPictrue" style="width: 400; height: 400px;"></div>
						</div>
						<div class="card-footer">
							<div class="legend">
								<i class="la la-circle text-primary"></i> 查看很多
							</div>
						</div>
					</div>
					<!--学员作业成绩-->
					<div class=" card col-lg-12">
						<div class="card-header">
							<h4 class="card-title">学员作业成绩情况统计</h4>
							<div id="workPicture" style="width: 400; height: 400px;"></div>
						</div>
						<div class="card-body" id="workTableSec">
							<!-- 作业情况饼状图 -->
							<table id="studentWorkInfoTable" v-if="workInfoList.length!=0" class="table table-bordered" style="text-align: center;">
								<thead>
									<tr>
										<th scope="col">等级</th>
										<th scope="col">次数</th>
										<th scope="col">比重</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="item in workInfoList">
										<td>{{item.rankName}}</td>
										<td>{{item.workCount}}</td>
										<td>{{item.workCount/workTotalCount*100}}%</td>
									</tr>
									<tr>
										<td>合计</td>
										<td colspan='2'>{{workTotalCount}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="card-footer row">
							<!-- 查询详情 -->
							<div id="searchWorkBtn" class="col-md-2 demo-icon"> 
								<div class="icon-preview">
									<i class="la la-search"></i>
								</div>
								<div class="icon-class">
									查看详情
								</div> 
							</div>
							<!-- 下载报表 -->
							<a id="downLoadWorkBtn" download="学员作业情况表.xls" class="col-md-2 demo-icon" href="#" onclick="return ExcellentExport.excel(this, 'studentWorkInfoTable', 'sheet');"> 
								<div class="icon-preview">
									<i class="la la-file-excel-o"></i>
								</div>
								<div class="icon-class">
									下载报表
								</div> 
							</a>
						</div>
					</div>
					<!--日常考勤-->
					<div class=" card col-lg-12">
						<div class="card-header">
							<h4 class="card-title">日常考勤</h4>
						</div>
						<div class="card-body">
							<div id="dailyPicture" style="width: 400; height: 400px;"></div>
						</div>
						<div class="card-footer">
							<div class="legend">
								<i class="la la-circle text-primary"></i> 查看很多
							</div>
						</div>
					</div>
					<div class="card col-lg-12">
						<div class="card-header">
							<h4 class="card-title">查漏补缺</h4>
							<p class="card-category">
								辅导：学员辅导学员  <br>
								上报：保存到教员表。
								备注：该知识点基数大于10，正确率低于60%。
							</p>
						</div>
						<div class="card-body">
							<table id="badKnowledageSec" class="table table-bordered" style="text-align: center;">
								<thead>
									<tr>
										<th scope="col">课程</th>
										<th scope="col">章节</th>
										<th scope="col">知识点</th>
										<th scope="col">正确率</th>
										<th scope="col">数量</th>
										<th scope="col">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="item in badKnowledageList">
										<td>{{item.courseName}}</td>
										<td>{{item.sectionName}}</td>
										<td>{{item.knowledageName}}</td>
										<td>{{item.rate}}</td>
										<td>{{item.totalCount}}</td>
										<td>
											<button class="btn btn-danger">补习</button>
											<button class="btn btn-info" v-bind:studentId="item.studentId" v-bind:knowledageId="item.knowledageId" v-bind:courseId="item.courseId" v-on:click="submitKnowledagePoint($event)">上报</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{/static/js/core/vue.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script type="text/javascript"
	th:src="@{/static/js/statisticsDefaultData.js}"></script>
<script type="text/javascript"
	th:src="@{/static/js/core/jquery.3.2.1.min.js}"></script>
<script src="/static/js/echarts.js"></script>
<script src="/static/js/core/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/excellentexport.js}"></script>
<script type="text/javascript">
	//初始化echars实例
	var sId = null;
	var myChar = echarts.init(document.querySelector("#studentAbilityPicture"));
	//myChar.showLoading();
	//设置图标配置和数据
	option = {
		title : {

		},
		tooltip : {},
		legend : {
			data : [ '学员能力值']
		},
		radar : {
			center : [ '50%', '55%' ],
			// shape: 'circle',
			name : {
				textStyle : {
					color : '#fff',
					backgroundColor : '#999',
					borderRadius : 3,
					padding : [ 3, 5 ]
				}
			},
			indicator : [ {
				name : '理解',
				max : 100
			}, {
				name : '识记',
				max : 100
			}, {
				name : '自控力',
				max : 100
			}, {
				name : '应用上机',
				max : 100
			}, {
				name : '课堂表现',
				max : 100
			} ]
		},
		series : [ {
			type : 'radar',
			// areaStyle: {normal: {}},
			data : [ {
				value : [ 0, 0, 0, 0, 0 ],
				label : {
					show : true, //是否显示标签。
					position : "insideTop", //标签的位置。// 绝对的像素值[10, 10],// 相对的百分比['50%', '50%'].'top','left','right','bottom','inside','insideLeft','insideRight','insideTop','insideBottom','insideTopLeft','insideBottomLeft','insideTopRight','insideBottomRight'
					offset : [ -10, 0 ], //是否对文字进行偏移。默认不偏移。例如：[30, 40] 表示文字在横向上偏移 30，纵向上偏移 40。
					formatter : '{c}', //标签内容格式器。模板变量有 {a}、{b}、{c}，分别表示系列名，数据名，数据值。
				},
				name : '学员能力值'
			} ]
		} ]
	};
	myChar.setOption(option);

	

	//全局
	var myChar1 = echarts.init(document.querySelector("#studentTestPictrue"));
	var myChar2 = echarts.init(document.querySelector("#dailyPicture"));
	var myChar3 = echarts.init(document.querySelector("#workPicture"));
	//初始化数据
	$(function() {
		//基础数据加载
		InitBaseData();
		myChar1.setOption(initDataAboutLine,true);
		myChar2.setOption(initDataAboutCircle,true);
		myChar3.setOption(initDataAboutCircle,true);
	})
	//=============================自定义方法=======================================
		
	
	function InitBaseData(){
		//查询学员信息
		$.ajax({
			type : "post",
			url : adress.url + "/statistics/queryStudentInfoBySid",
			data : {
				sId : sId
			},
			success : function(data) {
				console.log(data);
				var vue = new Vue({
					el:"#studentInfoSec",
					data:{
						studentInfo:data,
						url:adress.url
					}
				});
			}
		})
		var currentGrade;
		//当前所在年级
		$.ajax({
			type : "post",
			url : adress.url + "/statistics/queryCurrentGradeBySid",
			data : {
				sId : sId
			},
			async:false,
			success : function(data) {
				currentGrade = data;
				console.log(data.gid);
				//
				if(data == ""){//-1为全部成绩
					//学员所有考试成绩
					InitTestData(-1);
					//學院所有考勤
					initQkData(-1);
					//雷达能力图
					studentAbilityinfoInit(-1);
					studentWorkInfoInit(-1);
				}else{
					InitTestData(data.gid);
					initQkData(data.gid);
					//雷达能力图
					studentAbilityinfoInit(data.gid);
					studentWorkInfoInit(data.gid);
				}
			}
		})
		//全部年级
		$.ajax({
			type : "post",
			url : adress.url + "/statistics/queryGradeListBySid",
			data : {
				sId : sId
			},
			async:false,
			success : function(data) {
				var vue = new Vue({
					el:"#gradeSelect",
					data:{
						gid:currentGrade.gid,
						list:data
					},
					watch:{
						gid(){
							InitTestData(this.gid);
							initQkData(this.gid);
							//（雷达能力图）
							studentAbilityinfoInit(this.gid);
							//作业统计情况
							studentWorkInfoInit(this.gid);
						}
					}
				})
				console.log(data);
			}
		})
		//加载劣势知识点部分
		initBadKnowledagePoint();
	}
	function InitTestData(gId) {
		myChar1.showLoading();
		var scoreArr = [];
		var TestTimeNameArr = [];
		$.ajax({
			type : "post",
			url : adress.url + "/statistics/getDataAboutAllTestBySid",
			data : {
				sId:sId,
				gId:gId
			},
			success : function(data) {
				console.log(data);
				for (var i = 0; i < data.length; i++) {
					//分数集合
					scoreArr.push(data[i].studentScore100);
					//日期集合+考试每次
					TestTimeNameArr.push(data[i].testName + "\n" + data[i].testTsime);
				}
				if(data!=""){//没有查询到考试成绩数据
					var option1 = {
							dataZoom: [
						    {   // 这个dataZoom组件，默认控制x轴。
						        type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
						        start: 10,      // 左边在 10% 的位置。
						        end: 60         // 右边在 60% 的位置。
						    },
						    {   // 这个dataZoom组件，也控制x轴。
						        type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
						        start: 10,      // 左边在 10% 的位置。
						        end: 60         // 右边在 60% 的位置。
						    }],
							title : {
								text:"1,2,3,4",
								show:false
							},
							tooltip : {
								trigger : 'axis'
							},
							toolbox : {
								show : true,
								feature : {
									dataZoom : {
										yAxisIndex : 'none'
									},
									dataView : {
										readOnly : true
									},
									magicType : {
										type : [ 'line', 'bar' ]
									},
									restore : {},
									saveAsImage : {}
								}
							},
							xAxis : {
								type : 'category',
								boundaryGap : false,
								data : TestTimeNameArr
							},
							yAxis : {
								type : 'value',
								axisLabel : {
									formatter : '{value} 分'
								}
							},
							series : [ {
								name : '分数',
								type : 'line',
								label : {
									normal : {
										show : true,
										position : 'inside'
									}
								},
								data : scoreArr,
								markPoint : {
									data : [ {
										type : 'max',
										name : '最大值'
									}, {
										type : 'min',
										name : '最小值'
									} ]
								},
								markLine : {
									data : [ {
										type : 'average',
										name : '平均值'
									} ]
								}
							} ]
						};
					myChar1.setOption(option1,true);
					myChar1.getZr().on('click',function (params) {
					  	const pointInPixel= [params.offsetX, params.offsetY];
					    if (myChar1.containPixel('grid',pointInPixel)) {
							var pointInGrid=myChar1.convertFromPixel({seriesIndex:0},pointInPixel);
					        //X轴序号
					        var xIndex=pointInGrid[0];
				 
				            //获取当前图表的option
					        var op=myChar1.getOption();
				 
				            //获得图表中我们想要的数据
					        var month=op.xAxis[0].data[xIndex];
				            //获取标题中的隐藏字段（id集合 考试id）
				            //console.log(op.title[0].text);
				            var ids = op.title[0].text.split(",");
				            
				            //跳转查询具体某场考试分析
				            //window.location.href=adress.url+"/statistics/gotoStudentText?sId="+sId+"&tId="+ids[xIndex];
				            window.location.href=adress.url+"/statistics/gotoStudentText?sId="+1+"&tId="+1;
						}
					});
				}else{
					myChar1.setOption(noDataLoadingOption,true);
					
				}
				myChar1.hideLoading();
			}
		});
	}
	function initQkData(gId){
		myChar2.showLoading();
		var kQStateNameArr = [];//考勤類別名稱
		var kQStateNameAndTotalArr =[];//考勤狀態名稱和狀態
		$.ajax({
			type : "post",
			url : adress.url + "/statistics/getDataAboutQkBySidAndGid",
			data : {
				sId:sId,
				gId:gId
			},
			success : function(data) {
				console.log(data);
				for(var i = 0;i<data.length;i++){
					kQStateNameArr.push(data[i].kqStateName);
					var kq ={};
					kq.value = data[i].totalCount;
					kq.name = data[i].kqStateName;
					kQStateNameAndTotalArr.push(kq);
				}
				if(data!=""){
					var option2 = {
						tooltip : {
							trigger : 'item',
							formatter : "{b}: {c} ({d}%)"
						},
						toolbox : {
							show : true,
							feature : {
								dataView : {
									readOnly : true
								},
								saveAsImage : {}
							}
						},
						legend : {
							orient : 'vertical',
							x : 'left',
							data : kQStateNameArr
						},
						series : [ {
							labelLine : {
								normal : {
									show : false
							}
						},
						type : 'pie',
						radius : [ '40%', '55%' ],
						label : {
							normal : {
								formatter : '{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
								backgroundColor : '#eee',
								borderColor : '#aaa',
								borderWidth : 1,
								borderRadius : 4,
								shadowBlur : 3,
								shadowOffsetX : 2,
								shadowOffsetY : 2,
								shadowColor : '#999',
								padding : [ 0, 0 ],
								rich : {
									a : {
										color : '#999',
										lineHeight : 22,
										align : 'center'
									},
									hr : {
										borderColor : '#aaa',
										width : '100%',
										borderWidth : 0.5,
										height : 0
									},
									b : {
										fontSize : 16,
										lineHeight : 33
									},
									per : {
										color : '#eee',
										backgroundColor : '#334455',
										padding : [ 2, 4 ],
										borderRadius : 2
									}
								}
							}
						},
						data : kQStateNameAndTotalArr
						} ]
					};
					myChar2.setOption(option2,true);
				}else{//沒有數據
					myChar2.setOption(noDataLoadingOption,true);
				}
				myChar2.hideLoading();
			}//success
		})
	}
	//加载劣势知识点
	function initBadKnowledagePoint(){
		$.ajax({
			type : "post",
			url : adress.url + "/statistics/getDataAboutBadKnowledage",
			data : {
				sId:sId
			},
			success : function(data) {
				console.log(data);
				var vue = new Vue({
					el:"#badKnowledageSec",
					data:{
						badKnowledageList:data
					},
					methods:{
						//劣势知识点上报
						submitKnowledagePoint:function(e){
							var selectedDom = $(e.srcElement)//当前dom元素
							var studentId = selectedDom.attr("studentId");
							var knowledageId = selectedDom.attr("knowledageId");
							var courseId = selectedDom.attr("courseId");
							$.ajax({
								type : "post",
								url : adress.url + "/statistics/submitBadKnowledage",
								data : {
									sId:studentId,
									knowledageId:knowledageId,
									courseId:courseId
								},
								success : function(data) {
									if(data>0){
										alert("上报成功");
										//doto
										//禁止上报按钮
									}
								}
							});
							
							
							
							
							
							
							
							
						}
					}
				});
			}
		});
		
	}
	//学员能力计算初始化
	function studentAbilityinfoInit(gId){
		$.ajax({
			type : "post",
			url : adress.url + "/statistics/queryStudentAbility",
			data : {
				sId:sId,
				gId:gId
			},
			success : function(data) {
				console.log(data);
				var indicator = [ {
					'name' : '理解',
					'max' : 100
				}, {
					'name' : '识记',
					'max' : 100
				}, {
					'name': '自控力',
					'max' : 100
				}, {
					'name' : '应用上机',
					'max' : 100
				}, {
					'name' : '课堂表现',
					'max' : 100
				} ];

				//<=80 优秀 <80 >=60 良好 <60差
				for(var i= 0;i<data.length;i++){
					if(data[i]>=80){
						indicator[i].name +="(优秀)";
					}else if(data[i]<80 && data[i]>=60){
						indicator[i].name +="(一般)";
					}else{
						indicator[i].name +="(差)";
					}
				}
				
				myChar.showLoading();
				option = {
						title : {

						},
						tooltip : {},
						legend : {
							data : [ '学员能力值']
						},
						radar : {
							center : [ '50%', '55%' ],
							// shape: 'circle',
							name : {
								textStyle : {
									color : '#fff',
									backgroundColor : '#999',
									borderRadius : 3,
									padding : [ 3, 5 ]
								}
							},
							indicator : indicator
						},
						series : [ {
							type : 'radar',
							// areaStyle: {normal: {}},
							data : [ {
								value : data,
								label : {
									show : true, //是否显示标签。
									position : "insideTop", //标签的位置。// 绝对的像素值[10, 10],// 相对的百分比['50%', '50%'].'top','left','right','bottom','inside','insideLeft','insideRight','insideTop','insideBottom','insideTopLeft','insideBottomLeft','insideTopRight','insideBottomRight'
									offset : [ -10, 0 ], //是否对文字进行偏移。默认不偏移。例如：[30, 40] 表示文字在横向上偏移 30，纵向上偏移 40。
									formatter : '{c}', //标签内容格式器。模板变量有 {a}、{b}、{c}，分别表示系列名，数据名，数据值。
								},
								name : '学员能力值'
							} ]
						} ]
					};
				
				
				//设置参数
				myChar.setOption(option,true);
				//关闭动画
				myChar.hideLoading();
				
				
			}
		});
		
		
		
		
	}
	
	//查询学员作业情况
	function studentWorkInfoInit(gId){
		if(gId == -1)
			gId = null;//查询全部
		myChar3.showLoading();
		$.ajax({
			type : "post",
			url : adress.url + "/statistics/getDataAboutWorkInfo",
			data : {
				sId:sId,
				gId:gId
			},
			success : function(data) {
				console.log("学员作业统计"+data.length);
				var vue =new Vue({
					el:"#workTableSec",
					data:{
						workInfoList:data,
						workTotalCount:0
					},
					 beforeMount:function(){
						 this.workTotalCount =  0;//清0
						//计算作业上交总数
						for(var i = 0;i< this.workInfoList.length;i++){
							this.workTotalCount = this.workTotalCount+this.workInfoList[0].workCount;
						}
					}
				});
				if(data.length == 0){//无数据
					myChar3.setOption(noDataLoadingOption,true);
					//隐藏下载报表按钮（作业）
					$("#downLoadWorkBtn").hide();
				}else{
					//显示下载报表按钮(作业)
					$("#downLoadWorkBtn").show();
					//筛选数据
					var rankNameArr = [];
					var workDataArr = [];
					for(var i = 0; i <data.length;i++){
						rankNameArr.push(data[i].rankName);//等级名称
						var workData ={};
						workData.name = data[i].rankName;
						workData.value = data[i].workCount;
						workDataArr.push(workData);//次数
					}
					console.log(rankNameArr);
					console.log(workDataArr);
					//图形
					var option = {
						tooltip : {
					        trigger: 'item',
					        formatter: "{a} <br/>{b} : {c} ({d}%)"
					    },
					    legend: {
					        x : 'center',
					        y : 'bottom',
					        data: rankNameArr
					    },
					    series : [
					        {
					            name: '等级：次数/（占比%）',
					            type: 'pie',
					            radius : '50%',
					            data:workDataArr,
					            itemStyle: {
					                emphasis: {
					                    shadowBlur: 10,
					                    shadowOffsetX: 0,
					                    shadowColor: 'rgba(0, 0, 0, 0.5)'
					                }
					            }
					        }
					    ]
					};
					myChar3.setOption(option,true);
					console.log("123123123"+JSON.stringify(option));
				}
				//关闭动画
				myChar3.hideLoading();
			}
		});
			
		function updateXlsxName(name){/* name为固定名称 */
			
		}
	}
</script>

</html>