<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>学员考试统计</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" th:href="../css/ready.css">
		<style type="text/css">
			.card{
				border-radius: 0px;
			    background-color: #ffffff;
			    margin-bottom: 0px;
			    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
			    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
			    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
			    border: 1px solid #eee;
			}
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">学员考试统计</h4>
					<div class="row">
						<!--单次考试统计-->
						<div class="card col-lg-12">
							<div class="card-header">
								<h4 class="card-title">
									学员考试得分情况
								</h4>
								<p class="card-category">
									<p>考生学号：<span>20170001</span></p>
									<p>考生名称：<span>张泽阳</span></p>
									<p>试卷名称：<span>JAVAOOP测试</span></p>
									<p>考试时间：<span>2018/12/12 8:00-9:00</span></p>
								</p>
							</div>
							<div class="card-body">
								<table class="table table-bordered mt-1" style="text-align: center;">
									<thead>
										<tr>
											<th scope="col" rowspan="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">题目类别/知识点</font></font></th>
											<th scope="col" colspan="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">识记</font></font></th>
											<th scope="col" colspan="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">理解</font></font></th>
											<th scope="col" rowspan="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">应用上机</font></font></th>
											<th scope="col" rowspan="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">总得分</font></font></th>
											<th scope="col" rowspan="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">总得分率</font></font></th>
										</tr>
										<tr>
											<th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">分布</font></font></th>
											<th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">得分点</font></font></th>
											<th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">分布</font></font></th>
											<th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">得分点</font></font></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">javaOOP</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
												<button class="btn btn-primary btn-xs">1</button>
												<button class="btn btn-primary btn-xs">2</button>
											</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4/6</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
												<button class="btn btn-primary btn-xs">1</button>
												<button class="btn btn-primary btn-xs">2</button>
											</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4/6</font></font></td>
											<td rowspan="100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4/4</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4/4</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">30%</font></font></td>
										</tr>
										<tr>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JS节点</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
												<button class="btn btn-primary btn-xs">1</button>
												<button class="btn btn-primary btn-xs">2</button>
											</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4/4</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
												<button class="btn btn-primary btn-xs">1</button>
												<button class="btn btn-primary btn-xs">2</button>
											</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4/4</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4/4</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20%</font></font></td>
										</tr>
										
										
										<tr>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">得分率</font></font></td>
											<td colspan="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">40%</font></font></td>
											<td colspan="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">40%</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4/4</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">30%</font></font></td>
										</tr>
										<tr>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">总分</font></font></td>
											<td colspan="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20/40</font></font></td>
											<td colspan="2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20/40</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4/4</font></font></td>
											<td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20%</font></font></td>
										</tr>
										
									</tbody>
								</table>
							</div>
							<div class="card-footer">
								<i class="la la-circle text-primary"></i>
									 查看详情
							</div>
							
						</div>
						<!--试卷分析-->
						<div class="card col-lg-12">
							<div class="card-header">
								<h4 class="card-title">
									考试分析
								</h4>
							</div>
							<div class="card-body">
								<div id="textAnalyse"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>