<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>教员首页</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/ready.css">
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">教员首页</h4>
					<div class="row">
						<div class="card col-lg-12">
							<div class="card-header">
								<h4 class="card-title">个人信息</h4>
							</div>
							<div class="card-body" style="text-align: center;">
								<div>
									<img src="">
								</div>
								<p>部门：唐勇</p>
								<p>姓名：唐勇</p>
								<p>编号：20001</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>