<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>添加通知</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/ready.css">
		<link rel="stylesheet" th:href="@{/static/css/load.css}">
		<script th:src="@{/static/js/cqj_infoBut.js}"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script src="/static/js/core/jquery.min.js"></script>
		<style type="text/css">
			.content div{width: 100%;}
			/* .form-control.input-full{width: 50% !important;} */
			.form-group.form-inline{padding-right: 10%;}
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">添加通知</h4>
					<div class="tzx" style="width: 100%;height: 100%;">
						
						<div class="card">
							<div class="card-header" style="">
								<!-- <div class="card-title">选择学生</div> -->
								<div class="form-group form-inline" style="padding-bottom: 0px;">
									<label for="inlineinput" class="col-md-2 col-form-label">标题</label>
									<div class="col-md-9 p-0">
										<input type="text" class="form-control input-full" id="inlineinput" name="title" placeholder="此处输入标题" value="">
									</div>
									<span class="" style="text-align: center;width: 100%;padding-top: 5px;">
											<span style="display: inline-block;width: 40%;" class="sendername">老王</span>
											<span style="display: inline-block;width: 40%;" class="sendtime">2019-01-01</span>
									</span>
								</div>
							</div>
							<div class="card-body content" style="margin-top: 0px;">
								
								<script id="editor" type="text/plain" style="width:100%;min-height:300px"></script>
																<div class="form-group" style="display: inline-block;width: 20%;">
									<label for="exampleSelect">选择人群：</label>
									<select class="form-control form-control-sm" id="smallSelect" name="receiverrange">
										<option value="0">全部</option>
										<option value="0">员工</option>
										<option value="0">学生</option>
										<option value="0">教员</option>
										<option value="0">班主任</option>
										<option value="0">宿管</option>
										<option value="0">家长</option>
										<option value="0">勤务</option>
										<option value="0">出勤人员</option>
									</select>
								</div>
								<div class="form-group" style="display: inline-block;width: 20%;" name="grade">
									<label for="exampleSelect">年级：</label>
									<select class="form-control form-control-sm" id="smallSelect">
										<option>S1</option>
										<option>S2</option>
										<option>Y2</option>
									</select>
								</div>
								<div class="form-group" style="display: inline-block;width: 20%;" name="clazz">
									<label for="exampleSelect">班级：</label>
									<select class="form-control form-control-sm" id="smallSelect">
										<option>AT1717</option>
										<option>AT1718</option>
										<option>AT1719</option>
									</select>
								</div>
							</div>
						</div>
						<p class="demo">
							<button infoBut moduleUrl="notice/insert" class="btn btn-success btn-lg" onclick="addnotice()">发布</button>
							<button class="btn btn-link" disabled style="color: red;">放弃</button>
						</p>
					</div>
				</div>
			</div>
		</div>

	</body>
<script type="text/javascript">
   //实例化编辑器
   //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
   var ue = UE.getEditor('editor', {
   	toolbars: [
		['fullscreen', 'source', 'undo',  'redo', 'bold', 'italic', 
		'underline','fontborder', 'backcolor', 'fontsize', 'fontfamily', 
        'indent', '|',
        'touppercase', 'tolowercase', '|',
		'justifyleft', 'justifyright','justifycenter', 'justifyjustify', 
		'strikethrough','superscript', 'subscript', 'removeformat',
		'formatmatch','autotypeset', 'blockquote', 'pasteplain', '|',
		'forecolor', 'backcolor','insertorderedlist', 'insertunorderedlist', 
		'selectall', 'cleardoc', 'link', 'unlink', 'anchor','emotion', '|',
        'simpleupload','insertimage', '|',
        'imagenone', 'imageleft', 'imageright', 'imagecenter', 'help']
		]
		});
   function isFocus(e){
       alert(UE.getEditor('editor').isFocus());
       UE.dom.domUtils.preventDefault(e)
   }
   function setblur(e){
       UE.getEditor('editor').blur();
       UE.dom.domUtils.preventDefault(e)
   }
   function insertHtml() {
       var value = prompt('插入html代码', '');
       UE.getEditor('editor').execCommand('insertHtml', value)
   }
   function createEditor() {
       enableBtn();
       UE.getEditor('editor');
   }
   function getAllHtml() {
       alert(UE.getEditor('editor').getAllHtml())
   }
   function getContent() {
       var arr = [];
       arr.push("使用editor.getContent()方法可以获得编辑器的内容");
       arr.push("内容为：");
       arr.push(UE.getEditor('editor').getContent());
       alert(arr.join("\n"));
       return UE.getEditor('editor').getContent();
   }
   function getPlainTxt() {
       var arr = [];
       arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
       arr.push("内容为：");
       arr.push(UE.getEditor('editor').getPlainTxt());
       alert(arr.join('\n'))
   }
   function setContent(isAppendTo) {
       var arr = [];
       arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
       UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
       alert(arr.join("\n"));
   }
   function setDisabled() {
       UE.getEditor('editor').setDisabled('fullscreen');
       disableBtn("enable");
   }
   function setEnabled() {
       UE.getEditor('editor').setEnabled();
       enableBtn();
   }
   function getText() {
       //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
       var range = UE.getEditor('editor').selection.getRange();
       range.select();
       var txt = UE.getEditor('editor').selection.getText();
       alert(txt)
   }
   function getContentTxt() {
       var arr = [];
       arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
       arr.push("编辑器的纯文本内容为：");
       arr.push(UE.getEditor('editor').getContentTxt());
       alert(arr.join("\n"));
   }
   function hasContent() {
       var arr = [];
       arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
       arr.push("判断结果为：");
       arr.push(UE.getEditor('editor').hasContents());
       alert(arr.join("\n"));
   }
   function setFocus() {
       UE.getEditor('editor').focus();
   }
   function deleteEditor() {
       disableBtn();
       UE.getEditor('editor').destroy();
   }
   function disableBtn(str) {
       var div = document.getElementById('btns');
       var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
       for (var i = 0, btn; btn = btns[i++];) {
           if (btn.id == str) {
               UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
           } else {
               btn.setAttribute("disabled", "true");
           }
       }
   }
   function enableBtn() {
       var div = document.getElementById('btns');
       var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
       for (var i = 0, btn; btn = btns[i++];) {
           UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
       }
   }
   function getLocalData () {
       alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
   }
   function clearLocalData () {
       UE.getEditor('editor').execCommand( "clearlocaldata" );
       alert("已清空草稿箱")
   }
</script>
<script>
	ue.ready(function(){
// 		UE.getEditor('editor').setHeight(300)
	});
	var count = 0;
	var sumCount=2;
	$(function(){
		infoBut.ccc();	//开始处理按钮权限
		querpersonerInfo();
	})
//发布通知
function addnotice(){
	var title=$("[name=title]").val()
	var content=getContent()
	var receiverrange=$("select[name=receiverrange]").val()
	var receiverid=$("select[name=receiverrange]").val()
	var data="title="+title+"&content="+content+"&receiverrange="+receiverrange+"&receiverid="+receiverid;
	alert(data)
	console.log(data)
		$.post("addnotice",data,function(result){
// 		alert(result)
		console.log("结果："+result)
		if(result==0){
			console.log("失败！")
			alert("发布失败！")
		}else{
			console.log("成功！")
			alert("发布成功！")
			location.href="/notice"
		}
	})
}
function querpersonerInfo(){
	$.post("querpersonerInfo","",function(result){
		console.log(result)
		$(".sendername").text(result.standby1)
		$(".sendtime").text()
// 		alert(result.standby1)
		infoBut.fadeOut();	//结束处理按钮权限
	})
}
</script>
<script type="text/javascript">
//     var ue = UE.getEditor('editor', {
//     	toolbars: [
//     		['fullscreen', 'source',  'redo', 'bold', 'italic', 
//     		'underline','fontborder', 'backcolor', 'fontsize', 'fontfamily', 
//     		'justifyleft', 'justifyright','justifycenter', 'justifyjustify', 
//     		'strikethrough','superscript', 'subscript', 'removeformat',
//     		'formatmatch','autotypeset', 'blockquote', 'pasteplain', '|',
//     		'forecolor', 'backcolor','insertorderedlist', 'insertunorderedlist', 
//     		'selectall', 'cleardoc', 'link', 'unlink','emotion', 'help']
//     		]
//     		});
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function(action) {
        if (action == 'uploadimage' || action == 'uploadscrawl' || action == 'uploadimage') {
            return '/imgUpdate'; //在这里返回我们实际的上传图片地址
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    }
</script>
</html>