<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>开班</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/ready.css">
		<script src="static/js/core/jquery.3.2.1.min.js"></script>
		<script src="../static/js/core/vue.js"></script>
		<style type="text/css">
			.jb .form-control{width: 50%;}
			.form-group, .form-check{padding: 10px 10px}
			.sel input{position:relative;left:auto;position:unset;} 
			.sel .btnchooseClose:hover{backgroud-color:red;}
			.form-group{position: relative;}
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">开班</h4>
					<div class="tzx" style="width: 100%;height: 100%;">
						<div class="card jb">
							<div class="card-header">
								<div class="card-title">基本信息</div>
							</div>
							<div class="card-body">
								<div class="form-group">
									<label for="smallInput">名称：</label>
									<input type="text" class="form-control form-control-sm" id="smallInput" name="cname" placeholder="例如：AT1717" disabled="disabled">
									<label class="pc" style="position: absolute;font-size: 9px !important;top: 15%;left: 15%;color:rgba(63, 64, 71, 0.49) !important;">批次： </label>
									<label class="isFirstGrade" style="position: absolute;font-size: 9px !important;top: 15%;left: 30%;color:rgba(63, 64, 71, 0.49) !important;">类型：</label>
								</div>
								<div class="form-group">
									<label for="exampleSelect">版本：</label>
									<select class="form-control form-control-sm" id="smallSelect" name="vid" @change="getSelVersion(version)" v-model="version">
										<option v-for="obj,index in versionlist" v-bind:vid="obj.vid" v-bind:value="obj.vid">{{obj.versionof}}</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleSelect">年级：</label>
									<select class="form-control form-control-sm" id="smallSelect" name="gid" @change="getSelGrade(grade)" v-model="grade">
										<option v-for="obj,index in gradelist" v-bind:gid="obj.gid" v-bind:value="obj.gid">{{obj.gradeName}}</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleSelect">专业：</label>
									<select class="form-control form-control-sm" id="smallSelect" name="mid" @change="getSelMajor(major)" v-model="major">
										<option v-if="-1==major" mid="-1" value="-1">该年级不分专业</option>
										<option v-for="obj,index in selmajorlist" v-bind:mid="obj.mid" v-bind:value="obj.mid">{{obj.majorName}}</option>
<!-- 										<optgroup v-for="obj,index in versionlist" v-bind:vid="obj.vid" label="obj.versionof"> -->
<!-- 											<sonOfBC v-for="obj1,index in majorlist"> -->
<!-- 												<option v-if="obj1.user1==version" v-bind:mid="obj1.mid" v-bind:value="obj1.mid">{{obj1.majorName}}</option> -->
<!-- 											</sonOfBC> -->
<!-- 										</optgroup> -->
									</select>
								</div>
								<div class="form-group">
									<label for="exampleSelect">班主任：</label>
									<select v-if="null!=mlist" class="form-control form-control-sm" id="smallSelect" name="tid">
										<option v-for="obj,index in mlist.staffVOList" v-bind:value="obj.staffId">{{obj.staffName}}--综合评分：{{obj.staffScore}}</option>
									</select>
									<select v-if="null==mlist" class="form-control form-control-sm" id="smallSelect" name="tid">
										<option value="-1">为查询到班主任</option>
									</select>
								</div>
							</div>

						</div>

						<div class="card teacher">
							<div class="card-header">
								<div class="card-title">选择教员</div>
							</div>
							<div class="card-body">
								<table class="table table-head-bg-success table-striped table-hover">
									<thead>
										<tr>
											<th scope="col">名称</th>
											<th scope="col">专业</th>
											<th scope="col">课时</th>
											<th scope="col">版本</th>
											<th scope="col">没想好</th>
											<th scope="col">教员</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="obj,index in tlist" class="t-content">
											<td><input type="hidden" name=courseid v-bind:value="obj.courseId" style="border: 0px;width: 100%;">{{obj.courseName}}</td>
											<td>{{getVMname(1)}}</td>
											<td>{{obj.coursePeriod}}</td>
											<td>{{getVMname(0)}}</td>
											<td>30</td>
											<td>
												<select v-if="null!=tlist" class="form-control form-control-sm" id="smallSelect" name=tid>
													<option v-for="obj1,index1 in obj.staffVOList" v-bind:value="obj1.staffId">{{obj1.staffName}}</option>
												</select>
												<select v-if="null==tlist" class="form-control form-control-sm" id="smallSelect" name=tid>
													<option value="-1">为查询到教员</option>
												</select>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
						<div class="card student">
							<div class="card-header">
								<div class="card-title">选择学生</div>
							</div>
							<div class="card-body">
								<table class="table table-head-bg-success table-striped table-hover">
									<thead>
										<tr>
											<th scope="col">姓名</th>
											<th scope="col">性别</th>
											<th scope="col">生日</th>
											<th scope="col">电话</th>
											<th scope="col">状态</th>
											<th scope="col">额外信息</th>
											<th scope="col">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="obj,index in targetstulist" class="s-content">
											<td><input type="hidden" name=sid v-bind:value="obj.studentid" v-bind:studentnub="obj.studentnub" style="border: 0px;width: 100%;">{{obj.studentname}}</td>
											<td v-if="1==obj.sex">男</td><td v-if="0==obj.sex">女</td>
											<td>{{obj.birthday}}</td>
											<td>{{obj.phone}}</td><td>新生</td>
											<td style="font-size:8px;max-width:100px;padding: 0 !important;">
												<span v-if="null!=obj.studentnub">学号：{{obj.studentnub}}</span>
												<span v-if="null!=obj.gname">原年级：{{obj.gname}}-原班级：{{obj.cname}}</span>
												<span v-if="-1!=obj.mid&&null!=obj.mid">专业：{{obj.mname}}</span>
												<span v-if="null!=obj.tagetgName">年级：{{obj.tagetgName}}</span>
											</td>
											<td onclick="delstu(this)" v-bind:studentid="obj.studentid">删除</td>
										</tr>
									</tbody>
								</table>
								<p class="demo">
									<button onclick="showChoose()" class="btn btn-primary btn-xs">添加学生</button>
								</p>
							</div>
						</div>
						<p class="demo">
							<button class="btn btn-success btn-lg" onclick="createClazz()">马上开班</button>
							<button class="btn btn-link" disabled style="color: red;">放弃</button>
						</p>
						<div class="sel" style="display:none;background:rgba(255,255,255,0.6);width:100%;min-width:500px;height:100%;min-height:300px;position:fixed;top:0;left:0;">
							<p class="demo" style="position: absolute;top: 14%;right: 11%;z-index:99;">
								<button onclick="chooseAll()" class="btn btn-primary btn-xs">添加学生</button>
								<button onclick="chooseClose()" class="btnchooseClose btn btn-warning btn-xs">取消</button>
							</p>
							<div style="background:#66ccd0;max-height: 35%;overflow-y: auto;min-width:80%;min-height:300px;position:absolute;top:13%;left:10%;">
								<label for="exampleSelect">升学：</label>
								<div class="card-body">
									<table class="table table-head-bg-success table-striped table-hover">
										<thead>
											<tr>
												<th scope="col">选择</th>
												<th scope="col">姓名</th>
												<th scope="col">生日</th>
												<th scope="col">版本</th>
												<th scope="col">年级</th>
												<th scope="col">状态</th>
												<th scope="col">额外信息</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="obj,index in selstudentlist">
												<td><label class="form-check-label"><input type="checkbox" name=studentid v-bind:value="obj.studentid" v-bind:studentnub="obj.studentnub" style=""><span class="form-check-sign"></span><label></td>
												<td>{{obj.studentname}}</td>
												<td style="font-size:8px;">{{obj.birthday}}</td>
												<td style="font-size:8px;">{{obj.vname}}</td>
												<td v-if="null==obj.tagetgName">{{obj.gname}}</td><td v-if="null!=obj.tagetgName">{{obj.tagetgName}}</td>
												<td v-if="null==obj.studentnub">新生</td>
												<td v-if="null!=obj.tagetgName">升学</td>
												<td v-if="null==obj.tagetgName&&null!=obj.studentnub">游离</td>
												<td style="font-size:8px;">
													<span v-if="null!=obj.gname">原年级：{{obj.gname}}-原班级：{{obj.cname}}</span>
													<span v-if="null!=obj.studentnub&null!=obj.tagetgName">学号：{{obj.studentnub}}原班级：{{obj.cname}}-年级：{{obj.gname}}-原专业：{{obj.mname}}</span>
												</td>
											</tr>
											
										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
	var v=new Vue({
		el : ".tzx",
		data : {
			user:{userid:"2"},
			versionlist:null,	//版本列表
			gradelist:null,		//年级列表
			majorlist:null,		//所有专业列表
			selmajorlist:null,	//筛选出的专业列表结果
			version:null,
			grade:null,
			major:null,	//null为非正常获取  0位改年级不分专业  >0表示正常专业
			teacherlist:null,
			studentlist:null,
			selstudentlist:null,
			pc:null,			//获取批次
			cname:null,			//获取班级名
			isFirstGrade:null,	//判断为新生班还是升学班
			mlist:null,
			tlist:null,
			targetstulist:[]	//选中的开班学生集合
		},
		methods:{
			//获取选择的版本或专业名称-来自当前的下选框
			getVMname:function(vm){
				var name=""
				if(0==vm){
					var name=$("select[name=vid]").find("option:selected").text()
				}else{
					var name=$("select[name=mid]").find("option:selected").text()
				}
				return name
			},
			getSelVersion:function(version){
				console.log("选择版本："+version)
				v.version=version
				v.tlist=null
				getAllGrade(version)
			},
			getSelGrade:function(grade){
				console.log("选择了年级："+grade)
				v.grade=grade
				v.tlist=null
				//绑定版本年级对应的专业列表
				BindingMajorListAfterselGrade()
				allotClazzName()	//获取班级名
				isFirstGrade()	//判断为新生班还是升学班
			},
			getSelMajor:function(major){
				alert(major)
				console.log("选择专业："+major)
				v.major=major
				allotClazzPC()
			}
		}
	})
	$(function(){
		getAllVersion();
		getAllMajor()
		querystudent()
		
		console.log(v.version)
		
		$(".sel table tbody tr").click(function(){
			$(this).find("input").attr("checked","checked")
			console.log("选中")
		})
	})
	//开班
	function createClazz(){
		if(null==v.major){
			alert("所选专业信息异常，无法开班")
			return
		}
		console.log("版本-年级-专业："+v.version+"-"+v.grade+"-"+v.major)
		var cname=$("[name=cname]").val()
		var gid=$("[name=gid]").val()
		var mid=$("[name=mid]").val()
		var tid=$("[name=tid]").val()
		var data="cname="+cname+"&gid="+gid+"&mid="+mid;
		var tlist=$(".teacher table .t-content")
		var slist=$(".student table .s-content")
		data+="&tlist[0].tid="+tid+"&tlist[0].ismaster=1&tlist[0].isteacher=0"
		console.log(tlist)
		if(null==tlist||undefined==tlist||0==tlist.length){
			alert("课程-教员信息不全，无法开班")
			return
		}
		if(0==slist.length){
			alert("学生为空，无法开班")
			return
		}
		$.each(tlist,function(index,obj){
			var courseid=$(obj).find("input[name=courseid]").val()
			var tid=$(obj).find("[name=tid]").val()
			if(null==tid||undefined==tid){
				alert("课程-教员信息不全，无法开班")
				return
			}
			data+="&tlist["+(index+1)+"].courseid="+courseid+"&tlist["+(index+1)+"].tid="+tid+"&tlist["+(index+1)+"].ismaster=0&tlist["+(index+1)+"].isteacher=1"
			console.log(obj)
		})
		$.each(slist,function(index,obj){
			var sid=$(obj).find("[name=sid]").val()
			var snub=$(obj).find("[name=sid]").attr("studentnub")
			console.log("添加学生"+sid+""+snub)
			data+="&slist["+(index)+"].studentid="+sid
			if(null!=snub&&undefined!=snub){
				data+="&slist["+(index)+"].studentnub="+snub
			}
			console.log(obj)
		})
		alert("添加学生："+slist.length+"个")
		data+="&count="+slist.length
		console.log(data)
		$.post("craeteClazz",data,function(result){
			console.log(result)
			if(0<result){
				alert("开班成功！")
				window.location.reload()
			}else{
				alert("开班失败！")
			}
		})
	}
	//获取版本
	function getAllVersion(){
		$.post("zzy/AjaxqueryAllVersion","",function(result){
			console.log("获取到版本：")
			console.log(result)
			v.versionlist=result
			v.version=v.versionlist[0].vid
			console.log(v.version)
			//默认加载第一个版本的年级
			getAllGrade(v.version)
		})
	}
	//获取年级--/queryByvid  --/queryGradeAll
	function getAllGrade(vid){
		$.post("zzy/queryByvid","vid="+vid,function(result){
			console.log("获取到年级：")
			console.log(result)
			v.gradelist=result
			if(result.length==0){
				v.grade=null
				v.major=null
				alert("没有找到相关年级")
			}else{
				v.grade=v.gradelist[0].gid
				//绑定版本年级对应的专业列表
				BindingMajorListAfterselGrade()
				allotClazzName()	//获取班级名
				isFirstGrade()	//判断为新生班还是升学班
			}
			console.log(v.grade)
		})
	}
	//获取所有专业
	function getAllMajor(){
		$.post("zzy/queryMajorAll","",function(result){
			console.log("获取到专业：")
			console.log(result)
			v.majorlist=result
			if(result.length==0){
				v.major=null
				alert("获取数据异常：未正常查询到所有专业列表")
			}
		})
	}
	//选择年级后判断是否需要选择专业---并----绑定专业列表
	function BindingMajorListAfterselGrade(){
		var majorbool=null;
		for(var i=0;i<v.gradelist.length;i++){
			if(v.grade==v.gradelist[i].gid){
				var majorbool=v.gradelist[i].user1
			}
		}
		if(1==majorbool){
			console.log("该年级分了专业")
			if(v.majorlist==null){
				getAllMajor()
				if(v.majorlist==null){
					return
				}
			}
			var list=[]
			for(var i=0;i<v.majorlist.length;i++){
				if(v.majorlist[i].user1==v.version){
					list.push(v.majorlist[i])
				}
			}
			v.selmajorlist=list
			console.log("相关专业："+v.selmajorlist.length)
			if(0==v.selmajorlist.length){
				console.log("数据异常:专业列表中没有匹配的专业")
				v.major=null
			}else{
				v.major=v.selmajorlist[0].mid
				allotClazzPC()
				//获取课程-教员
				getTeacherList()
			}
			console.log(v.selmajorlist)
		}else{
			console.log("该年级不分专业")
			v.major=-1
			allotClazzPC()
			//获取课程-教员
			getTeacherList()
		}
	}
	//分配班级编号名
	function allotClazzName(){
		var id=1
		var array=[5,6,9,10,12,13,14]
		arrayStr=""
		for(var i=0;i<array.length;i++){
			arrayStr+="&array="+array[i]
			console.log(array[i])
		}
		console.log(arrayStr)
// 		arrayStr="&array=5&array=6&array=9&array=10&array=12&array=13&array=14";
		$.post("allotClazzName","id="+id+arrayStr,function(result){
			console.log("分配班级编号名：")
			console.log(result)
			$("input[name=cname]").val(result)
			if(result.length==0){
				v.major=null
				alert("获取数据异常：未正常查询班级编号名")
			}
		})
	}
	//分配班级批次
	function allotClazzPC(){
		if(v.grade==null){
			alert("请先选择年级,才能分配到班级批次！")
			return
		}
		$.post("allotClazzPC","gid="+v.grade+"&mid="+v.major,function(result){
			console.log("获取到班级批次：")
			console.log(result)
			v.pc=result
			$(".pc").text("批次："+result)
		})
	}
	//获取课程-教员列表
	function getTeacherList(){
		if(v.grade==null||v.major==null){
			alert("所选年级或专业信息不全！")
			return
		}
		var gId=v.grade
		var mId=v.major
		console.log("查询课程-教员条件："+gId+"-"+mId)
		$.post("statistics/getStaffsAboutOpenClass","gId="+gId+"&mId="+mId,function(result){
			console.log("获取到课程-教员列表：")
			console.log(result)
			v.teacherlist=result
			if(result.length==0){
				v.teacherlist=null
				v.mlist=null
				v.tlist=null
				alert("获取数据异常：未正常查询到所有课程-教员列表")
			}else{
				v.mlist=v.teacherlist[0]
				v.tlist=v.teacherlist.splice(1,v.teacherlist.length-1)
			}
		})
	}
	//开班-查询学生
	function querystudent(){
		$.post("queryStudentForCreateClazz","",function(result){
			console.log("开班-查询学生：")
			console.log(result)
			v.studentlist=result
			if(result.length==0){
				v.studentlist=null
				alert("获取数据异常：未正常查询到所有学生列表或学生列表为空")
			}
		})
	}
	//查询是否为第一个年级
	function isFirstGrade(){
		$.post("isFirstGrade","gid="+v.grade,function(result){
			console.log("开班-查询是否为第一个年级："+v.grade)
			console.log(result)
			v.isFirstGrade=result
			if(1==result){
				$(".isFirstGrade").text("类型：新生班")
				console.log("新生班")
			}else if(0==result){
				$(".isFirstGrade").text("类型：升学班")
				console.log("升学班")
			}else{
				$(".isFirstGrade").text("类型：异常")
				console.log("获取数据异常：未正常查询开班类型")
			}
		})
	}
	function showChoose(){
		console.log("打开选择弹窗！")
		$(".sel").show()
		selstudentlist()
	}
	//弹窗-选择学生-隐藏
	function chooseClose(){
		console.log("关闭选择弹窗！")
		$(".sel").hide()
	}
	//弹窗-选择学生-显示
	function selStudent(){
		if(""==v.studentlist||null==v.studentlist){
			alert("内容为空！")
		}else{
			$(".sel").show()
			selstudentlist()
		}
	}
	//弹窗-选择学生-确认选中
	function chooseAll(nid){
		chooseClose()
        console.log("提交选择学生")
		var receiver=[]
		$(".sel table input[type='checkbox']").each(function () {
		    if ($(this).is(":checked")) {
				var studentid=$(this).val()
				var studentnub=$(this).attr("studentnub")
				receiver.push(studentid)
				if(undefined==studentnub){
					studentnub=null
				}
		        console.log($(this).val()+studentnub)
		        //查询是否已经存在列表中
		        var isFind=0
		        for(var i=0;i<v.targetstulist.length;i++){
		        	if(studentid==v.targetstulist[i].studentid){
		        		console.log("已存在："+studentid+"不在添加")
		        		isFind=1
		        		return
		        	}
		        }
				if(0==isFind){
			        for(var j=0;j<v.studentlist.length;j++){
			        	if(studentid==v.studentlist[j].studentid){
			        		v.targetstulist.push(v.studentlist[j])
			        		console.log("添加学生:"+studentid)
			        		return
			        	}
			        }
				}
		    }
		});
		console.log("目标："+receiver)
		console.log(v.targetstulist)
	}
	//删除已选择的学生
	function delstu(th){
		var studentid=$(th).attr("studentid")
		console.log("查找："+studentid)
		for(var i=0;i<v.targetstulist.length;i++){
			if(studentid==v.targetstulist[i].studentid){
				console.log("找到："+studentid)
				v.targetstulist.splice(i, 1);
			}
		}
	}
	//按选择年级专业筛选学生选择列表
	function selstudentlist(){
		console.log("按选择年级专业筛选学生选择列表")
		v.selstudentlist=[]
		for(var i=0;i<v.studentlist.length;i++){
			//新生与游离(年级、专业相匹配)升学 ---0新生班&&(新生||游离)
			if(1==v.isFirstGrade&&(0==v.studentlist[i].ctype||(1==v.studentlist[i].ctype&&v.grade==v.studentlist[i].gid&&v.major==v.studentlist[i].mid))){
				console.log("新生班")
				v.selstudentlist.push(v.studentlist[i])
			}else if(0==v.isFirstGrade&&((1==v.studentlist[i].ctype&&v.grade==v.studentlist[i].gid&&v.major==v.studentlist[i].mid)||(2==v.studentlist[i].ctype&&v.grade==v.studentlist[i].tagetgId&&v.major==v.studentlist[i].mid))){//升学 ---1升学班&&(游离||升学)
				console.log("升学班")
				v.selstudentlist.push(v.studentlist[i])
			}
		}
		console.log(v.selstudentlist)
	}
	</script>
</html>