<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>开班</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/ready.css">
		<script src="static/js/core/jquery.3.2.1.min.js"></script>
		<style type="text/css">
			.jb .form-control{width: 50%;}
			
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">开班</h4>
					<div class="tzx" style="width: 100%;height: 100%;">
						<div class="card jb">
							<div class="card-header">
								<div class="card-title">基本信息</div>
							</div>
							<div class="card-body">
								<div class="form-group">
									<label for="smallInput">名称：</label>
									<input type="text" class="form-control form-control-sm" id="smallInput" name="cname" placeholder="AT1717">
								</div>
								<div class="form-group">
									<label for="exampleSelect">版本：</label>
									<select class="form-control form-control-sm" id="smallSelect">
										<option>ACCP7.0</option>
										<option>ACCP8.0</option>
										<option>ACCP9.0</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleSelect">年级：</label>
									<select class="form-control form-control-sm" id="smallSelect" name="gid">
										<option value="1">S1</option>
										<option value="2">S2</option>
										<option value="3">Y2</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleSelect">专业：</label>
									<select class="form-control form-control-sm" id="smallSelect" name="mid">
										<option value="1">java</option>
										<option value="2">.net</option>
									</select>
								</div>
								<div class="form-group">
									<label for="exampleSelect">班主任：</label>
									<select class="form-control form-control-sm" id="smallSelect" name="tid">
										<option value="1">张骞</option>
										<option value="2">李白</option>
										<option value="3">王安石</option>
										<option value="4">赵日天</option>
									</select>
								</div>
							</div>

						</div>

						<div class="card teacher">
							<div class="card-header">
								<div class="card-title">选择教员</div>
							</div>
							<div class="card-body">
								<table class="table table-hover">
									<thead>
										<tr>
											<th scope="col">名称</th>
											<th scope="col">专业</th>
											<th scope="col">课时</th>
											<th scope="col">版本</th>
											<th scope="col">没想好</th>
											<th scope="col">教员</th>
										</tr>
									</thead>
									<tbody>
										<tr class="t-content">
											<td><input type="hidden" name=courseid value="1" style="border: 0px;width: 100%;">JAVA</td>
											<td>java</td>
											<td>48</td>
											<td>ACCP8.0</td>
											<td>30</td>
											<td>
												<select class="form-control form-control-sm" id="smallSelect" name=tid>
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
											</td>
										</tr>
										<tr class="t-content">
											<td><input type="hidden" name=courseid value="2" style="border: 0px;width: 100%;">JAVA</td>
											<td>java</td>
											<td>48</td>
											<td>ACCP8.0</td>
											<td>30</td>
											<td>
												<select class="form-control form-control-sm" id="smallSelect" name="tid">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
											</td>
										</tr>
										<tr class="t-content">
											<td><input type="hidden" name=courseid value="3" style="border: 0px;width: 100%;">JAVA</td>
											<td>java</td>
											<td>48</td>
											<td>ACCP8.0</td>
											<td>30</td>
											<td>
												<select class="form-control form-control-sm" id="smallSelect" name="tid">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5">5</option>
												</select>
											</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						
						<div class="card student">
							<div class="card-header">
								<div class="card-title">选择学生</div>
							</div>
							<div class="card-body">
								<table class="table table-hover">
									<thead>
										<tr>
											<th scope="col">学号</th>
											<th scope="col">姓名</th>
											<th scope="col">年级</th>
											<th scope="col">生日</th>
											<th scope="col">版本</th>
											<th scope="col">状态</th>
											<th scope="col">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr class="s-content">
											<td><input type="hidden" name=sid value="1" style="border: 0px;width: 100%;">201801010001</td>
											<td>张三</td>
											<td>S1</td>
											<td>2000.11.11</td>
											<td>ACCP8.0</td>
											<td>新生</td>
											<td>删除</td>
										</tr>
										<tr class="s-content">
											<td><input type="hidden" name=sid value="2" style="border: 0px;width: 100%;">201801010001</td><td>张三</td><td>S1</td><td>2000.11.11</td>
											<td>ACCP8.0</td><td>新生</td><td>删除</td>
										</tr>
										<tr class="s-content">
											<td><input type="hidden" name=sid value="3" style="border: 0px;width: 100%;">201801010001</td><td>张三</td><td>S1</td><td>2000.11.11</td>
											<td>ACCP8.0</td><td>新生</td><td>删除</td>
										</tr>
										<tr class="s-content">
											<td><input type="hidden" name=sid value="4" style="border: 0px;width: 100%;">201801010001</td><td>张三</td><td>S1</td><td>2000.11.11</td>
											<td>ACCP8.0</td><td>新生</td><td>删除</td>
										</tr>
										
									</tbody>
								</table>
								<p class="demo">
									<button class="btn btn-primary btn-xs">添加学生</button>
								</p>
							</div>
						</div>
						<p class="demo">
							<button class="btn btn-success btn-lg" onclick="createClazz()">马上开班</button>
							<button class="btn btn-link" disabled style="color: red;">放弃</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		//获取开班可选信息
		$(function(){
// 			$.post("getOptionOfCreateClazz","",function(result){
// 				console.log(result)
// 				v.aa=result
// 			})
		})
		//开班
		function createClazz(){
			var cname=$("[name=cname]").val()
			var gid=$("[name=gid]").val()
			var mid=$("[name=mid]").val()
			var tid=$("[name=tid]").val()
			var data="cname="+cname+"&gid="+gid+"&mid="+mid;
			var tlist=$(".teacher table .t-content")
			var slist=$(".student table .s-content")
			data+="&tlist[0].tid="+tid+"&tlist[0].ismaster=1&tlist[0].isteacher=0"
			$.each(tlist,function(index,obj){
				var courseid=$(obj).find("input[name=courseid]").val()
				var tid=$(obj).find("[name=tid]").val()
				data+="&tlist["+(index+1)+"].courseid="+courseid+"&tlist["+(index+1)+"].tid="+tid+"&tlist["+(index+1)+"].isMaster=1&tlist["+(index+1)+"].isTeacher=0"
				console.log(obj)
			})
			$.each(slist,function(index,obj){
				var studentid=$(obj).find("input[name=studentid]").val()
				var sid=$(obj).find("[name=sid]").val()
				data+="&slist["+(index)+"].sid="+sid
				console.log(obj)
			})
			alert("添加学生："+slist.length)
			data+="&count="+slist.length
			console.log(data)
			$.post("craeteClazz",data,function(result){
				alert(result)
				console.log(result)
			})
		}
		
		
	</script>
</html>