<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>通知公告</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/ready.css">
		<script src="../static/js/core/jquery.3.2.1.min.js"></script>
		<script src="../static/js/core/vue.js"></script>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">通知公告</h4>
					<div class="tzx" style="width: 100%;height: 100%;">
						<div class="card">
							<div class="card-body">
								<p>
									<span style=""><label>时间：</label><input type="date" class=""  name="time" placeholder="选择时间" value=""></span>
									<span style="">
										<label>快速查询</label>
										<input type="text" name="str" />
										<button class="btn btn-primary btn-xs" onclick="btnQuery()">查询</button>
									</span>
									<button infoBut moduleUrl="notice/toinsert" class="btn btn-primary btn-xs" onclick="addnotice()">添加通知</button>
								</p>
								<table class="table table-head-bg-success table-striped table-hover">
									<thead>
										<tr>
											<th scope="col">序号</th>
											<th scope="col">标题</th>
											<th scope="col">发布者</th>
											<th scope="col">时间</th>
											<th scope="col">状态</th>
											<th scope="col" colspan="2">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="obj,index in aa" v-bind:nid="obj.id">
											<td>{{obj.id}}</td><td>{{obj.title}}</td><td>{{obj.sendername}}</td><td>{{obj.time}}</td><td>已发布</td>
											<!-- <td>删除</td> -->
											<td><button class="btn btn-primary btn-xs" v-on:click="jump(obj.id)">查看</button></td>
										</tr>
										
									</tbody>
								</table>

							</div>
						</div>
<!-- 						<p class="demo"><button class="btn btn-success btn-lg">马上开班</button> -->
<!-- 							<button class="btn btn-link" disabled style="color: red;">放弃</button></p> -->
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		var v=new Vue({
			el : ".card",
			data : {
				aa:null,
				totaladdMoney:0,
				totalbackMoneyy:0,
				totalfinalMoney:0,
				nid:'abc',
				initMoney:0
			},
			methods:{
				jump:function(nid){
					location.href="/noticeDetail?nid="+nid;
				}
			}
		})
		$(function(){
			query(null,null)
		})
		function query(time,str){
			var data={}
				if(time!=null||time!=''){
					if(str!=null||str!=''){
						data={"time":time,"str":str}
					}else{
						data={"time":time}
					}
				}else{
					if(str!=null||str!=''){
						data={"str":str}
					}
				}
// 				alert("----"+data)
				$.post("/noticeList",data,function(result){
//	 				alert(result)
					console.log(result)
					v.aa=result
				})
		}
		function btnQuery(){
// 			alert(1)
			var time= $("[name=time]").val()
			var str= $("[name=str]").val()
// 			alert(time+str)
			query(time,str)
		}
		function addnotice(){
			location.href="/addnotice"
		}
	</script>
</html>