<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>角色设置</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/static/css/ready.css}">
<link rel="stylesheet" th:href="@{/static/css/demo.css}">
<link rel="stylesheet" th:href="@{/static/css/load.css}">
<style type="text/css">
/** {
				margin: 0px;
				padding: 0px;
				
			}*/
.card {
	margin-bottom: 10px;
}

#hezi {
	position: absolute;
	left: 0;
	top: 0;
	background: #f2f3f8;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

</style>
</head>

<body>
	<div class="main-panel">
		<div id="hezi">
			<div class="spinner">
				<div class="spinner-container container1">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container2">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container3">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container-fluid">
				<h4 class="page-title">角色设置</h4>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<p class="demo">
									<button infoBut moduleUrl="role/insert" name="goInsertRole"
										class="btn btn-success">创建角色</button>
								</p>
							</div>
						</div>
					</div>

					<div class="col-md-2">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">角色列表</h4>
							</div>
							<div class="card-body">
								<p class="demo">
									<button style="margin-right: 10px;" v-for="(r,index) in role"
										class="btn btn-info role" onclick="RoleClick(this)"
										v-bind:roleid="r.roleid">{{r.rolename}}</button>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">权限</h4>
								<p style="float: right;" class="demo">
									<button  infoBut moduleUrl="role/update"  name="baochun" class="btn btn-success">保存</button>
								</p>
							</div>

							<div style="height: 800px" class="card-body dtree "
								id="dtree_div">
								<div id="app">
									<tree :folder="infoModule" :select="select"></tree>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script th:src="@{/static/js/core/jquery.min.js}"></script>
<script th:src="@{/static/js/core/vue.js}" type="text/javascript"
	charset="utf-8"></script>
<script
	th:src="@{/static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/static/js/core/popper.min.js}"></script>
<script th:src="@{/static/js/core/bootstrap.min.js}"></script>
<script th:src="@{/static/js/plugin/chartist/chartist.min.js}"></script>
<script
	th:src="@{/static/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
<script
	th:src="@{/static/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script
	th:src="@{/static/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script th:src="@{/static/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
<script
	th:src="@{/static/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
<script th:src="@{/static/js/plugin/chart-circle/circles.min.js}"></script>
<script
	th:src="@{/static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/static/js/ready.min.js}"></script>
<script th:src="@{/static/js/cqj_infoBut.js}"></script>
<script type="text/javascript">
	Vue.component('tree', {
	    name:"tree",
	    template:`<ul>
	                <li style="margin-left: 40px;"  v-for = "item in folder">
		                <label class="form-check-label">
		                <input @click = "select(item)" v-if = "item.status==0" checked class="form-check-input" type="checkbox" v-bind:value="item.moduleid"> 
		                <input @click = "select(item)" v-else class="form-check-input" type="checkbox" v-bind:value="item.moduleid" > 	
		                	<span class="form-check-sign" @click = "select(item)">{{item.modulename}}</span>
						</label>
	                    <tree v-if = "item.mlist" :folder = "item.mlist" :select = "select"></tree>
	                </li>
	            </ul>`,
	    props:["folder","select"],
	})
		var v = new Vue({
			el: ".content",
			data: {
				infoModule:{},
				role:{}
			},
		    methods:{
		        clickHandler(){
		        },
		        select(data){
		        }
		    },
		    mounted(){
		        console.log(this.trees);
		    }
		});
		var count = 0;
		var sumCount=2;
		$(function() {
			infoBut.ccc();
			getRole();
			console.log(count)
			//点击进入子模块修改
			$('[name="goUpdateModule"]').click(function(){
				window.location.href="setting-role_updateModule.html?id=10"				
			});
			//点击创建角色
			$('[name="goInsertRole"]').click(function(){
				window.location.href="goUrl?url=cqj_setting/setting-role_insertRole"	;
			});
			
			
			//点击保存
			$('[name="baochun"]')
					.click(
							function() {
								var roleid=$(".roleKey").attr("roleid");
								console.log(roleid);
								var json={};
								json.modules="";
								 $.each($('input:checkbox:checked'),function(index,element){
									 json.modules+=$(this).val()+",";
						         }); 
								json.roleid=roleid;
								console.log(JSON.stringify(json) + "我传过来的");
								$.ajax({
									url:"/role/update",
									data:json,
									type:"post",
									dataType:"json",
									success:function(data){
										
									}
								});		
							});
			
			
		})
		//获取所有status为0的角色	
		function getRole(){
			$.ajax({
				url : "/role/getRole",
				data : null,
				type : "post",
				dataType : "json",
				success : function(data) {
					v.role=data;
					infoBut.fadeOut();
				}
			})
		}
		//点击角色事件，更改样式，添加positionKey识别类
		function RoleClick(th){
				$(".roleKey").removeClass("btn-primary roleKey");
				$(".role").addClass("btn-info");
				th.classList.remove("btn-info");
				th.classList.add("btn-primary");
				th.classList.add("roleKey");
				var roleid=th.getAttribute("roleid");
				v.infoModule={};
				getInfoModule(roleid);
			}
		
		//通过传值获取模块信息
		function getInfoModule(i){
			$.ajax({
				url : "/module/getRoleAllModule?roleid="+i,
				data : null,
				type : "post",
				dataType : "json",
				success : function(data) {
					console.log(data);
					v.infoModule = data;
				}
			})
		}
	</script>

</html>