<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>角色设置</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/ready.css">
		<link rel="stylesheet" href="../css/demo.css">
		<style type="text/css">
			/** {
				margin: 0px;
				padding: 0px;
				
			}*/
			
			.card {
				margin-bottom: 10px;
			}
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">角色设置</h4>
					
					<div class="row">
						<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<p class="demo">
											<button name="goInsertRole" class="btn btn-success">创建角色</button>
											<button name="goUpdateModule" class="btn btn-info">进入子模块修改</button>
										</p>
									</div>
								</div>
							</div>
						
						<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">角色列表</h4>
									</div>
									<div class="card-body">
										<p class="demo">
											<button class="btn btn-default">Default</button>

											<button class="btn btn-primary">Primary</button>

											<button class="btn btn-info">Info</button>

											<button class="btn btn-success">Success</button>

											<button class="btn btn-warning">Warning</button>

											<button class="btn btn-danger">Danger</button>

											<button class="btn btn-link">Link</button>
										</p>
										
										<p class="demo">
											<button class="btn btn-primary">角色1</button>
											<button class="btn btn-info">角色2</button>
											<button class="btn btn-info">角色3</button>
											<button class="btn btn-info">角色3</button>
											<button class="btn btn-info">角色3</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">已有模块</h4>
									</div>
									<div class="card-body">
										<p class="demo">
											<button class="btn btn-danger">模块1</button>
											<button class="btn btn-danger">模块1</button>
											<button class="btn btn-danger">模块1</button>
											<button class="btn btn-danger">模块1</button>
										</p>
										<p style="float: right;" class="demo">
											<button  class="btn btn-info">移除访问</button>
										</p>
									</div>
								</div>
							</div>
							
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">未拥有模块</h4>
									</div>
									<div class="card-body">
										<p class="demo">
											<button class="btn btn-danger">模块1</button>
											<button class="btn btn-danger">模块1</button>
											<button class="btn btn-danger">模块1</button>
											<button class="btn btn-danger">模块1</button>
										</p>
										<p style="float: right;" class="demo">
											<button  class="btn btn-info">添加访问</button>
										</p>
									</div>
								</div>
							</div>
						
						
					</div>
				</div>
			</div>
		</div>

	</body>
	<script src="../js/core/jquery.min.js"></script>
	<script src="../js/core/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="../js/core/popper.min.js"></script>
	<script src="../js/core/bootstrap.min.js"></script>
	<script src="../js/plugin/chartist/chartist.min.js"></script>
	<script src="../js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
	<script src="../js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
	<script src="../js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
	<script src="../js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
	<script src="../js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
	<script src="../js/plugin/chart-circle/circles.min.js"></script>
	<script src="../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<script src="../js/ready.min.js"></script>

	<script type="text/javascript">
		var v = new Vue({
			el: ".content",
			data: {
				a: false
			}
		});
		$(function() {
			//点击进入子模块修改
			$('[name="goUpdateModule"]').click(function(){
				window.location.href="setting-role_updateModule.html?id=10"				
			});
			//点击创建角色
			$('[name="goInsertRole"]').click(function(){
				window.location.href="setting-role_insertRole.html"				
			});
		})
	</script>

</html>