<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>角色设置-子模块修改</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/ready.css">
		<link rel="stylesheet" href="../css/demo.css">
		<style type="text/css">
			.card {
				margin-bottom: 10px;
			}
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">角色1子模块修改</h4>
					
					<div class="row">
						<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">角色列表</h4>
									</div>
									<div class="card-body">
										<p class="demo">
											<button class="btn btn-default">Default</button>

											<button class="btn btn-primary">Primary</button>

											<button class="btn btn-info">Info</button>

											<button class="btn btn-success">Success</button>

											<button class="btn btn-warning">Warning</button>

											<button class="btn btn-danger">Danger</button>

											<button class="btn btn-link">Link</button>
										</p>
										
										<p class="demo">
											<button class="btn btn-primary">角色1</button>
											<button class="btn btn-info">角色2</button>
											<button class="btn btn-info">角色3</button>
											<button class="btn btn-info">角色3</button>
											<button class="btn btn-info">角色3</button>
										</p>
										<p style="float: right;" class="demo">
											<button  class="btn btn-success" >保存修改</button>
											<button  class="btn btn-success" onclick="javascript:history.back(-1);">返回</button>
											
										</p>
									</div>
								</div>
							</div>
						<div class="col-md-6">
							<div class="card">
								<div class="card-header">
									<div class="card-title">数据统计</div>
								</div>
								<div class="card-body">
									<div class="card-sub">
										备注
									</div>
									<table class="table mt-3">
										<thead>
											<tr>
												<th scope="col">模块名称</th>
												<th scope="col">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>学员统计</td>
												<td>
													<div v-if="a">
														<input id="z" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-style="btn-round">
													</div>
													<div v-else>
														<input id="z" type="checkbox" data-toggle="toggle" data-onstyle="success" data-style="btn-round">
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

	</body>
	<script src="../js/core/jquery.min.js"></script>
	<script src="../js/core/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="../js/core/popper.min.js"></script>
	<script src="../js/core/bootstrap.min.js"></script>
	<script src="../js/plugin/chartist/chartist.min.js"></script>
	<script src="../js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
	<script src="../js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
	<script src="../js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
	<script src="../js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
	<script src="../js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
	<script src="../js/plugin/chart-circle/circles.min.js"></script>
	<script src="../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<script src="../js/ready.min.js"></script>

	<script type="text/javascript">
		var v = new Vue({
			el: ".content",
			data: {
				a: false
			}
		});
		$(function() {
			
		
		})
	</script>

</html>