<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>职位设置-增加职位</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/static/css/ready.css}">
<link rel="stylesheet" th:href="@{/static/css/demo.css}">
<link rel="StyleSheet" th:href="@{/static/css/dtree.css}" type="text/css" />
<script type="text/javascript" th:src="@{/static/js/dtree.js}"></script>
<style type="text/css">
.card {
	margin-bottom: 10px;
}
</style>
</head>

<body>
	<div class="main-panel">
		<div class="content">
		
			<div class="container-fluid">
				<h4 class="page-title">增加职位</h4>
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="form-group">
									<label for="squareSelect">上级</label> <select
										class="form-control input-square" id="squareSelect">
										<option v-for="(p,index) in position" v-bind:value="p.positionid">{{p.positionname}}</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
								<div class="form-group">
									<label for="email">职位名称</label> <input type="email"
										class="form-control" id="email" placeholder="职位名称">
								</div>
							</div>
						</div>
						
					</div>
					<div class="col-md-12">
						<div class="card">

							<div class="card-body">

								<p style="float: right;" class="demo">
								
									<button class="btn btn-success">保存修改</button>
									<button class="btn btn-success"
										onclick="javascript:history.back(-1);">返回</button>
								</p>
									<div style="height: 800px" class="card-body dtree "
									id="dtree_div">
									<div id="app">
										<tree :folder="infoModule" :select="select"></tree>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script th:src="@{/static/js/core/jquery.min.js}"></script>
<script th:src="@{/static/js/core/vue.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/static/js/core/popper.min.js}"></script>
<script th:src="@{/static/js/core/bootstrap.min.js}"></script>
<script th:src="@{/static/js/plugin/chartist/chartist.min.js}"></script>
<script
	th:src="@{/static/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
<script th:src="@{/static/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script th:src="@{/static/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script th:src="@{/static/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
<script th:src="@{/static/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
<script th:src="@{/static/js/plugin/chart-circle/circles.min.js}"></script>
<script th:src="@{/static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/static/js/ready.min.js}"></script>

<script type="text/javascript">
Vue.component('tree', {
    name:"tree",
    template:`<ul>
                <li style="margin-left: 40px;"  v-for = "item in folder">
	                <label class="form-check-label"> 
	                <input @click = "select(item)" v-if="item.leftmenu==2"  class="form-check-input" type="checkbox" v-bind:value="item.moduleid" > 	
	                	<span class="form-check-sign" @click = "select(item)">{{item.modulename}}</span>
					</label>
                    <tree v-if = "item.mlist" :folder = "item.mlist" :select = "select"></tree>
                </li>
            </ul>`,
    props:["folder","select"],
})
	var v = new Vue({
		el : ".content",
		data : {
			infoModule:{},
			position:{}
		},
	    methods:{
	        clickHandler(){
	        },
	        select(data){
	        }
	    },
	    mounted(){
	        console.log(this.trees);
	    }
	});
	$(function() {
		getPosition();
		getInfoModule();
	})
	//获取所有status为0的职位	
		function getPosition(){
			$.ajax({
				url : "/position/getPosition",
				data : null,
				type : "post",
				dataType : "json",
				success : function(data) {
					v.position=data;
				}
			})
		}
		//通过传值获取模块信息
		function getInfoModule(){
			$.ajax({
				url : "/module/getaddInfoModule",
				data : null,
				type : "post",
				dataType : "json",
				success : function(data) {
					v.infoModule = data;
				}
			})
		}
</script>

</html>