<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>角色设置-增加角色</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/static/css/ready.css}">
<link rel="stylesheet" th:href="@{/static/css/demo.css}">
<link rel="stylesheet" th:href="@{/static/css/load.css}">
<script th:src="@{/static/js/cqj_infoBut.js}"></script>
<style type="text/css">
.card {
	margin-bottom: 10px;
}
</style>
</head>
<body>
	<div class="main-panel">
	<div style="position: absolute;left: 0;top: 0;background: #f2f3f8;width: 100%;height: 100%;z-index: 9999;" id="hezi">
			<div class="spinner">
				<div class="spinner-container container1">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container2">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container3">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="container-fluid">
				<h4 class="page-title">增加角色</h4>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="form-group">
									<label for="email">角色名称</label> 
									<input type="text" class="form-control" id="rolename" placeholder="角色名称">
								</div>
								<div style="height: 800px" class="card-body dtree "
									id="dtree_div">
									<div id="app">
										<tree :folder="Module" :select="select"></tree>
									</div>
								</div>
								<p style="float: right;" class="demo">
									<button class="btn btn-success" onclick="addAjax()">保存修改</button>
									<button class="btn btn-success"
										onclick="javascript:history.back(-1);">返回</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script th:src="@{/static/js/core/jquery.min.js}"></script>
<script th:src="@{/static/js/core/vue.js}" type="text/javascript"
	charset="utf-8"></script>
<script
	th:src="@{/static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/static/js/core/popper.min.js}"></script>
<script th:src="@{/static/js/core/bootstrap.min.js}"></script>
<script th:src="@{/static/js/plugin/chartist/chartist.min.js}"></script>
<script
	th:src="@{/static/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
<script
	th:src="@{/static/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script
	th:src="@{/static/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script th:src="@{/static/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
<script
	th:src="@{/static/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
<script th:src="@{/static/js/plugin/chart-circle/circles.min.js}"></script>
<script
	th:src="@{/static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/static/js/ready.min.js}"></script>

<script type="text/javascript">
	Vue.component('tree', {
	    name:"tree",
	    template:`<ul>
	                <li style="margin-left: 40px;"  v-for = "item in folder">
		                <label class="form-check-label"> 
		                <input @click = "select(item)"  class="form-check-input" type="checkbox" v-bind:value="item.moduleid" > 	
		                	<span class="form-check-sign" @click = "select(item)">{{item.modulename}}</span>
						</label>
	                    <tree v-if = "item.mlist" :folder = "item.mlist" :select = "select"></tree>
	                </li>
	            </ul>`,
	    props:["folder","select"],
	})
		var v = new Vue({
			el: ".content",
			data: {
				Module:{}
			},
		    methods:{
		        clickHandler(){
		        },
		        select(data){
		        }
		    },
		    mounted(){
		        console.log(this.trees);
		    }
		});
	var count = 0;
	var sumCount=2;
		$(function() {
			infoBut.ccc();
			getInfoModule();
		
		})
		
		//通过传值获取模块信息
		function getInfoModule(){
			$.ajax({
				url : "/module/getaddModule",
				data : null,
				type : "post",
				dataType : "json",
				success : function(data) {
					if(data!="404"){
						v.Module = data;
					}
					infoBut.fadeOut();
				}
			})
		}
		//保存事件
		function addAjax(){
			var json={};
			json.rolename=$("#rolename").val();
			json.modules="";
			 $.each($('input:checkbox:checked'),function(index,element){
				 json.modules+=$(this).val()+",";
	         }); 
			 console.log(1);
			$.ajax({
				url : "/role/insert",
				data : json,
				type : "post",
				dataType : "json",
				success : function(data) {
					history.back(-1);
				}
			})
		}
	</script>

</html>