<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>用户管理-新增用户</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/static/css/ready.css}">
<link rel="stylesheet" th:href="@{/static/css/demo.css}">
<link rel="stylesheet" th:href="@{/static/css/load.css}">
<style type="text/css">
.card {
	margin-bottom: 10px;
}

#hezi {
	position: absolute;
	left: 0;
	top: 0;
	background: #f2f3f8;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.zxc {
	top: 80px;
}
</style>
</head>

<body>
	<div class="main-panel">
		<!-- <div id="hezi">
			<div class="spinner">
				<div class="spinner-container container1">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container2">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container3">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
			</div>
		</div> -->
		<div class="content">
			<div class="container-fluid">
				<h4 class="page-title">新增用户</h4>

				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<p class="demo">
									<button name="goInsertRole" class="btn btn-success"></button>
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
	</div>

</body>
<script th:src="@{/static/js/core/jquery.min.js}"></script>
<script th:src="@{/static/js/core/vue.js}" type="text/javascript"
	charset="utf-8"></script>
<script
	th:src="@{/static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/static/js/core/popper.min.js}"></script>
<script th:src="@{/static/js/core/bootstrap.min.js}"></script>
<script th:src="@{/static/js/plugin/chartist/chartist.min.js}"></script>
<script
	th:src="@{/static/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
<script
	th:src="@{/static/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script
	th:src="@{/static/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script th:src="@{/static/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
<script
	th:src="@{/static/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
<script th:src="@{/static/js/plugin/chart-circle/circles.min.js}"></script>
<script
	th:src="@{/static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/static/js/ready.min.js}"></script>
<script th:src="@{/static/js/cqj_infoBut.js}"></script>
<script th:src="@{/static/js/axios.min.js}" type="text/javascript"
	charset="utf-8"></script>
<script th:src="@{/static/js/lodash.min.js}" type="text/javascript"
	charset="utf-8"></script>
<script type="text/javascript">
	var v = new Vue({
		el : ".content",
		data : {
			page : {},
			filtrate : "",
			name : "aa"
		},
		watch : {
			filtrate : function() {
				this.getAnswer();
			}
		},
		methods : {
			getAnswer : _.debounce(function() {
				getPage(1);
			},
			// 这是我们为用户停止输入等待的毫秒数
			500),
			getInfo : function(index) {
				getInfo(index);
			},
			getPage : function(index) {
				getPage(index);
			}
		}
	});

	
</script>

</html>