<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>123</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/static/css/ready.css}">
		<style type="text/css">

		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid row">
					<h4 class="page-titl1e col-lg-12">班级管理</h4>
					<div class="col-lg-12">
						<div class="card">
							
							<div class="card-body col-sm-12">
								<table class="table table-head-bg-success">
												<thead>
													<tr>
														<th scope="col">#</th>
														<th scope="col">班级名称</th>
														<th scope="col">年级</th>
														<th scope="col">专业</th>
														<th scope="col">当前人数/开班人数</th>
														<th scope="col">班主任</th>
														<th scope="col">开班日期</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="(l,index) in list" v-bind:data-id="l.id">
														<td>{{index+1}}</td>
														<td>{{l.cname}}</td>
														<td v-for="l2 in list2" v-if="l.gid==l2.gid">{{l2.gradeName }}</td>
														<td  v-for="l3 in list3" v-if="l.mid==l3.mid">{{l3.majorName }}</td>
														<td>{{l.normalCount}}/{{l.count}}</td>
														<td>{{l.master.staffname}}</td>
														<td>{{l.startdate}}</td>
													</tr>
													
												</tbody>
											</table>
	
							</div>
						</div>
						</div>
				</div>
		</div>
			</div> 
		</div>
	</body>
	<script th:src="@{/static/js/echarts.js}"></script>
	<script th:src="@{/static/js/core/jquery.3.2.1.min.js}"></script>
	<script th:src="@{/static/js/core/vue.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/static/js/core/popper.min.js}"></script>
	<script th:src="@{/static/js/core/bootstrap.min.js}"></script>
	<script th:src="@{/static/js/plugin/chartist/chartist.min.js}"></script>
	<script th:src="@{/static/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
	<script th:src="@{/static/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
	<script th:src="@{/static/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
	<script th:src="@{/static/js/plugin/chart-circle/circles.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
	<script th:src="@{/static/js/ready.min.js}"></script>
	<script type="text/javascript">
		$(function(){
				v=new Vue({
					el:'.main-panel',
					data:{
						list:null,
						list2:null,
						list3:null,
					}
				})
			//Ajax查询班级信息
			$.ajax({
				url:'zz',
				type:'POST',
				dataType:'json',
				success:function(data){
					v.list=data;
				}
			})
			//Ajax查询所有年级信息
			$.ajax({
				url:'queryGradeAll',
				type:'POST',
				dataType:'json',
				success:function(data){
					console.log(data);
					v.list2=data;
				}
			})
			//Ajax查询所有专业信息
			$.ajax({
				url:'queryMajorAll',
				type:'POST',
				dataType:'json',
				success:function(data){
					v.list3=data;
				}
			})
		})
		$("body").on("click","tbody tr",function(){
			var id=$(this).attr("data-id");
			location.href="class_details?id="+id;
		})
	</script>
</html>