<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>123</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/static/css/ready.css}">
		<style type="text/css">
				ul{
					list-style: none;
				}
				ul li{
					display: inline-block;
				}
				.clicknone{
					display: none;
				}
				.clickblock{
					display: table;
				}
				.clickblock2{
					display: inline;
				}
				.tuchu{
					padding:5px 30px
				}
				#anniuz ul li{
					margin-left: -4.5px; padding:4px 20px 5.5px 20px;font-size: 0.8em;	
				}
				.tuchu{
					padding:5px 30px
				}
				.modal-dialog {
    				max-width: 1000px;
    				}
    			.jz{
    				text-align: center;
    				font-size: 2em;
    				padding: 5em;
    			}
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid row">
					<h4 class="page-titl1e col-lg-12">班级详情</h4>
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<div style="margin-bottom: -1px;">
									<span style="background-color:#36A9CE ;padding:5px 30px; ">{{clazz.cname}}</span>
									<span style="background-color:#34CE57 ; margin-left: -5px; padding:4px 20px 6px 20px;font-size: 0.8em;" v-if="clazz.status==2">正常</span>
								</div>
								<div class="card-sub">		
									<h6>基本信息:</h6> 
									<ul class="row">
										<li class="col-lg-3">开班日期:{{clazz.startdate}}</li>
										<li class="col-lg-3">班级人数:{{clazz.normalCount}}/{{clazz.count}}</li>
										<li class="col-lg-3">班主任:{{clazz.master.staffname}}</li>
									</ul>
									<h6>任课教员:</h6>
									<ul class="row">
										<li class="col-lg-3" v-for="l in clazz.list">{{l.zzycourse.courseName}}:{{l.teacher.staffname}}</li>
									</ul>
									
								</div>
								<div style="float:right">
									<button class="btn btn-success" id="addbut">添加学员</button>
									<button class="btn btn-warning" id="banwei">班委任免</button>
									<button v-if="sx==1" class="btn btn-danger" id="shengxue">升学</button>
								</div>
							</div>
							<div class="card-body">
								<div class="row">
								<h6 style="margin-left: 12px">课程进度</h6>
											<div v-for="jdlist in ccjd" class="col-md-12">
												<span style="font-size: 12px;">{{jdlist.zzycourse.courseName}}:{{jdlist.teacher.staffname}}({{jdlist.jd}}/{{jdlist.zzycourse.period}})</span>
												<p class="demo">
													</p><div class="progress">
														<div class="progress-bar bg-danger" role="progressbar" :style="{width:jdlist.jd*100/jdlist.zzycourse.period+'%'}" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												<p></p>
											</div>
										</div>
							</div>
							<div class="footer">
								<div id="anniuz" style="margin-bottom: -16px;margin-left: 15px;">
										<button id="cli1" class="btn btn-success" >学员</button>
										<button id="cli2" class="btn btn-danger" style="margin-left: -6.5px;">课表</button>
										<input type="week" class="form-control clicknone" style="width: 23%;  margin-left:500px" id="time"/>
								</div>
							<div id="tabz" class="card-body col-sm-12 ">
								<table id="tab1" class="table table-head-bg-success clickblock">
												<thead>
													<tr>
														<th scope="col">学号</th>
														<th scope="col">姓名</th>
														<th scope="col">性别</th>
														<th scope="col">年龄</th>
														<th scope="col">手机</th>
														<th scope="col">生日</th>
														<th scope="col">地址</th>
														<th scope="col">邮箱</th>
														<th scope="col">状态</th>
														<th scope="col">操作</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="stul in stulist">
														<td>{{stul.stu.studentnub}}</td>
														<td>{{stul.stu.studentname}}</td>
														<td v-if="stul.stu.sex==1">男</td>
														<td v-if="stul.stu.sex==0">女</td>
														<td>{{stul.stu.age}}</td>
														<td>{{stul.stu.phone}}</td>
														<td>{{stul.stu.birthday}}</td>
														<td>{{stul.stu.address}}</td>
														<td>{{stul.stu.email}}</td>
														<td v-if="stul.status==0">正常</td>
														<td v-if="stul.status==1">退学</td>
														<td v-if="stul.status==2">休学</td>
														<td v-if="stul.status==3">游离未分配</td>
														<td v-for="yl in yllist" v-if="stul.stu.studentid==yl.sid">游离已分配{{yl.cla.cname}}</td>
														<td v-bind:id="stul.id" v-bind:sid="stul.sid" class="xgxx">修改</td>
													</tr>
												</tbody>
											</table>
												<div class="clicknone" id="tab2" style="width: 100%">
													<table   class="table table-head-bg-danger " >
													<thead>
														<tr style="text-align: center;">
															<th scope="col">{{kstime}}<br>{{jstime}}</th>
															<th scope="col">周一</th>
															<th scope="col">周二</th>
															<th scope="col">周三</th>
															<th scope="col">周四</th>
															<th scope="col">周五</th>
															<th scope="col">周六</th>
															<th scope="col">周日</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><span>上午</span><br><span>下午</span></td>
															<td v-for="dg in kb">
																<ul>
																	<li v-if="dg.am.state>0">{{dg.am.courseevents.eventName}}<li>
																	<li v-if="dg.am.state==0">上课<br>教室:{{dg.am.claroom.name}}<br>教员:{{dg.am.cqjstaff.staffname}}<br>课程:{{dg.am.zzycourse.courseName}}<li>
																	<li v-if="dg.am.state==-1">自习<br>教室:{{dg.am.claroom.name}}<li>
																	<li v-if="dg.am.state==-2">放假<li>
																	
																</ul>
																<ul>
																	<li v-if="dg.pm.state>0">{{dg.pm.courseevents.eventName}}<li>
																	<li v-if="dg.pm.state==0">上课<br>教室:{{dg.pm.claroom.name}}<br>教员:{{dg.pm.cqjstaff.staffname}}<br>课程:{{dg.pm.zzycourse.courseName}}<li>
																	<li v-if="dg.pm.state==-1">自习<br>教室:{{dg.pm.claroom.name}}<li>
																	<li v-if="dg.pm.state==-2">放假<li>
																</ul>
															</td>
														</tr>
													</tbody>
												</table>
											
							</div>
							<div class="clicknone" id="tab3" style="width: 100%">
											
							</div>
							</div>
						</div>
						</div>
				</div>
		</div>
			<div class="modal fade show" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" style="display: none; padding-right: 16px;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h6 class="modal-title"> 班委任免</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" id="close">×</span>
					</button>
				</div>
				<div class="modal-body text-center">									
					<div id="bwzh">
						<div v-for="bb in bwlist" id="one" class="form-group has-error" style="padding: 3px 10px;">
								<input v-bind:pid="bb.pid" v-bind:ccid="bb.com.ccid" style="width: 50%;display: inline;" type="text" id="successInput" v-bind:value="bb.jobTitle" class="form-control sectionName" placeholder="职位名">
								<select  class="form-control input-square" style="width: 25%; display:inline;" v-bind:value="bb.com.sid">
									<option v-for="stul in stulist" v-bind:value="stul.stu.studentid"v-if="stul.status==0" >{{stul.stu.studentname}}</option>
								</select>
								<input v-if="bb.attendance==1" type="checkbox" style="position: static;" checked="checked">
								<input v-if="bb.attendance==0" type="checkbox" style="position: static;"><span>是否为考勤人员</span>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true" class="jianZhiwei">×</span>
								</button>
						</div>
						
					</div>
					
					<div id="hhide" style="display: none">
							<select  class="form-control input-square" style="width: 25%; display:inline;">
									<option v-for="stul in stulist" v-bind:value="stul.stu.studentid" v-if="stul.status==0">{{stul.stu.studentname}}</option>
							</select>
						</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal" id="addBan">增加职位</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="add">提交</button>
				</div>
			</div>
		</div>
	</div>
		<!-- 添加游离学员 -->
				<div class="modal fade show" id="as" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" style="display: none; padding-right: 16px;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h6 class="modal-title">添加游离学员</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" id="closeadd">×</span>
					</button>
				</div>
				<div class="modal-body text-center">									
					<div id="status">
						<div v-for="sta in statuslist"  class="form-group has-error" style="padding: 3px 10px;">
							<input type="text" disabled="disabled" v-bind:id="sta.id" v-bind:sid="sta.sid" v-bind:value="sta.stu.studentname" class="form-control" style="width: 80%;display: inline;">
							<input type="checkbox" style="position: static; margin-left: 20px"><span>添加到本班级</span>
						</div>

					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="youli">提交</button>
				</div>
			</div>
		</div>
	</div>
			</div> 
			
			
		<!-- 修改学员个人信息 -->	
			<div class="modal fade show" id="xyxx" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" style="display: none; padding-right: 16px;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h6 class="modal-title">修改学员信息</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" id="closexy">×</span>
					</button>
				</div>
				<div class="modal-body text-center">									
						姓名:<span>{{xydx.studentname}}</span>
						<br>手机号码:<input v-bind:value="xydx.phone" id="zphone" type="text" class="form-control" style="width: 40%; display: inline-block;">
						家庭住址:<input  v-bind:value="xydx.address" id="zaddress"  type="text" class="form-control" style="width: 40%; display: inline-block;">
						<br><span></span>Email:&nbsp;&nbsp;&nbsp;&nbsp;<input id="zemail"   v-bind:value="xydx.email" type="text" class="form-control" style="width: 40%; display: inline-block;">
						目前状态:<select id="xyzt" class="form-control"  style="width: 40%; display: inline-block;">
							<option value="0">正常</option>
							<option value="3">游离</option>
						</select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="xytj">提交</button>
				</div>
			</div>
		</div>
		</div>
			</div> 
		</div>
		
	</body>
	<script th:src="@{/static/js/echarts.js}"></script>
	<script th:src="@{/static/js/core/jquery.3.2.1.min.js}"></script>
	<script th:src="@{/static/js/core/vue.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/static/js/core/popper.min.js}"></script>
	<script th:src="@{/static/js/core/bootstrap.min.js}"></script>
	<script th:src="@{/static/js/plugin/chartist/chartist.min.js}"></script>
	<script th:src="@{/static/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
	<script th:src="@{/static/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
	<script th:src="@{/static/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
	<script th:src="@{/static/js/plugin/chart-circle/circles.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
	<script th:src="@{/static/js/ready.min.js}"></script>
	
</html>
<script type="text/javascript">
		$(function(){
			var v =new Vue({
				el:'.main-panel',
				data:{
					clazz:null,
					stulist:null,
					bwlist:null,
					yllist:null,
					statuslist:null,
					ccjd:null,
					kstime:null,
					jstime:null,
					zjdx:null,
					xydx:{},
					sx:null,
				}
			})
			var id=[[${id}]];
			
			//使用Ajax查询班级是否达到升学的条件
				$.ajax({
				url:'queryShengxue?cid='+id,
				type:'POST',
				dataType:'json',
				success:function(data){
					v.sx=data;
				}
			})
			
			//使用Ajax查询班级信息
			$.ajax({
				url:'queryByclazzid?id='+id,
				type:'POST',
				dataType:'json',
				success:function(data){
					v.clazz=data;
				}
			})
			
			//使用Ajax查询 班级课程进度
			$.ajax({
				url:'queryzzdx?cid='+id,
				type:'POST',
				dataType:'json',
				success:function(data){
					v.ccjd=data;
				}
			})
			
			//使用Ajax查询此班级本班级本周课表
			$.ajax({
				url:'gjbjqxkb?cid='+id,
				type:'POST',
				dataType:'json',
				success:function(data){
					//定义一个新的对象数组 一个元素代表一天 对象里面有一天的上午 和下午两条课表记录 
					var xarry=[];
					//定义一个循环的记录  循环达到两次 重置
					var count=0;
					var kb={};
					$.each(data,function(i2,obj2){
						if(i2==0){
							v.kstime=obj2.time;
						}
						if(i2==data.length-1){
							v.jstime=obj2.time;
						}
						
						//定义一个对象 代表班级 一天的课表
						if(i2%2==0){
							kb.am=obj2;
							count++;
						}else if(i2%2==1){
							kb.pm=obj2;
							count++;
						}
						if(count==2){
							count=0;
							xarry.push(kb);
							kb={};
						}
						
					})
					v.kb=xarry;			
					}
			})
			
			//当选中的周数改变时
			$("body").on("change","#time",function(){
				var sj=$("#time").val();
				$.ajax({
					url:'anzhouckb?time='+sj+'&cid='+id,
					type:'POST',
					dataType:'json',
					success:function(data){
						//定义一个新的对象数组 一个元素代表一天 对象里面有一天的上午 和下午两条课表记录 
						var xarry=[];
						//定义一个循环的记录  循环达到两次 重置
						var count=0;
						var kb={};
						$.each(data,function(i2,obj2){
							if(i2==0){
								v.kstime=obj2.time;
							}
							if(i2==data.length-1){
								v.jstime=obj2.time;
							}
							
							//定义一个对象 代表班级 一天的课表
							if(i2%2==0){
								kb.am=obj2;
								count++;
							}else if(i2%2==1){
								kb.pm=obj2;
								count++;
							}
							if(count==2){
								count=0;
								xarry.push(kb);
								kb={};
							}
							
						})
						if(xarry.length==0){
							$("#tab2").hide();
							$("#tab3").html("本周还没有安排课表哦").addClass("jz").show();
							//$("#tab2").html("本周还没有安排课表哦").addClass("jz");
						}else{
							$("#tab3").hide();
							$("#tab2").show();
						}
						v.kb=xarry;			
						}
				})
				
			})
			
			//点击修改学员个人信息
			$("body").on("click",".xgxx",function(){
				//中间表id
				var zid=$(this).attr("id");
				//学员id 
				var sid=$(this).attr("sid");
				$.each(v.stulist,function(i,obj){
					if(obj.id==zid){
						v.zjdx=obj;
						v.xydx=obj.stu;
					}
				})
				console.log(v.zjdx);
				console.log(v.xydx);
				$("#xyzt").val(v.zjdx.status);
				$("#xyxx").show();
				
			})
			
			//点击提交修改学员信息
			$("body").on("click","#xytj",function(){
				//定义一个学员对象
				var xy={};
				//学员的id
				xy.studentid=v.xydx.studentid;
				//学员的手机号码
				xy.phone=$("#zphone").val();
				//学员的地址
				xy.address=$("#zaddress").val();
				//学员的邮箱
				xy.email=$("#zemail").val();
				//定义一个中间表对象
				var zj={};
				//中间表的id
				zj.id=v.zjdx.id;
				//中间表的状态
				zj.status=$("#xyzt").val();
				console.log(xy);
				console.log(zj);
				$.ajax({
					url:'updateBystudentid',
					data:xy,
					type:'POST',
					dataType:'json',
					success:function(data){
						$.ajax({
							url:'updateByzjid',
							data:zj,
							type:'POST',
							dataType:'json',
							success:function(data){
								alert("修改成功");
							}
						})
					}
				})
			})
			//点击关闭
			$("body").on("click","#closexy",function(){
				$("#xyxx").hide();
			})
			
			
			//升学点击事件
			$("body").on("click","#shengxue",function(){
				//班级id
				var cid=id;
				//当前年级id
				var gid;
				//下个年级id
				var ngid;
				$.ajax({
					url:'queryBycid2?cid='+cid,
					type:'POST',
					dataType:'json',
					success:function(data){
						console.log(data);
						location.href="/user/goProgressing?cid="+cid+"&gid="+data.gid+"&ngid="+data.user2;
					}
				})
				
			})
			
			//使用AJax根据班级id查询班级游离已分配的学员以及现在所在的班级信息
			$.ajax({
				url:'queryZc?id='+id,
				type:'POST',
				dataType:'json',
				success:function(data){
					v.yllist=data;
				}
			})
			
			//AJax查询班级学员信息
				$.ajax({
				url:'queryByMo?id='+id,
				type:'POST',
				dataType:'json',
				success:function(data){
					v.stulist=data;
				}
			})
			$("body").on("click","#cli1",function(){
				$(".clickblock").addClass("clicknone").removeClass("clickblock");
				$(".clickblock2").addClass("clicknone").removeClass("clickblock2");
				$("#tab1").addClass("clickblock");
			})
			$("body").on("click","#cli2",function(){
				$(".clickblock").addClass("clicknone").removeClass("clickblock");
				$("#tab2").addClass("clickblock");
				$("#time").addClass("clickblock2");
			})
			
	
			$("#cli3").click(function(){
				$(".clickblock").addClass("clicknone").removeClass("clickblock");
				$("#tab1").addClass("clickblock");
			})
			
			$("#cli4").click(function(){
				$(".clickblock").addClass("clicknone").removeClass("clickblock");
				$("#tab2").addClass("clickblock");
			})
			$("#cli5").click(function(){
				$(".clickblock").addClass("clicknone").removeClass("clickblock");
				$("#tab2").addClass("clickblock");
			})
			
			$("body").on("click","#close",function(){
				$("#modalUpdate").hide();
			})
			
			//点击减少职位
			$("body").on("click",".jianZhiwei",function(){
				$(this).parent().parent().remove();
			})
			$("body").on("click","#banwei",function(){
					//AJax查询班级学员信息
					$.ajax({
					url:'queryByclid?id='+id,
					type:'POST',
					dataType:'json',
					success:function(data){
						v.bwlist=data;
						console.log(v.bwlist);
					}
				})
				$("#modalUpdate").show();
			})
			
			
			//点击添加班委按钮生成input
			$("body").on("click","#addBan",function(){
				var sec=$("#hhide select").html();
				var p='<div class="form-group has-error " style="padding: 3px 10px;"><input style="width: 50%;display: inline;" type="text" id="successInput" value="" class="form-control sectionName" placeholder="职位名"><select class="form-control input-square" style="width: 25%; display: inline;">'+sec+'</select><input type="checkbox" style="position: static;"><span>是否为考勤人员</span><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="jianZhiwei">×</span></button></div>';
				$("#bwzh").append(p);
			});
			
			//点击添加学员按钮  显示模态框
			$("body").on("click","#closeadd",function(){
				$("#as").hide();
			})
			$("body").on("click","#addbut",function(){
				//AJax查询班级学员信息
				$.ajax({
					url:'queryBystatus',
					type:'POST',
					dataType:'json',
					success:function(data){
						v.statuslist=data;
					}
				})
				$("#as").show();
			})
			
			//点击提交将游离学员添加入本班级  在原来班级的游离学员的状态改为游离已分配
			$("body").on("click","#youli",function(){
				//获取本班级的id
				var cid=[[${id}]];
				//获取所有已选择的元素节点
				var che=$("#status input[type=checkbox]:checked").prev();
				//定义一个结果数组
				var cz=[];
				$.each(che,function(i,obj){
					//定义一个对象
					var sb={};
					//获取要该为游离已分配的id
					var id=$(obj).attr("id");
					sb.id=parseInt(id);
					sb.cid=cid;
					//获取要加入本班级的学员id
					var sid=$(obj).attr("sid")
					sb.sid=parseInt(sid);
					cz.push(sb);
				})
				console.log(cz);
				//Ajax传值
				$.ajax({
					url:'addYl',
					type:'POST',
					data: JSON.stringify(cz),
					contentType:'application/json;charset=utf-8',
					success:function(data){
						
					}
				})
			})
			
			//点击提交获取数据
			$("body").on("click","#add",function(){
				//定义一个数据数组
				var comlist=[];
				//获取所有元素数组
				var jd=$("#bwzh div");
				//循环数组
				$.each(jd,function(i,obj){
					//定义一个职位对象
					var zhiwei={};
					//获取职位名字
					zhiwei.jobTitle=$(obj).find(".sectionName").val();
					//获取职位id
					zhiwei.pid=$(obj).find(".sectionName").attr("pid");
					//班级id
					zhiwei.clid=id;
					//判断是否是考勤人员
					if($(obj).find("[type=checkbox]").is(':checked')){
						zhiwei.attendance=1;
					}else{
						zhiwei.attendance=0;
					}
					//定义一个班委对象
					var com={};
					//获取班委的学员id
					var sd=$(obj).find("select").val();
					//获取班委的索引id
					com.ccid=$(obj).find(".sectionName").attr("ccid")
					com.sid=parseInt(sd);
				 
					zhiwei.com=com;
					//把加入好的数据对象加入数组中
					comlist.push(zhiwei);
				})
				console.log(comlist);
				$.ajax({
					url:"insertComAndPos",
					type:'POST',
					data: JSON.stringify(comlist),
					contentType:'application/json;charset=utf-8',
					success:function(data){
							location.reload();
						}
					})
			})
			
		
		
		})
</script>