<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>123</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/static/css/ready.css}">
		<link rel="stylesheet" th:href="@{/static/css/demo.css}">
		<style type="text/css">
				ul li{
					display: inline-block;
					width: 100px;
					padding: 10px;
					margin-right: 50px;
					margin-top: 20px;
					background-color:#C9E2B3 ;
					text-align: center;
				}
				#moren span{
					background: #87CEFA;
					padding: 10px 10px;
				}
				#zidingyi span{
					background: #87CEFA;
					padding: 10px 20px;
				}
				#zidingyi strong{
					color: white;
					background: red;
					padding: 10px 20px;
				}
		</style>
	</head>

	<body>
		<div class="main-panel"> 
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">实时课堂</h4>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
						<div class="card-header">
							<h4 class="card-title text-success">
								{{kb.time}}/<span v-if="kb.temporalInterva==0">上午</span><span v-if="kb.temporalInterva==1">下午</span>/{{clazz.cname}}/{{course.courseName}}/{{clazzroom.name}}<span style="position: relative; right: -500px">当前选中的状态:<span id="xz"></span></span>
							</h4>
						</div>
						<div class="card-body " style="padding-top: 0px; padding-bottom: 0px;">
							<div id="moren" style=" display: inline-block;border-right: 2px solid #31B0D5; width: 315px; padding-top: 15px; padding-bottom: 15px;">
								<span class="clickZ" data-etid="1">表扬</span>
								<span class="clickZ" data-etid="2">批评</span>
								<span class="clickZ" data-etid="3">回答问题(好)</span>
								<span class="clickZ" data-etid="4">回答问题(差)</span>
							</div>
							<div id="zidingyi" style="display: inline-block;">
								<i>自定义</i>
								<span v-for="ll in zidingyi" v-bind:data-etid="ll.etid" style="margin-left 5px;margin-right: 5px" class="clickZ">{{ll.event_name}}</span>
								<strong id="add">添加</strong>
							</div>
						</div>
						<div class="card-footer">
								<ul style="list-style: none;">
									<li class="sid" v-for="l in statusList" v-bind:sid="l.sid">{{l.stu.studentname}}({{l.stu.count2}}/{{l.stu.count}})</li>
								</ul> 
						</div>
					</div>
						</div>
					</div>
			</div>
			<div class="modal fade show" id="as" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro" style="display: none; padding-right: 16px;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h6 class="modal-title">添加自定义按钮</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" id="closeadd">×</span>
					</button>
				</div>
				<div class="modal-body text-center">									
					<div id="status">
						<span>请输入事件名称:</span><input type="text" id="event_name"><br>
						<span>请选择事件类型:    </span><input style="position: static; margin-left: 50px" type="radio" name="leix" value="0">好<input style="position: static; margin-left: 40px;"  type="radio" name="leix" value="1"><span style="margin-right: 15px">差</span>
					</div>
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="insert">提交</button>
				</div>
			</div>
		</div> 
	</div>
		</div>
	</body>
<script th:src="@{/static/js/echarts.js}"></script>
	<script th:src="@{/static/js/core/jquery.3.2.1.min.js}"></script>
	<script th:src="@{/static/js/core/vue.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/static/js/core/popper.min.js}"></script>
	<script th:src="@{/static/js/core/bootstrap.min.js}"></script>
	<script th:src="@{/static/js/plugin/chartist/chartist.min.js}"></script>
	<script th:src="@{/static/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
	<script th:src="@{/static/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
	<script th:src="@{/static/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
	<script th:src="@{/static/js/plugin/chart-circle/circles.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
	<script th:src="@{/static/js/ready.min.js}"></script>
<script type="text/javascript">
	$(function(){
		var tid=[[${tid}]];
		var v=new Vue({
			el:'.main-panel',
			data:{
				kb:null,
				statusList:null,
				clazz:null,
				course:null,
				clazzroom:null,
				zidingyi:null,
			}
		})
		//Ajax根据当前日期以及当前时间区间和教师id判断该教师该时间段是否有课
		$.ajax({
			url:'queryBytidAndtime?tid='+tid,
			type:'POST',
			success:function(data){
				v.kb=data; 
				console.log(v.kb);
				$.ajax({
					url:"queryBystatusAndid?cid="+data.clid+"&tid="+tid,
					type:'POST',
					success:function(data){
						v.statusList=data;
							console.log(data);
						}
					})
					$.ajax({ 
							url:"queryBycid?id="+data.clid,
							type:'POST',
							success:function(data2){
							v.clazz=data2;
							console.log(data2);
							}
					})
					$.ajax({ 
							url:"queryBycourseid?cid="+data.cid,
							type:'POST',
							success:function(data3){
							v.course=data3;
							console.log(data3);
							}
					})
					$.ajax({ 
							url:"queryByroomid?id="+data.rid,
							type:'POST',
							success:function(data4){
							v.clazzroom=data4;
							console.log(data4);
							}
					})
					$.ajax({ 
							url:"queryByuid?uid="+tid,
							type:'POST',
							success:function(data5){
							v.zidingyi=data5;
							console.log(data5);
							}
					})
			}
		})
		//点击添加学员按钮  显示模态框
		$("body").on("click","#add",function(){
			$("#as").show();
		})
		$("body").on("click","#closeadd",function(){
			$("#as").hide();
		})
		//点击添加按钮  添加自定义按钮
		$("body").on("click","#insert",function(){
			var returned_value=$('input:radio:checked').val();
			var event_name=$("#event_name").val();
			var shadiao={};
			shadiao.event_name=event_name;
			shadiao.returned_value=returned_value;
			shadiao.uid=tid;
			
			$.ajax({ 
				url:"insertZidingyi",
				type:'POST',
				data:shadiao,
				dataType:"text",
			
				success:function(data7){
					location.reload();
				},error:function(){
					
				}
		})
		})
		//变量 当前选中的状态
		var  dqxz = null;
		var  ettt=null;
		//点击状态修改
		$("body").on("click",".clickZ",function(){
			dqxz=$(this);
			$("#xz").html($(this).html());
			ettt=$(this).attr("data-etid");
			
		})
		//点击学员添加一条记录
		$("body").on("click",".sid",function(){
			var sll=$(this).html();
			 if(dqxz==null){
				 alert("您还没选择状态");
			 }else{
				 //学员id
				 var sid=$(this).attr("sid");
				var etid=ettt;
			   	 //定义一个新增对象
				 var zz={};
				 zz.sid=sid;
				 zz.etid=etid;
				 zz.tid=tid;
				 zz.user1=v.clazz.id;
				 $.ajax({ 
						url:"insertTSEid",
						type:'POST',
						data:zz,
						dataType:"text",
						success:function(data8){
							var sl=$("#xz").html();
							var ind=sll.indexOf("(");
							var sss=sll.substring(0,ind);
							alert("您"+sl+"了"+sss);
							location.reload();
						}  
			 })
		}
		})
	})
</script>
</html>