<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>发布任务</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/ready.css">
		<style>
			/*.nav div{
				float: left;
			}*/
		</style>
	</head>
	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title col-lg-12 col-xs-6">任务管理</h4>
					<div class="card col-lg-12">
						<div class="card-header">
							<h4 class="card-title">
								发布任务
							</h4>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="squareInput">任务名称：</label>
								<input type="text" class="form-control input-square" id="squareInput">
							</div>
							<div class="form-check">
								<label class="form-radio-label">
									<input class="form-radio-input" type="radio" name="optionsRadios" value="">
									<span class="form-radio-sign">是否定时发布</span>
								</label>
							</div>
							<div class="form-group">
								<label for="largeSelect">开始时间：</label>
								<input type="date" />
								<label for="largeSelect">结束时间：</label>
								<input type="date" />
							</div>
							<div class="form-group">
								<label for="largeSelect">所带年级：</label>
								<select class="form-control form-control-lg" id="largeSelect">
									<option>S1</option>
									<option>S2</option>
									<option>Y2</option>
									<option>启蒙星</option>
								</select>
								<label for="largeSelect">所带班级：</label>
								<select class="form-control form-control-lg" id="largeSelect">
									<option>1717</option>
									<option>1818</option>
									<option>1716</option>
									<option>1718</option>
								</select>
								<label for="largeSelect">老师：</label>
								<select class="form-control form-control-lg" id="largeSelect">
									<option>所有</option>
									<option>陈智魏</option>
									<option>小丑</option>
									<option>张三</option>
								</select>
							</div>
							<div class="form-group">
								<label for="exampleFormControlFile1">附件</label>
								<input type="file" class="form-control-file" id="exampleFormControlFile1">
							</div>
						</div>
						<div class="card-footer">
							<div class="card-action">
								<button class="btn btn-success">发布任务</button>
							</div>
						</div>
					</div>
			</div>
		</div>
	</body>
<script src="js/core/jquery.3.2.1.min.js"></script>
<script src="js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="js/core/popper.min.js"></script>
<script src="js/core/bootstrap.min.js"></script>
<script src="js/plugin/chartist/chartist.min.js"></script>
<script src="js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="js/plugin/chart-circle/circles.min.js"></script>
<script src="js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="js/ready.min.js"></script>
</html>
