<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.arg">
<html>

	<head>
		<meta charset="UTF-8">
		<title>修改教室</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/static/css/ready.css}">
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title col-lg-12 col-xs-6">教室管理</h4>
					<div class="card col-lg-12">
						<div class="card-header">
							<h4 class="card-title">
								修改教室
							</h4>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="squareInput">教室名称：</label>
								<input type="hidden" class="form-control input-square" id="id" th:value="${cs.id}">
								<input type="text" class="form-control input-square" id="name" th:value="${cs.name}">
							</div>
							<div class="form-group">
								<label for="squareInput">教室楼层：</label>
								<input type="text" class="form-control input-square" id="floor" th:value="${cs.floor}">
							</div>
							<div class="form-group">
								<label for="squareInput">容纳人数：</label>
								<input type="text" class="form-control input-square" id="nums" th:value="${cs.galleryful}">
							</div>
							<div class="form-group">
								<label for="largeSelect">教室类型：</label>
								<select class="form-control form-control-lg" id="largeSelect">
									<option th:if="${cs.ctid==m.id}" th:value="${m.id}" th:text="${m.name}" selected="selected" th:each="m:${list}" ></option> 
									<option th:if="${cs.ctid!=m.id}" th:value="${m.id}" th:text="${m.name}"  th:each="m:${list}" ></option> 
									
									<!-- <option>机房室</option>
									<option>自习室</option>
									<option>上课室</option>
									<option>多媒体</option> -->
								</select>
							</div>
						</div>
						<div class="card-footer">
							<button class="btn btn-primary">修改</button>
						</div>
					</div>
			</div>
		</div>
	</body>
<script th:src="@{/static/js/core/jquery.3.2.1.min.js}"></script>
<script th:src="@{/static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/static/js/core/popper.min.js}"></script>
<script th:src="@{/static/js/core/bootstrap.min.js}"></script>
<script th:src="@{/static/js/plugin/chartist/chartist.min.js}"></script>
<script th:src="@{/static/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
<script th:src="@{/static/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script th:src="@{/static/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
<script th:src="@{/static/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
<script th:src="@{/static/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
<script th:src="@{/static/js/plugin/chart-circle/circles.min.js}"></script>
<script th:src="@{/static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<script th:src="@{/static/js/ready.min.js}"></script>
<script type="text/javascript">
	$(function(){
		alert(1)
        $(".btn").click(function(){
        	var objS = document.getElementById("largeSelect");
            var type = objS.options[objS.selectedIndex].value;
            var name=document.getElementById("name").value;
            var floor=document.getElementById("floor").value;
            var nums=document.getElementById("nums").value;
            var id=document.getElementById("id").value;
            $.ajax({
            	url:"updateClassRoom",
            	data:"id="+id+"&name="+name+"&floor="+floor+"&ctid="+type+"&galleryful="+nums,
            	success:function(result){
            		alert(result)
            		location.href="queryClr"
            	}
            })
        })
	})
</script>
</html>