<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>题目添加</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/ready.css">
<style>
.card-body div {
	width: 50%;
	margin: auto;
}

.card-body .form-control	{
	width: 80%;
	display: inline;
	margin-left: 20px;
}

.card-body .form-group label {
	width: 70px;
}

.selectbox div {
	float: left;
}

#btnsubmit button:nth-child(1) {
	margin-top: 20px;
	width: 100px;
	float: left;
}

#btnsubmit button:nth-child(2) {
	margin-top: 20px;
	width: 100px;
	float: right;
}

.selectbox {
	display: none;
}

.selectboxshow {
	display: block;
}

.topicconten {
	display: none;
}

.topiccontenshow {
	display: block;
}

.analysis {
	display: none;
}

.analysisshow {
	display: block;
}

.upfile {
	display: none;
}

.upfileshow {
	display: block;
}
</style>
</head>

<body>
	<div class="main-panel">
		<div class="content">
			<div class="container-fluid">
				<h4 class="page-title">新增题目</h4>
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">题库题目新增</h4>
					</div>
					<div class="card-body">
						<div class="form-group" id="grade">
							<label for="successInput">年级</label> <select
											class="form-control input-square" id="squareSelect">
											<option v-bind:value="obj.gid" v-for="(obj,index) in list">{{obj.gradeName}}</option>
							</select>
						</div>
						<div class="form-group" id="course">
							<label for="defaultSelect">课程</label> <select
								class="form-control form-control" id="defaultSelect">
								<option v-bind:value="obj.cid" v-for="(obj,index) in list">{{obj.courseName}}</option>
							</select>
						</div>
						<div class="form-group" id="chapter">
							<label for="defaultSelect">章节</label> <select
								class="form-control form-control" id="defaultSelect" name="cid">
								<option v-for="(obj,index) in list" v-bind:value="obj.secid">{{obj.sectionName}}</option>
							</select>
						</div>
						<div class="form-group" style="display: none;">
							<label for="defaultSelect">小结</label> <select
								class="form-control form-control" id="defaultSelect" name="kid">
								<option value="1">选择题</option>
								<option value="2">阅读题</option>
								<option value="3">上机题</option>
							</select>
						</div>
						<div class="form-group">
							<label for="defaultSelect">题目类型</label> <select
								class="form-control form-control" id="topictype" name="tid">
								<option value="-1">请选择</option>
								<option value="1">选择题</option>
								<option value="2">阅读题</option>
								<option value="3">上机题</option>
							</select>
						</div>
						<div class="form-group">
							<label for="defaultSelect">考点类型</label> <select
								class="form-control form-control" id="topictype" name="examdot">
								<option value="-1">请选择</option>
								<option value="0">识记</option>
								<option value="1">理解</option>
								<option value="2">应用</option>
							</select>
						</div>
					 	<div class="form-group">
							<label for="defaultSelect">难度</label> <select
								class="form-control form-control" id="topictype" name="rank">
								<option value="-1">请选择</option>
								<option value="1">简</option>
								<option value="2">中</option>
								<option value="3">难</option>
							</select>
						</div> 
						<div class="form-group">
								<label for="defaultSelect">分数</label>
								<input type="text" class="form-control form-control" id="inlineinput" name="user1">
							</div>
						<div class="form-group topicconten">
							<label for="comment" style="float: left; margin-top: 50px;">题目</label>
							<textarea class="form-control" id="comment" rows="5" name="topiccontent">
								</textarea>
						</div>
						<div class="form-group analysis">
							<label for="comment" style="float: left; margin-top: 50px;">解析</label>
							<textarea class="form-control" id="comment" rows="5" name="analysis">
								</textarea>
						</div>
						<div class="selectbox">
							<div class="form-group" style="margin-left: 0px; padding: 0px;">
								<label class="form-radio-label"> <input
									class="form-radio-input" type="radio" name="optionsRadios"
									value=""> <span class="form-radio-sign">A</span>
								</label>
								<textarea class="form-control topicoption" id="comment" rows="5">
									</textarea>
							</div>
							<div class="form-group" style="margin-left: 0px; padding: 0px;">
								<label class="form-radio-label"> <input
									class="form-radio-input" type="radio" name="optionsRadios"
									value=""> <span class="form-radio-sign">B</span>
								</label> 
								<textarea class="form-control topicoption" id="comment" rows="5">
									</textarea>
							</div>
							<div class="form-group" style="margin-left: 0px; padding: 0px;">
								<label class="form-radio-label"> <input
									class="form-radio-input" type="radio" name="optionsRadios"
									value=""> <span class="form-radio-sign">C</span>
								</label>
								<textarea class="form-control topicoption" id="comment" rows="5">
									</textarea>
							</div>
							<div class="form-group" style="margin-left: 0px; padding: 0px;">
								<label class="form-radio-label"> <input
									class="form-radio-input" type="radio" name="optionsRadios"
									value=""> <span class="form-radio-sign">D</span>
								</label>
								<textarea class="form-control topicoption" id="comment" rows="5">
									</textarea>
							</div>
						</div>
						<div class="form-group upfile">
						<form id="form-add" enctype="multipart/form-data">
							<label for="exampleFormControlFile1">上传文档</label> <input
								type="file" class="form-control-file"
								id="exampleFormControlFile1" name="file">
						</form>
						</div>
						<div id="btnsubmit">
							<button class="btn btn-danger">取消</button>
							<button class="btn btn-success submit">确认</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>
<script src="../static/js/core/jquery.min.js"></script>
<script src="../static/js/core/vue.js"></script>
<script>
	//年级
	var grade=new Vue({
		el:"#grade",
		data:{
			list:null
		}
	})
	
	//课程
	var course=new Vue({
		el:"#course",
		data:{
			list:null
		}
	})
	
	//章节
	var chapter=new Vue({
		el:"#chapter",
		data:{
			list:null
		}
	})
	$(function() {
		//年级渲染
		$.ajax({
			type : "get",
			url : "http://127.0.0.1:8080/TestInstance/queryAll",
			data : {
				id : 1
			},
			success : function(data) {
				grade.list = data;
			}
		})
		$("#topictype").change(function() {
			var value = $("#topictype").val()
			if (value == -1) {
				$(".selectbox").removeClass("selectboxshow")
				$(".topicconten").removeClass("topiccontenshow")
				$(".analysis").removeClass("analysisshow")
				$(".upfile").removeClass("upfileshow")
			}
			/*显示选项*/
			if (value == 1) {
				$(".analysis").addClass("analysisshow")
				$(".selectbox").addClass("selectboxshow")
				$(".topicconten").addClass("topiccontenshow")
				$(".upfile").removeClass("upfileshow")

			}
			/*阅读题*/
			if (value == 2) {
				$(".analysis").addClass("analysisshow")
				$(".topicconten").addClass("topiccontenshow")
				$(".selectbox").removeClass("selectboxshow")
				$(".upfile").removeClass("upfileshow")
			}
			if (value == 3) {
				$(".selectbox").removeClass("selectboxshow")
				$(".topicconten").removeClass("topiccontenshow")
				$(".analysis").removeClass("analysisshow")
				$(".upfile").addClass("upfileshow")
			}
			/*上机题目*/
		})
		//添加题目
		$(".submit").click(function() {
			var obj={}
			obj.tid = $("[name=tid] option:selected").val()
			obj.user1=$("[name=user1]").val()
			obj.cid = $("[name=cid] option:selected").val()
			obj.examdot=$("[name=examdot] option:selected").val()
			obj.kid = $("[name=kid] option:selected").val()
			obj.rank=$("[name=rank] option:selected").val()
			obj.analysis=$("[name=analysis]").val().trim();
			obj.topicconten=$("[name=topiccontent]").val().trim()
			var array=$(".selectbox .topicoption")
			var list1=[];
			var formData = new FormData($("#form-add")[0]);	//表单
			for(var i=0;i<array.length;i++){
				var temp={}
				temp.optionconten=array[i].value.trim()
				temp.option=$(array[i]).parents(".form-group").find("span").html()
				if($(array[i]).parents(".form-group").find("input").is(':checked')){
					temp.istrue=1;
				}else{
					temp.istrue=0;
				}
				list1.push(temp)
			}
			obj.list=list1;
			var str=JSON.stringify(obj)
			formData.append('str',str);
			$.ajax({
				type : "post",
				url : "http://127.0.0.1:8080/topicWarehouseController/addTopic",
				data :formData,
				async: false,
	            contentType: false,
	            processData: false,
				success : function(data) {
					
				}
			}); 
		})
		
		//联动
		$("body").on("change","#grade select",function(){
			var id=$(this).find("option:selected").val()
			$.ajax({
				type:"get",
				url:"http://127.0.0.1:8080/topicWarehouseController/queryBygid",
				data:{cid:id},
				success:function(data){
					course.list=data
					/* console.log(JSON.stringify(data)) */
				}
			})
		})
		//联动
		$("body").on("change","#course select",function(){
			var cid=$(this).find("option:selected").val()
			$.ajax({
				type:"get",
				url:"http://127.0.0.1:8080/topicWarehouseController/queryBycid",
				data:{cid:cid},
				success:function(data){
					chapter.list=data
					console.log(JSON.stringify(data))
				}
			})
		})
	})
</script>