<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.ClazzcourseteacherMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.Clazzcourseteacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="clazzid" jdbcType="INTEGER" property="clazzid" />
    <result column="courseid" jdbcType="INTEGER" property="courseid" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="starttime" jdbcType="DATE" property="starttime" />
    <result column="endtime" jdbcType="DATE" property="endtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="isMaster" jdbcType="INTEGER" property="ismaster" />
    <result column="isTeacher" jdbcType="INTEGER" property="isteacher" />
  </resultMap>
  <resultMap type="com.CloudSchool.domain.Clazzcourseteacher" id="queryGreadNameTid">
  	<id column="id" property="id"/>
  	<result column="grade_name" property="greaName"/>
  	<result column="cname" property="cname"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, clazzid, courseid, tid, starttime, endtime, status, isMaster, isTeacher
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clazzcourseteacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from clazzcourseteacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CloudSchool.domain.Clazzcourseteacher">
    insert into clazzcourseteacher (id, clazzid, courseid, 
      tid, starttime, endtime, 
      status, isMaster, isTeacher
      )
    values (#{id,jdbcType=INTEGER}, #{clazzid,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, 
      #{tid,jdbcType=INTEGER}, #{starttime,jdbcType=DATE}, #{endtime,jdbcType=DATE}, 
      #{status,jdbcType=INTEGER}, #{ismaster,jdbcType=INTEGER}, #{isteacher,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.Clazzcourseteacher">
    insert into clazzcourseteacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clazzid != null">
        clazzid,
      </if>
      <if test="courseid != null">
        courseid,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="ismaster != null">
        isMaster,
      </if>
      <if test="isteacher != null">
        isTeacher,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clazzid != null">
        #{clazzid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null">
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ismaster != null">
        #{ismaster,jdbcType=INTEGER},
      </if>
      <if test="isteacher != null">
        #{isteacher,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CloudSchool.domain.Clazzcourseteacher">
    update clazzcourseteacher
    <set>
      <if test="clazzid != null">
        clazzid = #{clazzid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null">
        courseid = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="ismaster != null">
        isMaster = #{ismaster,jdbcType=INTEGER},
      </if>
      <if test="isteacher != null">
        isTeacher = #{isteacher,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CloudSchool.domain.Clazzcourseteacher">
    update clazzcourseteacher
    set clazzid = #{clazzid,jdbcType=INTEGER},
      courseid = #{courseid,jdbcType=INTEGER},
      tid = #{tid,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=DATE},
      endtime = #{endtime,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER},
      isMaster = #{ismaster,jdbcType=INTEGER},
      isTeacher = #{isteacher,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertAll" parameterType="com.CloudSchool.domain.ClazzInfo">
    insert into `clazzcourseteacher` values
    <foreach collection="tlist" item="t" separator=",">
    	(0,#{id},#{t.courseid},#{t.tid},DATE(now()),null,0,#{t.ismaster},#{t.isteacher})
    </foreach>
  </insert>
  
  <!-- 根据教员查询管理的班级 -->
  <select id="queryByTidResultClass" resultMap="queryGreadNameTid">
  	SELECT clazz.`cname`,zzy_grade.`grade_name`,clazz.`id` FROM clazzcourseteacher
	INNER JOIN clazz ON clazzcourseteacher.`clazzid`=clazz.`id`
	INNER JOIN zzy_grade ON zzy_grade.`gid`=clazz.`gid` 
	AND clazzcourseteacher.`status`=0 AND clazz.`status`=0 AND zzy_grade.state=0
	AND clazzcourseteacher.`tid`=1
  </select>
</mapper>