<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.ClazzstudentMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.Clazzstudent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="starttime" jdbcType="DATE" property="starttime" />
    <result column="endtime" jdbcType="DATE" property="endtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cid, sid, starttime, endtime, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clazzstudent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from clazzstudent
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CloudSchool.domain.Clazzstudent">
    insert into clazzstudent (id, cid, sid, 
      starttime, endtime, status
      )
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, 
      #{starttime,jdbcType=DATE}, #{endtime,jdbcType=DATE}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.Clazzstudent">
    insert into clazzstudent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CloudSchool.domain.Clazzstudent">
    update clazzstudent
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=DATE},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CloudSchool.domain.Clazzstudent">
    update clazzstudent
    set cid = #{cid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=DATE},
      endtime = #{endtime,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertAll" parameterType="com.CloudSchool.domain.ClazzInfo">
    insert into `clazzstudent` values
    <foreach collection="slist" item="s" separator=",">
    	(0,#{id},#{s.sid},DATE(now()),null,0)
    </foreach>
  </insert>
 <!-- 根据班级id查询班级学生中间  获得一个班级中学生的id -->
	<resultMap type="com.CloudSchool.domain.Clazzstudent" id="result" extends="BaseResultMap">
						<association property="stu" column="sid" javaType="com.CloudSchool.domain.CqjStudent" select="com.CloudSchool.dao.CqjStudentMapper.queryBysid"></association>
	</resultMap>
 
 <select id="queryByMo" resultMap="result">
 		SELECT * FROM `clazzstudent` WHERE cid=#{cid}
 </select>
 
 <!-- 查询班级中所有正常的学员 -->
 <select id="queryBystatusAndid" resultMap="result">
 		SELECT * FROM `clazzstudent` WHERE cid=#{cid} and status=0
 </select>
 
 
 <!-- 查询班级游离出去的学员的 学员对象 以及班级对象 -->
 <resultMap type="com.CloudSchool.domain.Clazzstudent" id="zc" extends="BaseResultMap">
		<association property="stu" column="sid" javaType="com.CloudSchool.domain.CqjStudent" select="com.CloudSchool.dao.CqjStudentMapper.queryBysid"></association>
		<association property="cla" column="cid" javaType="com.CloudSchool.domain.Clazz" select="com.CloudSchool.dao.ClazzMapper.queryZcid"></association>
</resultMap>
 <!-- 根据班级id 获取从这个班级游离出去的学员 以及学员现在所在的班级 --> 
 <select id="queryZc" resultMap="zc">
 		SELECT * FROM `clazzstudent` WHERE sid in (SELECT sid FROM `clazzstudent` WHERE cid=#{cid} AND `status`=4) AND `status`=0
 </select>
 <!-- 查询所有状态为游离未分配的学员 -->
 <select id="queryBystatus" resultMap="zc">
 		SELECT * FROM `clazzstudent` WHERE `status` =3
 </select>
 
 <!-- 根据id 将状态改为4(游离已分配) -->
 		<update id="updateByid">
 				update  `clazzstudent` set `status`=4 where `id`=#{id};
 		</update>
 <!-- 在一个班级中添加一个学员 -->
 		<insert id="insertOne">
 				insert into  `clazzstudent`(`cid`,`sid`,`status`) value(#{cid},#{sid},0)
 		</insert>
</mapper>