<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.ClazzSMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.statistics.StudentInfoVO">
    <id column="studentId" jdbcType="INTEGER" property="studentId" />
    <result column="studentName" jdbcType="VARCHAR" property="studentName" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    
    
    <collection property="testList" column="studentId" ofType="com.CloudSchool.domain.statistics.testVO">
    	<id column="tId" property="tId" />
    	<result column="TestName" property="TestName" />
    	<result column="StudentScore" property="StudentScore" />
    	<result column="rank" property="rank" />
    </collection>
  </resultMap>
  
 	<!-- 查询多个学生（一个班级），多次考试成绩 -->
  <select id="queryStudentTestVoBySidsAndTid" resultMap="BaseResultMap">
	SELECT (((@i:=@i+1)-1)%2+1)AS `rank`,a.* FROM (
	SELECT testGrade.`tid`,testModule.`name`AS TestName,testGrade.`sId`AS studentId,IFNULL(testGrade.`score`,0)AS`StudentScore`,
	cqj_student.`studentname`AS studentName,cqj_student.`studentnub`AS `no`
	FROM cqj_student
	INNER JOIN testGrade ON testGrade.`sId` = cqj_student.`studentid`
	#AND testGrade.`sId` IN (1,2,3) #学员id
	#AND testGrade.`tid` IN (1,2)#试卷id
	INNER JOIN clazzstudent ON clazzstudent.`sid` = cqj_student.`studentid` AND clazzstudent.`cid` = #{clazzId} 
	INNER JOIN testInstance ON testInstance.`id` = testGrade.`tid`
	INNER JOIN testModule ON testModule.`id` = testInstance.`tId`#试卷名称
	WHERE testModule.`tId` = 1#日常小考
	AND testModule.`uId` = (SELECT cqj_user.`userid` FROM `cqj_user` WHERE `cqj_user`.`usertypenub` = 0 AND `cqj_user`.`usertypeid` = #{staffId})
	GROUP BY testGrade.`tid`,testGrade.`sId`
	ORDER BY (testGrade.`tid`+ `StudentScore`/1000) DESC
	) a , (SELECT @i:=0) i
  </select>
  
  <!-- 查询所有在读学员和在职员工和班级数量 -->
  <select id="queryBaseInfoAboutALlCount" resultType="int">
  	SELECT COUNT(*) FROM `cqj_student`
	WHERE `cqj_student`.standby1 = 0 #在读 
	UNION ALL 
	
	SELECT COUNT(*) FROM `cqj_staff`
	WHERE cqj_staff.`standby2` IS NULL #非离职
	
	UNION ALL
	
	SELECT COUNT(*) FROM `clazz`
	WHERE `clazz`.`status` = 2 #正在进行
  </select>
  
  
  
  
</mapper>