<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.GkInterviewMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.GkInterview">
    <id column="ft_id" jdbcType="INTEGER" property="ftId" />
    <result column="ft_people" jdbcType="INTEGER" property="ftPeople" />
    <result column="ft_object" jdbcType="INTEGER" property="ftObject" />
    <result column="ft_starttime" jdbcType="TIMESTAMP" property="ftStarttime" />
    <result column="ft_time" jdbcType="INTEGER" property="ftTime" />
    <result column="ft_problem" jdbcType="VARCHAR" property="ftProblem" />
    <result column="people_proposal" jdbcType="VARCHAR" property="peopleProposal" />
    <result column="ft_object_explain" jdbcType="VARCHAR" property="ftObjectExplain" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="founder" jdbcType="VARCHAR" property="founder" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="by1" jdbcType="VARCHAR" property="by1" />
    <result column="by2" jdbcType="VARCHAR" property="by2" />
    <result column="by3" jdbcType="VARCHAR" property="by3" />
    <result column="by4" jdbcType="VARCHAR" property="by4" />
    <result column="by5" jdbcType="VARCHAR" property="by5" />
  </resultMap>
  <!-- 删除访谈信息 -->
  <delete id="deleteFangTanByftId" parameterType="java.lang.Integer">
  	UPDATE `gk_interview` SET `status`=-9
	<where>
		ft_id in 
		<foreach collection="array"  open="(" close=")" separator="," item="shuzu" >
			#{shuzu}
		</foreach>
	</where>
  </delete>
  <!-- 查询所有访谈 -->
  <select id="queryAllFangTan" resultMap="BaseResultMap" >
  	SELECT * FROM ftinfo
  	<where>
  		status=0
  		<if test="peoplename">
  			AND peoplename LIKE concat('%',#{peoplename},'%')
  		</if>
  		<if test="objectname">
  		 	AND objectname LIKE concat('%',#{objectname},'%')
  		</if>
		<if test="startStr!=null and endStr!=null">
			AND ft_starttime BETWEEN  #{startStr} AND #{endStr}
		</if>
		<if test="startStr!=null and endStr==null">
			AND ft_starttime BETWEEN  #{startStr} AND NOW()
		</if>
		<if test="startStr==null and endStr!=null">
			AND ft_starttime &lt;= #{endStr}
		</if>
		</where>
	LIMIT #{currentPage},#{pageSize}
  </select>
  <!-- 查询所有访谈行数 -->
  <select id="queryAllFangTanCount" resultType="int">
  	SELECT COUNT(*) FROM `ftinfo`
  	<where>
  	 	status=0
	<if test="peoplename">
		AND peoplename LIKE concat('%',#{peoplename},'%')
	</if>
	<if test="objectname">
	 	AND objectname LIKE concat('%',#{objectname},'%')
	</if>
	<if test="startStr!=null and endStr!=null">
		AND ft_starttime BETWEEN  #{startStr} AND #{endStr}
	</if>
	<if test="startStr!=null and endStr==null">
		AND ft_starttime BETWEEN  #{startStr} AND NOW()
	</if>
	<if test="startStr==null and endStr!=null">
		AND ft_starttime &lt;= #{endStr}
	</if>
		
	</where>
  </select>
  <!-- 通过访谈id查询访谈详情 -->
  <select id="queryFangTanDetailsByftid" resultMap="BaseResultMap">
  	SELECT * FROM `ftinfo`WHERE ft_id=#{ftId}
  </select>
  
  <sql id="Base_Column_List">
    ft_id, ft_people, ft_object, ft_starttime, ft_time, ft_problem, people_proposal, 
    ft_object_explain, creation_time, update_time, founder, status, by1, by2, by3, by4, 
    by5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gk_interview
    where ft_id = #{ftId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gk_interview
    where ft_id = #{ftId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CloudSchool.domain.GkInterview">
    insert into gk_interview (ft_id, ft_people, ft_object, 
      ft_starttime, ft_time, ft_problem, 
      people_proposal, ft_object_explain, creation_time, 
      update_time, founder, status, 
      by1, by2, by3, by4, 
      by5)
    values (#{ftId,jdbcType=INTEGER}, #{ftPeople,jdbcType=INTEGER}, #{ftObject,jdbcType=INTEGER}, 
      #{ftStarttime,jdbcType=TIMESTAMP}, #{ftTime,jdbcType=INTEGER}, #{ftProblem,jdbcType=VARCHAR}, 
      #{peopleProposal,jdbcType=VARCHAR}, #{ftObjectExplain,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{founder,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{by1,jdbcType=VARCHAR}, #{by2,jdbcType=VARCHAR}, #{by3,jdbcType=VARCHAR}, #{by4,jdbcType=VARCHAR}, 
      #{by5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.GkInterview">
    insert into gk_interview
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ftId != null">
        ft_id,
      </if>
      <if test="ftPeople != null">
        ft_people,
      </if>
      <if test="ftObject != null">
        ft_object,
      </if>
      <if test="ftStarttime != null">
        ft_starttime,
      </if>
      <if test="ftTime != null">
        ft_time,
      </if>
      <if test="ftProblem != null">
        ft_problem,
      </if>
      <if test="peopleProposal != null">
        people_proposal,
      </if>
      <if test="ftObjectExplain != null">
        ft_object_explain,
      </if>
      <if test="creationTime != null">
        creation_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="founder != null">
        founder,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="by1 != null">
        by1,
      </if>
      <if test="by2 != null">
        by2,
      </if>
      <if test="by3 != null">
        by3,
      </if>
      <if test="by4 != null">
        by4,
      </if>
      <if test="by5 != null">
        by5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ftId != null">
        #{ftId,jdbcType=INTEGER},
      </if>
      <if test="ftPeople != null">
        #{ftPeople,jdbcType=INTEGER},
      </if>
      <if test="ftObject != null">
        #{ftObject,jdbcType=INTEGER},
      </if>
      <if test="ftStarttime != null">
        #{ftStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="ftTime != null">
        #{ftTime,jdbcType=INTEGER},
      </if>
      <if test="ftProblem != null">
        #{ftProblem,jdbcType=VARCHAR},
      </if>
      <if test="peopleProposal != null">
        #{peopleProposal,jdbcType=VARCHAR},
      </if>
      <if test="ftObjectExplain != null">
        #{ftObjectExplain,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="founder != null">
        #{founder,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="by1 != null">
        #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null">
        #{by2,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null">
        #{by3,jdbcType=VARCHAR},
      </if>
      <if test="by4 != null">
        #{by4,jdbcType=VARCHAR},
      </if>
      <if test="by5 != null">
        #{by5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CloudSchool.domain.GkInterview">
    update gk_interview
    <set>
      <if test="ftPeople != null">
        ft_people = #{ftPeople,jdbcType=INTEGER},
      </if>
      <if test="ftObject != null">
        ft_object = #{ftObject,jdbcType=INTEGER},
      </if>
      <if test="ftStarttime != null">
        ft_starttime = #{ftStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="ftTime != null">
        ft_time = #{ftTime,jdbcType=INTEGER},
      </if>
      <if test="ftProblem != null">
        ft_problem = #{ftProblem,jdbcType=VARCHAR},
      </if>
      <if test="peopleProposal != null">
        people_proposal = #{peopleProposal,jdbcType=VARCHAR},
      </if>
      <if test="ftObjectExplain != null">
        ft_object_explain = #{ftObjectExplain,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="founder != null">
        founder = #{founder,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="by1 != null">
        by1 = #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null">
        by2 = #{by2,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null">
        by3 = #{by3,jdbcType=VARCHAR},
      </if>
      <if test="by4 != null">
        by4 = #{by4,jdbcType=VARCHAR},
      </if>
      <if test="by5 != null">
        by5 = #{by5,jdbcType=VARCHAR},
      </if>
    </set>
    where ft_id = #{ftId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CloudSchool.domain.GkInterview">
    update gk_interview
    set ft_people = #{ftPeople,jdbcType=INTEGER},
      ft_object = #{ftObject,jdbcType=INTEGER},
      ft_starttime = #{ftStarttime,jdbcType=TIMESTAMP},
      ft_time = #{ftTime,jdbcType=INTEGER},
      ft_problem = #{ftProblem,jdbcType=VARCHAR},
      people_proposal = #{peopleProposal,jdbcType=VARCHAR},
      ft_object_explain = #{ftObjectExplain,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      founder = #{founder,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      by1 = #{by1,jdbcType=VARCHAR},
      by2 = #{by2,jdbcType=VARCHAR},
      by3 = #{by3,jdbcType=VARCHAR},
      by4 = #{by4,jdbcType=VARCHAR},
      by5 = #{by5,jdbcType=VARCHAR}
    where ft_id = #{ftId,jdbcType=INTEGER}
  </update>
</mapper>