<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.GkQuestionnaireshMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.GkQuestionnairesh">
    <id column="wjsh_id" jdbcType="INTEGER" property="wjshId" />
    <result column="wjsh_name" jdbcType="VARCHAR" property="wjshName" />
    <result column="wjsh_state_id" jdbcType="INTEGER" property="wjshStateId" />
    <result column="wjsh_time" jdbcType="TIMESTAMP" property="wjshTime" />
    <result column="wj_type_id" jdbcType="INTEGER" property="wjTypeId" />
    <result column="originator_id" jdbcType="INTEGER" property="originatorId" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="founder" jdbcType="VARCHAR" property="founder" />
    <result column="delete" jdbcType="INTEGER" property="delete" />
    <result column="by1" jdbcType="VARCHAR" property="by1" />
    <result column="by2" jdbcType="VARCHAR" property="by2" />
    <result column="by3" jdbcType="VARCHAR" property="by3" />
    <result column="by4" jdbcType="VARCHAR" property="by4" />
    <result column="by5" jdbcType="VARCHAR" property="by5" />
  </resultMap>
  <sql id="Base_Column_List">
    wjsh_id, wjsh_name, wjsh_state_id, wjsh_time, wj_type_id, originator_id, creation_time, 
    update_time, founder, delete, by1, by2, by3, by4, by5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gk_questionnairesh
    where wjsh_id = #{wjshId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gk_questionnairesh
    where wjsh_id = #{wjshId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CloudSchool.domain.GkQuestionnairesh">
    insert into gk_questionnairesh (wjsh_id, wjsh_name, wjsh_state_id, 
      wjsh_time, wj_type_id, originator_id, 
      creation_time, update_time, founder, 
      delete, by1, by2, by3, 
      by4, by5)
    values (#{wjshId,jdbcType=INTEGER}, #{wjshName,jdbcType=VARCHAR}, #{wjshStateId,jdbcType=INTEGER}, 
      #{wjshTime,jdbcType=TIMESTAMP}, #{wjTypeId,jdbcType=INTEGER}, #{originatorId,jdbcType=INTEGER}, 
      #{creationTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{founder,jdbcType=VARCHAR}, 
      #{delete,jdbcType=INTEGER}, #{by1,jdbcType=VARCHAR}, #{by2,jdbcType=VARCHAR}, #{by3,jdbcType=VARCHAR}, 
      #{by4,jdbcType=VARCHAR}, #{by5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.GkQuestionnairesh">
    insert into gk_questionnairesh
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wjshId != null">
        wjsh_id,
      </if>
      <if test="wjshName != null">
        wjsh_name,
      </if>
      <if test="wjshStateId != null">
        wjsh_state_id,
      </if>
      <if test="wjshTime != null">
        wjsh_time,
      </if>
      <if test="wjTypeId != null">
        wj_type_id,
      </if>
      <if test="originatorId != null">
        originator_id,
      </if>
      <if test="creationTime != null">
        creation_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="founder != null">
        founder,
      </if>
      <if test="delete != null">
        delete,
      </if>
      <if test="by1 != null">
        by1,
      </if>
      <if test="by2 != null">
        by2,
      </if>
      <if test="by3 != null">
        by3,
      </if>
      <if test="by4 != null">
        by4,
      </if>
      <if test="by5 != null">
        by5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wjshId != null">
        #{wjshId,jdbcType=INTEGER},
      </if>
      <if test="wjshName != null">
        #{wjshName,jdbcType=VARCHAR},
      </if>
      <if test="wjshStateId != null">
        #{wjshStateId,jdbcType=INTEGER},
      </if>
      <if test="wjshTime != null">
        #{wjshTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wjTypeId != null">
        #{wjTypeId,jdbcType=INTEGER},
      </if>
      <if test="originatorId != null">
        #{originatorId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="founder != null">
        #{founder,jdbcType=VARCHAR},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=INTEGER},
      </if>
      <if test="by1 != null">
        #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null">
        #{by2,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null">
        #{by3,jdbcType=VARCHAR},
      </if>
      <if test="by4 != null">
        #{by4,jdbcType=VARCHAR},
      </if>
      <if test="by5 != null">
        #{by5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CloudSchool.domain.GkQuestionnairesh">
    update gk_questionnairesh
    <set>
      <if test="wjshName != null">
        wjsh_name = #{wjshName,jdbcType=VARCHAR},
      </if>
      <if test="wjshStateId != null">
        wjsh_state_id = #{wjshStateId,jdbcType=INTEGER},
      </if>
      <if test="wjshTime != null">
        wjsh_time = #{wjshTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wjTypeId != null">
        wj_type_id = #{wjTypeId,jdbcType=INTEGER},
      </if>
      <if test="originatorId != null">
        originator_id = #{originatorId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="founder != null">
        founder = #{founder,jdbcType=VARCHAR},
      </if>
      <if test="delete != null">
        delete = #{delete,jdbcType=INTEGER},
      </if>
      <if test="by1 != null">
        by1 = #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null">
        by2 = #{by2,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null">
        by3 = #{by3,jdbcType=VARCHAR},
      </if>
      <if test="by4 != null">
        by4 = #{by4,jdbcType=VARCHAR},
      </if>
      <if test="by5 != null">
        by5 = #{by5,jdbcType=VARCHAR},
      </if>
    </set>
    where wjsh_id = #{wjshId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CloudSchool.domain.GkQuestionnairesh">
    update gk_questionnairesh
    set wjsh_name = #{wjshName,jdbcType=VARCHAR},
      wjsh_state_id = #{wjshStateId,jdbcType=INTEGER},
      wjsh_time = #{wjshTime,jdbcType=TIMESTAMP},
      wj_type_id = #{wjTypeId,jdbcType=INTEGER},
      originator_id = #{originatorId,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      founder = #{founder,jdbcType=VARCHAR},
      delete = #{delete,jdbcType=INTEGER},
      by1 = #{by1,jdbcType=VARCHAR},
      by2 = #{by2,jdbcType=VARCHAR},
      by3 = #{by3,jdbcType=VARCHAR},
      by4 = #{by4,jdbcType=VARCHAR},
      by5 = #{by5,jdbcType=VARCHAR}
    where wjsh_id = #{wjshId,jdbcType=INTEGER}
  </update>
</mapper>