<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.GkQuestionnairetmMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.GkQuestionnairetm">
    <id column="wjtm_id" jdbcType="INTEGER" property="wjtmId" />
    <result column="wjtm_name" jdbcType="VARCHAR" property="wjtmName" />
    <result column="wjtm_type_id" jdbcType="INTEGER" property="wjtmTypeId" />
    <result column="chutiren_id" jdbcType="INTEGER" property="chutirenId" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="founder" jdbcType="VARCHAR" property="founder" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="by1" jdbcType="VARCHAR" property="by1" />
    <result column="by2" jdbcType="VARCHAR" property="by2" />
    <result column="by3" jdbcType="VARCHAR" property="by3" />
    <result column="by4" jdbcType="VARCHAR" property="by4" />
    <result column="by5" jdbcType="VARCHAR" property="by5" />
  </resultMap>
  <sql id="Base_Column_List">
    wjtm_id, wjtm_name, wjtm_type_id, chutiren_id, creation_time, update_time, founder, 
    status, by1, by2, by3, by4, by5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gk_questionnairetm
    where wjtm_id = #{wjtmId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gk_questionnairetm
    where wjtm_id = #{wjtmId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CloudSchool.domain.GkQuestionnairetm">
    insert into gk_questionnairetm (wjtm_id, wjtm_name, wjtm_type_id, 
      chutiren_id, creation_time, update_time, 
      founder, status, by1, 
      by2, by3, by4, by5
      )
    values (#{wjtmId,jdbcType=INTEGER}, #{wjtmName,jdbcType=VARCHAR}, #{wjtmTypeId,jdbcType=INTEGER}, 
      #{chutirenId,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{founder,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{by1,jdbcType=VARCHAR}, 
      #{by2,jdbcType=VARCHAR}, #{by3,jdbcType=VARCHAR}, #{by4,jdbcType=VARCHAR}, #{by5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.GkQuestionnairetm">
    insert into gk_questionnairetm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wjtmId != null">
        wjtm_id,
      </if>
      <if test="wjtmName != null">
        wjtm_name,
      </if>
      <if test="wjtmTypeId != null">
        wjtm_type_id,
      </if>
      <if test="chutirenId != null">
        chutiren_id,
      </if>
      <if test="creationTime != null">
        creation_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="founder != null">
        founder,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="by1 != null">
        by1,
      </if>
      <if test="by2 != null">
        by2,
      </if>
      <if test="by3 != null">
        by3,
      </if>
      <if test="by4 != null">
        by4,
      </if>
      <if test="by5 != null">
        by5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wjtmId != null">
        #{wjtmId,jdbcType=INTEGER},
      </if>
      <if test="wjtmName != null">
        #{wjtmName,jdbcType=VARCHAR},
      </if>
      <if test="wjtmTypeId != null">
        #{wjtmTypeId,jdbcType=INTEGER},
      </if>
      <if test="chutirenId != null">
        #{chutirenId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="founder != null">
        #{founder,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="by1 != null">
        #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null">
        #{by2,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null">
        #{by3,jdbcType=VARCHAR},
      </if>
      <if test="by4 != null">
        #{by4,jdbcType=VARCHAR},
      </if>
      <if test="by5 != null">
        #{by5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CloudSchool.domain.GkQuestionnairetm">
    update gk_questionnairetm
    <set>
      <if test="wjtmName != null">
        wjtm_name = #{wjtmName,jdbcType=VARCHAR},
      </if>
      <if test="wjtmTypeId != null">
        wjtm_type_id = #{wjtmTypeId,jdbcType=INTEGER},
      </if>
      <if test="chutirenId != null">
        chutiren_id = #{chutirenId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="founder != null">
        founder = #{founder,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="by1 != null">
        by1 = #{by1,jdbcType=VARCHAR},
      </if>
      <if test="by2 != null">
        by2 = #{by2,jdbcType=VARCHAR},
      </if>
      <if test="by3 != null">
        by3 = #{by3,jdbcType=VARCHAR},
      </if>
      <if test="by4 != null">
        by4 = #{by4,jdbcType=VARCHAR},
      </if>
      <if test="by5 != null">
        by5 = #{by5,jdbcType=VARCHAR},
      </if>
    </set>
    where wjtm_id = #{wjtmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CloudSchool.domain.GkQuestionnairetm">
    update gk_questionnairetm
    set wjtm_name = #{wjtmName,jdbcType=VARCHAR},
      wjtm_type_id = #{wjtmTypeId,jdbcType=INTEGER},
      chutiren_id = #{chutirenId,jdbcType=INTEGER},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      founder = #{founder,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      by1 = #{by1,jdbcType=VARCHAR},
      by2 = #{by2,jdbcType=VARCHAR},
      by3 = #{by3,jdbcType=VARCHAR},
      by4 = #{by4,jdbcType=VARCHAR},
      by5 = #{by5,jdbcType=VARCHAR}
    where wjtm_id = #{wjtmId,jdbcType=INTEGER}
  </update>
</mapper>