<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sender" jdbcType="INTEGER" property="sender" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="sendername" property="sendername"/>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.CloudSchool.domain.Message">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <resultMap id="CqjUser" type="com.CloudSchool.domain.CqjUser">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="usertypeid" jdbcType="INTEGER" property="usertypeid" />
    <result column="usertypenub" jdbcType="INTEGER" property="usertypenub" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="positionid" jdbcType="INTEGER" property="positionid" />
    <result column="positionname" jdbcType="VARCHAR" property="positionname" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, sender, url, time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.CloudSchool.domain.Message">
    insert into message (id, title, sender, 
      url, time, content
      )
    values (0, #{title,jdbcType=VARCHAR}, #{sender,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, now(), #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.Message">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="sender != null">
        sender,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sender != null">
        #{sender,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CloudSchool.domain.Message">
    update message
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sender != null">
        sender = #{sender,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.CloudSchool.domain.Message">
    update message
    set title = #{title,jdbcType=VARCHAR},
      sender = #{sender,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CloudSchool.domain.Message">
    update message
    set title = #{title,jdbcType=VARCHAR},
      sender = #{sender,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getChatRecord" resultMap="BaseResultMap">
  	SELECT * FROM message INNER JOIN messagereceiver ON message.id=messagereceiver.mid
  	WHERE (messagereceiver.receiver=#{userid} AND sender=#{chatid}) OR (messagereceiver.receiver=#{chatid} AND sender=#{userid})
  </select>
  <select id="getChatList" resultMap="CqjUser">
	SELECT u.`userid`,u.`username`,u.`usertypeid`,u.`usertypenub`,CONCAT(IFNULL(s.`staffname`,''),IFNULL(stu.`studentname`,''),IFNULL(p.`parentsname`,'')) AS `name`,CONCAT(IFNULL(s.`sex`,''),IFNULL(stu.`sex`,''),IFNULL(p.`sex`,'')) AS `sex`,img.`url` FROM cqj_user AS u
	LEFT JOIN cqj_staff AS s ON s.`staffid`=u.`usertypeid` AND u.`usertypenub`=0
	LEFT JOIN cqj_student AS stu ON stu.`studentid`=u.`usertypeid` AND u.`usertypenub`=1
	LEFT JOIN cqj_parents AS p ON p.`parentsid`=u.`usertypeid` AND u.`usertypenub`=2
	LEFT JOIN img ON img.`id`=u.`userid`
	WHERE u.`userid` IN (SELECT (message.sender+messagereceiver.`receiver`-#{userid}) AS uid FROM message INNER JOIN messagereceiver ON message.id=messagereceiver.mid
	WHERE messagereceiver.receiver=#{userid} OR message.`sender`=#{userid} GROUP BY uid)
  </select>
</mapper>