<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.ParticipatetestclassMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.Participatetestclass">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cId" jdbcType="INTEGER" property="cid" />
    <result column="tId" jdbcType="INTEGER" property="tid" />
    <result column="classRoomid" jdbcType="INTEGER" property="classroomid" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user1" jdbcType="VARCHAR" property="user1" />
    <result column="user2" jdbcType="VARCHAR" property="user2" />
    <result column="user3" jdbcType="VARCHAR" property="user3" />
    <result column="user4" jdbcType="VARCHAR" property="user4" />
    <result column="user5" jdbcType="VARCHAR" property="user5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cId, tId, classRoomid, time, status, user1, user2, user3, user4, user5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from participateTestClass
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from participateTestClass
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CloudSchool.domain.Participatetestclass">
    insert into participateTestClass (id, cId, tId, 
      classRoomid, time, status, 
      user1, user2, user3, 
      user4, user5)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, 
      #{classroomid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{user1,jdbcType=VARCHAR}, #{user2,jdbcType=VARCHAR}, #{user3,jdbcType=VARCHAR}, 
      #{user4,jdbcType=VARCHAR}, #{user5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.Participatetestclass">
    insert into participateTestClass
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cid != null">
        cId,
      </if>
      <if test="tid != null">
        tId,
      </if>
      <if test="classroomid != null">
        classRoomid,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="user1 != null">
        user1,
      </if>
      <if test="user2 != null">
        user2,
      </if>
      <if test="user3 != null">
        user3,
      </if>
      <if test="user4 != null">
        user4,
      </if>
      <if test="user5 != null">
        user5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        #{user5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CloudSchool.domain.Participatetestclass">
    update participateTestClass
    <set>
      <if test="cid != null">
        cId = #{cid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        tId = #{tid,jdbcType=INTEGER},
      </if>
      <if test="classroomid != null">
        classRoomid = #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        user1 = #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        user2 = #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        user3 = #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        user4 = #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        user5 = #{user5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CloudSchool.domain.Participatetestclass">
    update participateTestClass
    set cId = #{cid,jdbcType=INTEGER},
      tId = #{tid,jdbcType=INTEGER},
      classRoomid = #{classroomid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      user1 = #{user1,jdbcType=VARCHAR},
      user2 = #{user2,jdbcType=VARCHAR},
      user3 = #{user3,jdbcType=VARCHAR},
      user4 = #{user4,jdbcType=VARCHAR},
      user5 = #{user5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 批量新增 -->
  <insert id="inserList" useGeneratedKeys="true" keyProperty="id">
  	insert into participatetestclass (id, cId, tId,classRoomid, time, status,user1, user2, user3) values
  		(0,#{cid},#{tid},#{classroomid},now(),#{status},#{user1},#{user2},#{user3})
  </insert>
  
  
  
  <!--查询我要批改的试卷  -->
  <select id="queryMyCorrectTest" resultType="com.CloudSchool.domain.zjfvo.TeachTestCorrect">
  	SELECT testinstance.`id`,testmodule.`name`,testinstance.`startTime`,testinstance.`endtime`,clazz.`id` AS cid,clazz.`cname`,participatetestclass.`user3` AS `status`,testtype.`name` AS tname,participatetestclass.`id` FROM participatetestclass
	INNER JOIN cqj_staff ON participatetestclass.`user2`=cqj_staff.`staffid`
	INNER JOIN clazz ON participatetestclass.`cId`=clazz.`id`
	INNER JOIN testinstance ON testinstance.`id`=participatetestclass.`tId`
	INNER JOIN testmodule ON testinstance.`tId`=testmodule.`id`
	INNER JOIN testtype ON testmodule.`tid`=testtype.`id`
	WHERE participatetestclass.`user2`=#{uid} OR testinstance.`uId`=#{uid}
	ORDER BY participatetestclass.`time` ASC
  </select>
  
  <!-- 查询参加这次考试详情 -->
  <select id="queryByTidTestInfo" resultType="com.CloudSchool.domain.zjfvo.TestInfoAll">
  	SELECT participatetestclass.`tId` AS id,cqj_student.`studentid`,cqj_student.`studentname`,testinstance.`startTime`,participateteststu.`user2` AS `time`,participateteststu.`user3` AS `status`,testgrade.`score`,participatetestclass.id as participatetestclassid FROM participatetestclass
	INNER JOIN participateteststu ON participateteststu.`user1`=participatetestclass.`id`
	INNER JOIN cqj_student ON cqj_student.`studentid`=participateteststu.`sId`
	INNER JOIN testinstance ON testinstance.`id`=participatetestclass.`tId`
	LEFT JOIN testgrade ON testgrade.`tid`=participatetestclass.`tId` AND cqj_student.`studentid`=testgrade.`sId`
	WHERE participatetestclass.`tId`=#{tid} AND participatetestclass.`cId`=#{cid}
  </select>
  
  <update id="updateTestStatus">
  	update participatetestclass set user3=#{user3} where cid=#{cid} and tid=#{tid}
  </update>
  
  <update id="updateTestStatusTime">
  	update participatetestclass set user3=#{user3} where tid=#{tid}
  </update>
</mapper>