<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.TestmoduleMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.Testmodule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="tId" jdbcType="INTEGER" property="tid" />
    <result column="tCount" jdbcType="INTEGER" property="tcount" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="uId" jdbcType="INTEGER" property="uid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user1" jdbcType="VARCHAR" property="user1" />
    <result column="user2" jdbcType="VARCHAR" property="user2" />
    <result column="user3" jdbcType="VARCHAR" property="user3" />
    <result column="user4" jdbcType="VARCHAR" property="user4" />
    <result column="user5" jdbcType="VARCHAR" property="user5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, time, tId, tCount, score, uId, status, user1, user2, user3, user4, user5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from testModule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from testModule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CloudSchool.domain.Testmodule">
    insert into testModule (id, name, time, 
      tId, tCount, score, 
      uId, status, user1, 
      user2, user3, user4, 
      user5)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{tid,jdbcType=INTEGER}, #{tcount,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{user1,jdbcType=VARCHAR}, 
      #{user2,jdbcType=VARCHAR}, #{user3,jdbcType=VARCHAR}, #{user4,jdbcType=VARCHAR}, 
      #{user5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.Testmodule">
    insert into testModule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="tid != null">
        tId,
      </if>
      <if test="tcount != null">
        tCount,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="uid != null">
        uId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="user1 != null">
        user1,
      </if>
      <if test="user2 != null">
        user2,
      </if>
      <if test="user3 != null">
        user3,
      </if>
      <if test="user4 != null">
        user4,
      </if>
      <if test="user5 != null">
        user5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="tcount != null">
        #{tcount,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        #{user5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CloudSchool.domain.Testmodule">
    update testModule
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="tid != null">
        tId = #{tid,jdbcType=INTEGER},
      </if>
      <if test="tcount != null">
        tCount = #{tcount,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        user1 = #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        user2 = #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        user3 = #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        user4 = #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        user5 = #{user5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CloudSchool.domain.Testmodule">
    update testModule
    set name = #{name,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      tId = #{tid,jdbcType=INTEGER},
      tCount = #{tcount,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      uId = #{uid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      user1 = #{user1,jdbcType=VARCHAR},
      user2 = #{user2,jdbcType=VARCHAR},
      user3 = #{user3,jdbcType=VARCHAR},
      user4 = #{user4,jdbcType=VARCHAR},
      user5 = #{user5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!--生成作业模板  -->
  <insert id="insertTestModule" useGeneratedKeys="true" keyProperty="id">
  	insert into testmodule
  	(id, name, time, 
      tId, tCount, score, 
      uId, status, user1, 
     user2) values(0,#{name},now(),#{tid},#{tcount},#{score},#{uid},0,#{user1},#{user2})
  </insert>
  
  	<!-- 作业模板 类型 -->
	<select id="queryTestMouldType" resultType="int">
		SELECT tid FROM topic WHERE id
		IN(
		<foreach collection="ids" separator="," item="obj">
			#{obj}
		</foreach>
		) and status=0
		GROUP BY tid
	</select>
	<select id="queryTestModule" resultMap="BaseResultMap">
		select * from testmodule
		where testmodule.`status`=0 and uid=#{uid}
		order by `time` desc
		limit #{cur},#{pagesize}
	</select>
	<select id="queryTestModuleCount" resultType="int">
		select count(*) from testmodule
		where testmodule.`status`=0 and uid=#{uid}
	</select>
</mapper>