<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.TopicMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.Topic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tId" jdbcType="INTEGER" property="tid" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="uId" jdbcType="INTEGER" property="uid" />
    <result column="cId" jdbcType="INTEGER" property="cid" />
    <result column="kid" jdbcType="INTEGER" property="kid" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="examdot" jdbcType="INTEGER" property="examdot" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user1" jdbcType="VARCHAR" property="user1" />
    <result column="user2" jdbcType="VARCHAR" property="user2" />
    <result column="user3" jdbcType="VARCHAR" property="user3" />
    <result column="user4" jdbcType="VARCHAR" property="user4" />
    <result column="user5" jdbcType="VARCHAR" property="user5" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.CloudSchool.domain.TopicWithBLOBs">
    <result column="topicConten" jdbcType="LONGVARCHAR" property="topicconten" />
    <result column="result" jdbcType="LONGVARCHAR" property="result" />
    <result column="analysis" jdbcType="LONGVARCHAR" property="analysis" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tId, time, uId, cId, kid, rank, url, examdot, status, user1, user2, user3, user4, 
    user5
  </sql>
  <sql id="Blob_Column_List">
    topicConten, result, analysis
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from topic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CloudSchool.domain.TopicWithBLOBs">
    insert into topic (id, tId, time, 
      uId, cId, kid, rank, 
      url, examdot, status, 
      user1, user2, user3, 
      user4, user5, topicConten, 
      result, analysis)
    values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, 
      #{uid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{kid,jdbcType=INTEGER}, #{rank,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{examdot,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{user1,jdbcType=VARCHAR}, #{user2,jdbcType=VARCHAR}, #{user3,jdbcType=VARCHAR}, 
      #{user4,jdbcType=VARCHAR}, #{user5,jdbcType=VARCHAR}, #{topicconten,jdbcType=LONGVARCHAR}, 
      #{result,jdbcType=LONGVARCHAR}, #{analysis,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.TopicWithBLOBs" useGeneratedKeys="true" keyProperty="id">
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tid != null">
        tId,
      </if>
      <if test="time != null || time==null">
        time,
      </if>
      <if test="uid != null">
        uId,
      </if>
      <if test="cid != null">
        cId,
      </if>
      <if test="kid != null">
        kid,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="examdot != null">
        examdot,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="user1 != null">
        user1,
      </if>
      <if test="user2 != null">
        user2,
      </if>
      <if test="user3 != null">
        user3,
      </if>
      <if test="user4 != null">
        user4,
      </if>
      <if test="user5 != null">
        user5,
      </if>
      <if test="topicconten != null">
        topicConten,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="analysis != null">
        analysis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
       <if test="time != null || time==null">
       now(),
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="kid != null">
        #{kid,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="examdot != null">
        #{examdot,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        #{user5,jdbcType=VARCHAR},
      </if>
      <if test="topicconten != null">
        #{topicconten,jdbcType=LONGVARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=LONGVARCHAR},
      </if>
      <if test="analysis != null">
        #{analysis,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CloudSchool.domain.TopicWithBLOBs">
    update topic
    <set>
      <if test="tid != null">
        tId = #{tid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        cId = #{cid,jdbcType=INTEGER},
      </if>
      <if test="kid != null">
        kid = #{kid,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="examdot != null">
        examdot = #{examdot,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        user1 = #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        user2 = #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        user3 = #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        user4 = #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        user5 = #{user5,jdbcType=VARCHAR},
      </if>
      <if test="topicconten != null">
        topicConten = #{topicconten,jdbcType=LONGVARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=LONGVARCHAR},
      </if>
      <if test="analysis != null">
        analysis = #{analysis,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.CloudSchool.domain.TopicWithBLOBs">
    update topic
    set tId = #{tid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      uId = #{uid,jdbcType=INTEGER},
      cId = #{cid,jdbcType=INTEGER},
      kid = #{kid,jdbcType=INTEGER},
      rank = #{rank,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      examdot = #{examdot,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      user1 = #{user1,jdbcType=VARCHAR},
      user2 = #{user2,jdbcType=VARCHAR},
      user3 = #{user3,jdbcType=VARCHAR},
      user4 = #{user4,jdbcType=VARCHAR},
      user5 = #{user5,jdbcType=VARCHAR},
      topicConten = #{topicconten,jdbcType=LONGVARCHAR},
      result = #{result,jdbcType=LONGVARCHAR},
      analysis = #{analysis,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CloudSchool.domain.Topic">
    update topic
    set tId = #{tid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      uId = #{uid,jdbcType=INTEGER},
      cId = #{cid,jdbcType=INTEGER},
      kid = #{kid,jdbcType=INTEGER},
      rank = #{rank,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      examdot = #{examdot,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      user1 = #{user1,jdbcType=VARCHAR},
      user2 = #{user2,jdbcType=VARCHAR},
      user3 = #{user3,jdbcType=VARCHAR},
      user4 = #{user4,jdbcType=VARCHAR},
      user5 = #{user5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryCount" resultType="int">
  	SELECT count(*) FROM topic
	INNER JOIN zzy_section ON zzy_section.`secid`=topic.`cId`
	INNER JOIN zzy_course ON zzy_course.`cid`=zzy_section.`cid`
	INNER JOIN zzy_grade ON zzy_grade.`gid`=zzy_course.`gid`
  	<where>
  		<!--  题目类型-->
  		<if test="tid!=null">
  			and topic.tid=#{tid}
  		</if>
  		<!--  年级-->
  		<if test="gid!=null">
  			and zzy_grade.`gid`=#{gid}
  		</if>
  		<!--  课程-->
  		<if test="courseid!=null">
  			and zzy_course.`cid`=#{courseid}
  		</if>
  		<!--  章节-->
  		<if test="chapter!=null">
  			and zzy_section.`secid`=#{chapter}
  		</if>
  		<!-- 知识点 -->
  		<if test="point!=null">
  			and topic.kid=#{point}
  		</if>
  		<!-- 考点类型 -->
  		<if test="testpoint!=null">
  			and topic.examdot=#{testpoint}
  		</if>
  	</where>
  </select>
  <select id="conditionsQueryTopci" resultMap="ResultMapWithBLOBs">
  	SELECT topic.* FROM topic
	INNER JOIN zzy_section ON zzy_section.`secid`=topic.`cId`
	INNER JOIN zzy_course ON zzy_course.`cid`=zzy_section.`cid`
	INNER JOIN zzy_grade ON zzy_grade.`gid`=zzy_course.`gid`
  	<where>
  		<!--  题目类型-->
  		<if test="obj.tid!=null">
  			and topic.tid=#{obj.tid}
  		</if>
  		<!--  年级-->
  		<if test="obj.gid!=null">
  			and zzy_grade.`gid`=#{obj.gid}
  		</if>
  		<!--  课程-->
  		<if test="obj.courseid!=null">
  			and zzy_course.`cid`=#{obj.courseid}
  		</if>
  		<!--  章节-->
  		<if test="obj.chapter!=null">
  			and zzy_section.`secid`=#{obj.chapter}
  		</if>
  		<!-- 知识点 -->
  		<if test="obj.point!=null">
  			and topic.kid=#{obj.point}
  		</if>
  		<!-- 考点类型 -->
  		<if test="obj.testpoint!=null">
  			and topic.examdot=#{obj.testpoint}
  		</if>
  	</where>
  	limit #{cur},#{pagesize}
  </select>
  
  
  
  <!-- write by lirui -->
  <!-- 当前课程进度下应该答题总数 -->
  <select id="queryCurrentTotalTopicCountBysIdAndGid" resultType="int">
  	SELECT IFNULL(SUM(FLOOR(finnishedPeriod/totalPeriod *totalTopic)),0)AS topicCount FROM (
	SELECT zzy_section.`cid`AS courseId,a.course_name AS courseName,COUNT(*)AS totalTopic,
	a.totalPeriod,a.finnishedPeriod
	FROM `topic` 
	INNER JOIN `zzy_section` ON `zzy_section`.`secid` = topic.`cId`#章节id
	INNER JOIN 
	(
	SELECT zzy_course.`cid`AS courseId,`zzy_course`.`course_name`,`zzy_course`.`period`AS totalPeriod,COUNT(zzy_course.`cid`)AS finnishedPeriod
	FROM `zzy_course`
	INNER JOIN `zzy_class_schedule` ON `zzy_class_schedule`.`cid` = `zzy_course`.`cid`
	WHERE zzy_class_schedule.`time` &lt;= CURDATE() AND zzy_course.`gid` IN
		(
		<if test="gId!=null">
		#{gId}
		</if>
		<if test="gId==null">
		#获得所读过的年级id
		SELECT DISTINCT`zzy_grade`.`gid`FROM `cqj_student` 
		INNER JOIN `clazzstudent` ON `clazzstudent`.`sid` = `cqj_student`.`studentid` 
		INNER JOIN `clazz` ON clazz.`id` = clazzstudent.`cid`
		INNER JOIN `zzy_grade` ON `zzy_grade`.`gid` = clazz.`gid` 
		WHERE cqj_student.`studentid` = #{sId} 
		</if>
		)
	AND zzy_course.`mid` IN
		(
		#获取学员专业id
		SELECT zzy_major.`mid` FROM `zzy_major`
		INNER JOIN `clazz` ON clazz.`mid` = zzy_major.mid
		INNER JOIN `clazzstudent` ON `clazzstudent`.`cid` = clazz.`id`
		WHERE `clazzstudent`.`sid` = #{sId} 
		<if test="gId!=null">
		AND `clazz`.`gid` = #{gId}
		</if>
		)
	)AS a ON a.courseId = zzy_section.`cid`
	WHERE topic.examdot = #{eId} #题目能力类型
	GROUP BY zzy_section.`cid`#课程id
	
	) k
  
  
  </select>
  
  <!-- 当前课程进度下学员的实际答题量 -->
  <select id="queryCurrentRealTotalTopicCountBysIdAndgId" resultType="int">
  	SELECT COUNT(*)AS realtopicCount FROM 
	(
	SELECT zzy_course.`cid` FROM `wtrecord`
	INNER JOIN `topic` ON `topic`.`tId` = `wtrecord`.`tId` #题目表
	INNER JOIN `zzy_section` ON `zzy_section`.`secid` = topic.cId#章节表
	INNER JOIN zzy_course ON zzy_course.`cid` = zzy_section.`cid`
	WHERE wtrecord.`sId` = #{sId} #学员id
	<if test="gId!=null">
	AND zzy_course.`gid`= #{gId} #年级
	</if>
	AND  zzy_course.`cid` IN 
		(
			SELECT zzy_course.`cid`AS courseId
			FROM `zzy_course`
			INNER JOIN `zzy_class_schedule` ON `zzy_class_schedule`.`cid` = `zzy_course`.`cid`
			WHERE zzy_class_schedule.`time` &lt;= CURDATE() AND zzy_course.`gid` IN
			(
			<if test="gId!=null">
				#{gId}
			</if>
			<if test="gId==null">
			SELECT DISTINCT`zzy_grade`.`gid`FROM `cqj_student` 
			INNER JOIN `clazzstudent` ON `clazzstudent`.`sid` = `cqj_student`.`studentid` 
			INNER JOIN `clazz` ON clazz.`id` = clazzstudent.`cid`
			INNER JOIN `zzy_grade` ON `zzy_grade`.`gid` = clazz.`gid` 
			WHERE cqj_student.`studentid` = #{sId} #获得所读过的年级id
			</if>
			)
			AND zzy_course.`mid` IN
			(
			#获取学员专业id
			SELECT zzy_major.`mid` FROM `zzy_major`
			INNER JOIN `clazz` ON clazz.`mid` = zzy_major.mid
			INNER JOIN `clazzstudent` ON `clazzstudent`.`cid` = clazz.`id`
			WHERE `clazzstudent`.`sid` = #{sId} 
			<if test="gId!=null">
			AND `clazz`.`gid` = #{gId}
			</if>
			)
		)
		#当前进度下的课程
	AND topic.examdot = #{eId} #题目能力类型
	GROUP BY wtrecord.tId
	)a
  
  </select>
  
  
 <!--  当前进度下刷题正确率 -->
  <select id="queryCurrentTotalTopicAccuracyBysIdAndgId" resultType="int">
  SELECT IFNULL(ROUND(SUM(b.`score`)/SUM(b.totalScore)*100),0)AS 总得分率
	FROM (
	SELECT topic.`id`,COUNT(topic.`id`)AS topicCount,SUM(wtrecord.`score`)AS score,SUM(`topic`.`user1`)AS totalScore,SUM(wtrecord.`score`)/SUM(`topic`.`user1`)AS rate
	FROM `wtrecord`
	INNER JOIN `topic` ON `topic`.`tId` = `wtrecord`.`tId` #题目表
	INNER JOIN `zzy_section` ON `zzy_section`.`secid` = topic.cId#章节表
	INNER JOIN zzy_course ON zzy_course.`cid` = zzy_section.`cid`
	WHERE wtrecord.`sId` = #{sId} #学员id
	<if test="gId!=null">
	AND zzy_course.`gid`= #{gId} #年级
	</if>
	AND  zzy_course.`cid` IN 
		(
			SELECT zzy_course.`cid`AS courseId
			FROM `zzy_course`
			INNER JOIN `zzy_class_schedule` ON `zzy_class_schedule`.`cid` = `zzy_course`.`cid`
			WHERE zzy_class_schedule.`time` &lt;=  CURDATE() AND zzy_course.`gid` IN
			(
			<if test="gId!=null">
				#{gId}
			</if>
			<if test="gId==null">
			SELECT DISTINCT`zzy_grade`.`gid`FROM `cqj_student` 
			INNER JOIN `clazzstudent` ON `clazzstudent`.`sid` = `cqj_student`.`studentid` 
			INNER JOIN `clazz` ON clazz.`id` = clazzstudent.`cid`
			INNER JOIN `zzy_grade` ON `zzy_grade`.`gid` = clazz.`gid` 
			WHERE cqj_student.`studentid` = #{sId} #获得所读过的年级id
			</if>
			)
			AND zzy_course.`mid` IN
			(
			#获取学员专业id
			SELECT zzy_major.`mid` FROM `zzy_major`
			INNER JOIN `clazz` ON clazz.`mid` = zzy_major.mid
			INNER JOIN `clazzstudent` ON `clazzstudent`.`cid` = clazz.`id`
			WHERE `clazzstudent`.`sid` = #{sId} 
			<if test="gId!=null">
			AND `clazz`.`gid` = #{gId}
			</if>
			)
		)
	AND topic.examdot = #{eId} #题目能力类型	
	GROUP BY topic.`id` HAVING !(topicCount >5 AND rate >0.8)
	)b
  
  </select>
  
  
  <!-- 当前进度下，上机题目正确率 -->
  <select id="queryApplicationAbilityRateBysIdAndgId" resultType="int">
  SELECT IFNULL(ROUND(SUM(b.`score`)/SUM(b.totalScore)*100),0)AS 总得分率
	FROM (
	SELECT topic.`id`,COUNT(topic.`id`)AS topicCount,SUM(wtrecord.`score`)AS score,SUM(`topic`.`user1`)AS totalScore,SUM(wtrecord.`score`)/SUM(`topic`.`user1`)AS rate
	FROM `wtrecord`
	INNER JOIN `topic` ON `topic`.`tId` = `wtrecord`.`tId` #题目表
	INNER JOIN `zzy_section` ON `zzy_section`.`secid` = topic.cId#章节表
	INNER JOIN zzy_course ON zzy_course.`cid` = zzy_section.`cid`
	WHERE wtrecord.`sId` = #{sId} #学员id
	<if test="gId!=null">
	AND zzy_course.`gid`= #{gId} #年级
	</if>
	AND  zzy_course.`cid` IN 
		(
			SELECT zzy_course.`cid`AS courseId
			FROM `zzy_course`
			INNER JOIN `zzy_class_schedule` ON `zzy_class_schedule`.`cid` = `zzy_course`.`cid`
			WHERE zzy_class_schedule.`time` &lt;=  CURDATE() AND zzy_course.`gid` IN
			(
			<if test="gId!=null">
				#{gId}
			</if>
			<if test="gId==null">
			SELECT DISTINCT`zzy_grade`.`gid`FROM `cqj_student` 
			INNER JOIN `clazzstudent` ON `clazzstudent`.`sid` = `cqj_student`.`studentid` 
			INNER JOIN `clazz` ON clazz.`id` = clazzstudent.`cid`
			INNER JOIN `zzy_grade` ON `zzy_grade`.`gid` = clazz.`gid` 
			WHERE cqj_student.`studentid` = #{sId} #获得所读过的年级id
			</if>
			)
			AND zzy_course.`mid` IN
			(
			#获取学员专业id
			SELECT zzy_major.`mid` FROM `zzy_major`
			INNER JOIN `clazz` ON clazz.`mid` = zzy_major.mid
			INNER JOIN `clazzstudent` ON `clazzstudent`.`cid` = clazz.`id`
			WHERE `clazzstudent`.`sid` = #{sId} 
			<if test="gId!=null">
			AND `clazz`.`gid` = #{gId}
			</if>
			)
		)
	AND topic.`tId` = #{tId} #题目类型3为上机题目
	)b
  </select>
  
</mapper>