<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.WorkgradeMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.Workgrade">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="wId" jdbcType="INTEGER" property="wid" />
    <result column="uId" jdbcType="INTEGER" property="uid" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="rank" jdbcType="VARCHAR" property="rank" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="user1" jdbcType="VARCHAR" property="user1" />
    <result column="user2" jdbcType="VARCHAR" property="user2" />
    <result column="user3" jdbcType="VARCHAR" property="user3" />
    <result column="user4" jdbcType="VARCHAR" property="user4" />
    <result column="user5" jdbcType="VARCHAR" property="user5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, wId, uId, score, rank, time, status, user1, user2, user3, user4, user5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from workGrade
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from workGrade
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.CloudSchool.domain.Workgrade">
    insert into workGrade (id, wId, uId, 
      score, rank, time, 
      status, user1, user2, 
      user3, user4, user5
      )
    values (#{id,jdbcType=INTEGER}, #{wid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{rank,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{user1,jdbcType=VARCHAR}, #{user2,jdbcType=VARCHAR}, 
      #{user3,jdbcType=VARCHAR}, #{user4,jdbcType=VARCHAR}, #{user5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.Workgrade">
    insert into workGrade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="wid != null">
        wId,
      </if>
      <if test="uid != null">
        uId,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="user1 != null">
        user1,
      </if>
      <if test="user2 != null">
        user2,
      </if>
      <if test="user3 != null">
        user3,
      </if>
      <if test="user4 != null">
        user4,
      </if>
      <if test="user5 != null">
        user5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wid != null">
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        #{user5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CloudSchool.domain.Workgrade">
    update workGrade
    <set>
      <if test="wid != null">
        wId = #{wid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uId = #{uid,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        user1 = #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        user2 = #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        user3 = #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        user4 = #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        user5 = #{user5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CloudSchool.domain.Workgrade">
    update workGrade
    set wId = #{wid,jdbcType=INTEGER},
      uId = #{uid,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      rank = #{rank,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      user1 = #{user1,jdbcType=VARCHAR},
      user2 = #{user2,jdbcType=VARCHAR},
      user3 = #{user3,jdbcType=VARCHAR},
      user4 = #{user4,jdbcType=VARCHAR},
      user5 = #{user5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 添加学生作业分数 -->
  <insert id="inserStuScore">
  	insert into workgrade(id, wId, uId, score, rank, time)
  	values(0,#{wid},#{uid},#{score},#{rank},now())
  </insert>
  
  <!-- 查询学员作业统计 -->
  <select id="queryStudentWorkInfoBysIdAndgId" resultType="com.CloudSchool.domain.statistics.WorkGradeVo">
	SELECT a.rankName,COUNT(a.rankName)AS workCount FROM (
		SELECT workgrade.`rank`AS rankName FROM `workgrade` 
		INNER JOIN participationworkstu ON `participationworkstu`.`wId` = workgrade.`wId` 
		INNER JOIN `participationworkclass` ON `participationworkclass`.`id` = `participationworkstu`.`user1`
		INNER JOIN `clazz` ON `clazz`.`id` = participationworkclass.`cId`
		WHERE workgrade.`uId` = #{sId} #学员id
		<if test="gId!=null">
			AND clazz.`gid` = #{gId}
		</if>
		GROUP BY `workgrade`.`id`
	)a
	GROUP BY a.rankName
  </select>
  
  <!-- 学员作业及时完成率 -->
  <select id="queryStudentWorkTimelyFinishRate" resultType="double">
  	SELECT IFNULL((
	(
	#已经完成作业次数
	SELECT COUNT(*)AS finishCount FROM `workgrade`
	INNER JOIN `workinstance` ON `workinstance`.id = `workgrade`.wId
	INNER JOIN `participationworkstu` ON `participationworkstu`.wId = `workgrade`.wId
	INNER JOIN `clazz` ON `clazz`.`id` = participationworkstu.`user1`#年级
	WHERE workgrade.uId = #{sId} #学员id
	<if test="gId!=null">
		AND clazz.`gid` = #{gId}
	</if>
	AND workinstance.`endTime` &gt;= participationworkstu.`user2`#作业是否及时完成 (及时完成次数)
	)
	/
	(
	#总过次数
	SELECT COUNT(*)AS totalCount FROM `workgrade`
	INNER JOIN `workinstance` ON `workinstance`.id = `workgrade`.wId
	INNER JOIN `participationworkstu` ON `participationworkstu`.wId = `workgrade`.wId
	INNER JOIN `clazz` ON `clazz`.`id` = participationworkstu.`user1`#年级
	WHERE workgrade.uId = #{sId} #学员id
	<if test="gId!=null">
		AND clazz.`gid` = #{gId}
	</if>
	AND workinstance.`endTime` &lt;= NOW() #到了上交时间
	)
	*100),0) 
	AS workTimelyFinishRate 
  
  </select>
</mapper>