<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.ZzyClassScheduleMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.ZzyClassSchedule">
    <result column="csid" jdbcType="INTEGER" property="csid" />
    <result column="clid" jdbcType="INTEGER" property="clid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="temporal_interva" jdbcType="INTEGER" property="temporalInterva" />
    <result column="creat_time" jdbcType="DATE" property="creatTime" />
    <result column="modificationtime" jdbcType="DATE" property="modificationtime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user1" jdbcType="VARCHAR" property="user1" />
    <result column="user2" jdbcType="VARCHAR" property="user2" />
    <result column="user3" jdbcType="VARCHAR" property="user3" />
    <result column="user4" jdbcType="VARCHAR" property="user4" />
    <result column="user5" jdbcType="VARCHAR" property="user5" />
  </resultMap>
  <insert id="insert" parameterType="com.CloudSchool.domain.ZzyClassSchedule">
    insert into zzy_class_schedule (csid, clid, rid, 
      tid, cid, time, temporal_interva, 
      creat_time, modificationtime, state, 
      uid, remark, user1, 
      user2, user3, user4, 
      user5)
    values (#{csid,jdbcType=INTEGER}, #{clid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER}, 
      #{tid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{time,jdbcType=DATE}, #{temporalInterva,jdbcType=INTEGER}, 
      #{creatTime,jdbcType=DATE}, #{modificationtime,jdbcType=DATE}, #{state,jdbcType=INTEGER}, 
      #{uid,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{user1,jdbcType=VARCHAR}, 
      #{user2,jdbcType=VARCHAR}, #{user3,jdbcType=VARCHAR}, #{user4,jdbcType=VARCHAR}, 
      #{user5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.ZzyClassSchedule">
    insert into zzy_class_schedule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="csid != null">
        csid,
      </if>
      <if test="clid != null">
        clid,
      </if>
      <if test="rid != null">
        rid,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="temporalInterva != null">
        temporal_interva,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="modificationtime != null">
        modificationtime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="user1 != null">
        user1,
      </if>
      <if test="user2 != null">
        user2,
      </if>
      <if test="user3 != null">
        user3,
      </if>
      <if test="user4 != null">
        user4,
      </if>
      <if test="user5 != null">
        user5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="csid != null">
        #{csid,jdbcType=INTEGER},
      </if>
      <if test="clid != null">
        #{clid,jdbcType=INTEGER},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="temporalInterva != null">
        #{temporalInterva,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=DATE},
      </if>
      <if test="modificationtime != null">
        #{modificationtime,jdbcType=DATE},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="user1 != null">
        #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        #{user5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 根据班级id以及课程id查询这个班级的这个课程上了多少次课了 -->
  <select id="queryClidAndCid" resultType="INTEGER">
  		SELECT COUNT(*) FROM `zzy_class_schedule` WHERE clid=#{clid} AND cid=#{cid}
  </select>
  
  <!-- 根据教员id  日期 时间区间 状态 判断该教员是否有空 -->
  <select id="queryByyoukong" resultType="INTEGER">
  		SELECT COUNT(*) FROM `zzy_class_schedule` WHERE tid=#{tid} AND `time`=#{time} AND temporal_interva=#{temporal_interva} AND state=0
  </select>
  
  <!-- 根据教员id  日期  时间区间 状态 查询教员的一条上课记录    -->
  <select id="queryByOneY" resultMap="BaseResultMap">
  		SELECT * FROM `zzy_class_schedule` WHERE tid=#{tid} AND `time`=#{time} AND temporal_interva=#{temporal_interva} AND state=0
  </select>
  <!-- 新增一条课表 -->
  <insert id="insertkebiao">
  		INSERT INTO `cloudSchool`.`zzy_class_schedule` (`clid`,`rid`,`tid`,`cid`,`time`,`temporal_interva`,`state`)VALUES(#{clid},#{rid},#{tid},#{cid},#{time},#{temporalInterva},#{state});
  </insert>
  
  <!-- 查询某个班级 某个日期是否包含了事件或者休息 -->
  <select id="querySjAndXx" resultType="INTEGER">
  		  SELECT COUNT(*) FROM `zzy_class_schedule` WHERE `time`=#{time} AND `clid`=#{clid} AND (state=-2 OR state&gt;0)
  </select>
  
  <!--将一个班级的一天全部改为休息 -->
  <update id="update">
  	UPDATE `zzy_class_schedule` SET rid=NULL,tid=NULL,cid=NULL,state=-2 WHERE clid=#{clid} AND `time`=#{time}
  </update>
  
  <resultMap type="com.CloudSchool.domain.ZzyClassSchedule" id="Kbjihe" extends="BaseResultMap">
  	<association property="cla" column="clid" javaType="com.CloudSchool.domain.Clazz" select="com.CloudSchool.dao.ClazzMapper.queryZcid"></association>	
 	<association property="claroom" column="rid" javaType="com.CloudSchool.domain.Classroom" select="com.CloudSchool.dao.ClassroomMapper.queryByroomid"></association>	
 	<association property="cqjstaff" column="tid" javaType="com.CloudSchool.domain.CqjStaff" select="com.CloudSchool.dao.CqjStaffMapper.queryBytid"></association>	
 	<association property="zzycourse" column="cid" javaType="com.CloudSchool.domain.ZzyCourse" select="com.CloudSchool.dao.ZzyCourseMapper.queryBycid"></association>	
 	<association property="courseevents" column="state" javaType="com.CloudSchool.domain.ZzyCourseEvents" select="com.CloudSchool.dao.ZzyCourseEventsMapper.queryBysjid"></association>
  </resultMap>
  
  <!-- 查询一个时间段的课表 --> 
  <select id="queryKbBytime" resultMap="Kbjihe">
  		SELECT * FROM `zzy_class_schedule` WHERE `time`&gt;=#{stime} AND `time`&lt;=#{etime} AND `clid`=#{clid} ORDER BY `time`
  </select>
</mapper>