<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.ZzyCourseRequestMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.ZzyCourseRequest">
    <result column="reid" jdbcType="INTEGER" property="reid" />
    <result column="initiator" jdbcType="INTEGER" property="initiator" />
    <result column="recipient" jdbcType="INTEGER" property="recipient" />
    <result column="original" jdbcType="INTEGER" property="original" />
    <result column="newtime" jdbcType="DATE" property="newtime" />
    <result column="temporal_interva" jdbcType="INTEGER" property="temporalInterva" />
    <result column="new_date" jdbcType="INTEGER" property="newDate" />
    <result column="creat_time" jdbcType="DATE" property="creatTime" />
    <result column="modificationtime" jdbcType="DATE" property="modificationtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user1" jdbcType="VARCHAR" property="user1" />
    <result column="user2" jdbcType="VARCHAR" property="user2" />
    <result column="user3" jdbcType="VARCHAR" property="user3" />
    <result column="user4" jdbcType="VARCHAR" property="user4" />
    <result column="user5" jdbcType="VARCHAR" property="user5" />
  </resultMap>
  <insert id="insert" parameterType="com.CloudSchool.domain.ZzyCourseRequest">
    insert into zzy_course_request (reid, initiator, recipient, 
      original, newtime, temporal_interva, 
      new_date, creat_time, modificationtime, 
      status, uid, remark, 
      user1, user2, user3, 
      user4, user5)
    values (#{reid,jdbcType=INTEGER}, #{initiator,jdbcType=INTEGER}, #{recipient,jdbcType=INTEGER}, 
      #{original,jdbcType=INTEGER}, #{newtime,jdbcType=DATE}, #{temporalInterva,jdbcType=INTEGER}, 
      #{newDate,jdbcType=INTEGER}, #{creatTime,jdbcType=DATE}, #{modificationtime,jdbcType=DATE}, 
      #{status,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{user1,jdbcType=VARCHAR}, #{user2,jdbcType=VARCHAR}, #{user3,jdbcType=VARCHAR}, 
      #{user4,jdbcType=VARCHAR}, #{user5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.ZzyCourseRequest">
    insert into zzy_course_request
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reid != null">
        reid,
      </if>
      <if test="initiator != null">
        initiator,
      </if>
      <if test="recipient != null">
        recipient,
      </if>
      <if test="original != null">
        original,
      </if>
      <if test="newtime != null">
        newtime,
      </if>
      <if test="temporalInterva != null">
        temporal_interva,
      </if>
      <if test="newDate != null">
        new_date,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="modificationtime != null">
        modificationtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="user1 != null">
        user1,
      </if>
      <if test="user2 != null">
        user2,
      </if>
      <if test="user3 != null">
        user3,
      </if>
      <if test="user4 != null">
        user4,
      </if>
      <if test="user5 != null">
        user5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reid != null">
        #{reid,jdbcType=INTEGER},
      </if>
      <if test="initiator != null">
        #{initiator,jdbcType=INTEGER},
      </if>
      <if test="recipient != null">
        #{recipient,jdbcType=INTEGER},
      </if>
      <if test="original != null">
        #{original,jdbcType=INTEGER},
      </if>
      <if test="newtime != null">
        #{newtime,jdbcType=DATE},
      </if>
      <if test="temporalInterva != null">
        #{temporalInterva,jdbcType=INTEGER},
      </if>
      <if test="newDate != null">
        #{newDate,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=DATE},
      </if>
      <if test="modificationtime != null">
        #{modificationtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="user1 != null">
        #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        #{user5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>