<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.ZzyCourseMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.ZzyCourse">
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="creat_time" jdbcType="DATE" property="creatTime" />
    <result column="modificationtime" jdbcType="DATE" property="modificationtime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user1" jdbcType="VARCHAR" property="user1" />
    <result column="user2" jdbcType="VARCHAR" property="user2" />
    <result column="user3" jdbcType="VARCHAR" property="user3" />
    <result column="user4" jdbcType="VARCHAR" property="user4" />
    <result column="user5" jdbcType="VARCHAR" property="user5" />
  </resultMap>
  <insert id="insert" useGeneratedKeys="true" keyProperty="cid" parameterType="com.CloudSchool.domain.ZzyCourse">
    insert into zzy_course (cid, course_name, period, 
      gid, mid,  modificationtime, 
       uid, 
      user1, user2, user3, 
      user4, user5)
    values (#{cid,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{period,jdbcType=INTEGER}, 
      #{gid,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER},  #{modificationtime,jdbcType=DATE}, 
       #{uid,jdbcType=INTEGER}, 
      #{user1,jdbcType=VARCHAR}, #{user2,jdbcType=VARCHAR}, #{user3,jdbcType=VARCHAR}, 
      #{user4,jdbcType=VARCHAR}, #{user5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.ZzyCourse">
    insert into zzy_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        cid,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="period != null">
        period,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="mid != null">
        mid,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="modificationtime != null">
        modificationtime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="user1 != null">
        user1,
      </if>
      <if test="user2 != null">
        user2,
      </if>
      <if test="user3 != null">
        user3,
      </if>
      <if test="user4 != null">
        user4,
      </if>
      <if test="user5 != null">
        user5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="period != null">
        #{period,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=DATE},
      </if>
      <if test="modificationtime != null">
        #{modificationtime,jdbcType=DATE},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="user1 != null">
        #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        #{user5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  	<!-- 一对多查询课程以及课程里面的章节 -->
  <resultMap type="com.CloudSchool.domain.ZzyCourse" id="resultMapCouAndSec" extends="BaseResultMap">
		<collection property="list" column="cid" 
			ofType="com.CloudSchool.domain.ZzySection" 
			select="com.CloudSchool.dao.ZzySectionMapper.queryBycid">
		</collection>
	</resultMap>
	
	<!-- 根据年级id查询课程 -->
	<select id="queryBygid" resultMap="resultMapCouAndSec">
		select * from `zzy_course` where gid=#{gid}
	</select>
	
	<!-- 根据课程id查询课程对象 -->
	<select id="queryBycid" resultMap="BaseResultMap">
		select * from `zzy_course` where cid=#{cid}
	</select>
	
	<!-- 开办选老师 -->
	<select id="queryStaffsAboutOpenClass" resultType="com.CloudSchool.domain.statistics.CourseVO">
	
	</select>
	
	
	<!-- 根据年级id 以及专业id 查询一个年级的一个专业需要上哪些课程 -->
	<select id="queryBygidAndmid" resultMap="BaseResultMap">
		SELECT * FROM `zzy_course` WHERE gid=#{gid} AND `mid`=#{mid}
	</select>
	<!-- 根据年级id查询不分专业的年级的所有课程 -->
	<select id="queryBygidTwo" resultMap="BaseResultMap">
		select * from `zzy_course` where gid=#{gid}
	</select>
</mapper>