<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.ZzyMajorMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.ZzyMajor">
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="major_name" jdbcType="VARCHAR" property="majorName" />
    <result column="creat_time" jdbcType="DATE" property="creatTime" />
    <result column="modificationtime" jdbcType="DATE" property="modificationtime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user1" jdbcType="VARCHAR" property="user1" />
    <result column="user2" jdbcType="VARCHAR" property="user2" />
    <result column="user3" jdbcType="VARCHAR" property="user3" />
    <result column="user4" jdbcType="VARCHAR" property="user4" />
    <result column="user5" jdbcType="VARCHAR" property="user5" />
  </resultMap>
  <!-- 循环添加专业 -->
  <insert id="insertList">
		insert into `zzy_major`(major_name) values
		<foreach collection="list" item="l" separator="," >
			(#{l.majorName})
		</foreach>
	</insert>
	<!-- 查询所有专业 -->
	<select id="queryAll" resultMap="BaseResultMap">
		select * from `zzy_major`
	</select>
  <insert id="insert" parameterType="com.CloudSchool.domain.ZzyMajor">
    insert into zzy_major (mid, major_name,
      modificationtime,  uid, 
      remark, user1, user2, 
      user3, user4, user5
      )
    values (#{mid,jdbcType=INTEGER}, #{majorName,jdbcType=VARCHAR}, 
      #{modificationtime,jdbcType=DATE}, #{uid,jdbcType=INTEGER}, 
       #{user1,jdbcType=VARCHAR}, #{user2,jdbcType=VARCHAR}, 
      #{user3,jdbcType=VARCHAR}, #{user4,jdbcType=VARCHAR}, #{user5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.ZzyMajor">
    insert into zzy_major
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        mid,
      </if>
      <if test="majorName != null">
        major_name,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="modificationtime != null">
        modificationtime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="user1 != null">
        user1,
      </if>
      <if test="user2 != null">
        user2,
      </if>
      <if test="user3 != null">
        user3,
      </if>
      <if test="user4 != null">
        user4,
      </if>
      <if test="user5 != null">
        user5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="majorName != null">
        #{majorName,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=DATE},
      </if>
      <if test="modificationtime != null">
        #{modificationtime,jdbcType=DATE},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="user1 != null">
        #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        #{user5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>