<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CloudSchool.dao.ZzyVersionMapper">
  <resultMap id="BaseResultMap" type="com.CloudSchool.domain.ZzyVersion">
    <id column="vid" jdbcType="INTEGER" property="vid" />
    <result column="versionof" jdbcType="VARCHAR" property="versionof" />
    <result column="creat_time" jdbcType="DATE" property="creatTime" />
    <result column="modificationtime" jdbcType="DATE" property="modificationtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="user1" jdbcType="VARCHAR" property="user1" />
    <result column="user2" jdbcType="VARCHAR" property="user2" />
    <result column="user3" jdbcType="VARCHAR" property="user3" />
    <result column="user4" jdbcType="VARCHAR" property="user4" />
    <result column="user5" jdbcType="VARCHAR" property="user5" />
  </resultMap>
  <sql id="Base_Column_List">
    vid, versionof, creat_time, modificationtime, status, uid, remark, user1, user2, 
    user3, user4, user5
  </sql>
  <select id="queryAll" resultMap="BaseResultMap">
  		select * from zzy_version where status=0
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zzy_version
    where vid = #{vid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zzy_version
    where vid = #{vid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="vid" parameterType="com.CloudSchool.domain.ZzyVersion">
    insert into zzy_version (vid, versionof, 
      modificationtime,  uid, 
      user1, user2, 
      user3, user4, user5
      )
    values (#{vid,jdbcType=INTEGER}, #{versionof,jdbcType=VARCHAR}, 
      #{modificationtime,jdbcType=DATE},  #{uid,jdbcType=INTEGER}, 
       #{user1,jdbcType=VARCHAR}, #{user2,jdbcType=VARCHAR}, 
      #{user3,jdbcType=VARCHAR}, #{user4,jdbcType=VARCHAR}, #{user5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.CloudSchool.domain.ZzyVersion">
    insert into zzy_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vid != null">
        vid,
      </if>
      <if test="versionof != null">
        versionof,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="modificationtime != null">
        modificationtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="user1 != null">
        user1,
      </if>
      <if test="user2 != null">
        user2,
      </if>
      <if test="user3 != null">
        user3,
      </if>
      <if test="user4 != null">
        user4,
      </if>
      <if test="user5 != null">
        user5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vid != null">
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="versionof != null">
        #{versionof,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=DATE},
      </if>
      <if test="modificationtime != null">
        #{modificationtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        #{user5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.CloudSchool.domain.ZzyVersion">
    update zzy_version
    <set>
      <if test="versionof != null">
        versionof = #{versionof,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=DATE},
      </if>
      <if test="modificationtime != null">
        modificationtime = #{modificationtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=INTEGER},
      </if>
      <if test="user1 != null">
        user1 = #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        user2 = #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        user3 = #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        user4 = #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        user5 = #{user5,jdbcType=VARCHAR},
      </if>
    </set>
    where vid = #{vid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.CloudSchool.domain.ZzyVersion">
    update zzy_version
    set versionof = #{versionof,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=DATE},
      modificationtime = #{modificationtime,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      remark = #{remark,jdbcType=INTEGER},
      user1 = #{user1,jdbcType=VARCHAR},
      user2 = #{user2,jdbcType=VARCHAR},
      user3 = #{user3,jdbcType=VARCHAR},
      user4 = #{user4,jdbcType=VARCHAR},
      user5 = #{user5,jdbcType=VARCHAR}
    where vid = #{vid,jdbcType=INTEGER}
  </update>
  
  <!-- 一对多查询版本以及版本里面的年级 -->
  <resultMap type="com.CloudSchool.domain.ZzyVersion" id="resultMapVerAndGrade" extends="BaseResultMap">
		<collection property="list" column="vid" 
			ofType="com.CloudSchool.domain.ZzyGrade" 
			select="com.CloudSchool.dao.ZzyGradeMapper.queryByvid">
		</collection>
	</resultMap>
	
	<select id="VerAndGrade" resultMap="resultMapVerAndGrade">
		select * from zzy_version where vid=#{vid};
	</select>
</mapper>