<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>做作业</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/ready.css">
		<style>
			.workmodelhead{
				/*margin-left: 50px;*/
				display: flex;
				justify-content: space-around;
			}
			.workcontent{
				margin: 20px auto;
				border: 1px solid #D0B9A0;
				width: 80%;
			}
			.topic{
				border: 1px solid beige;
				width: 95%;
				margin: 10px auto;
				padding: 12px;
			}
			.analysis{
				width: 95%;
				margin: 20px auto;
				padding: 12px;
			}
			.topicresult{
				width: 95%;
				margin: 5px auto;
				padding: 12px;
			}
			.topicoption{
				display: flex;
				justify-content: inherit;
			}
			.option{
				padding: 12px;
				width: 25%;
				margin-left: 5px;
			}
			
			/*尾部分页 详情*/
			#foot{
				display: flex;
				justify-content: space-around;
			}
			#testscore{
				float: left;
			}
			#testscore button{
				float: left;
			}
			#testscore button:nth-child(2){
				margin-left: 10px;
			}
			
			/*----------------*/
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">考试模板</h4>
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">我的考试</h4>
							<button class="btn btn-success" style="float: right;" id="submitWork">提交</button>
						</div>
						<div class="card-body">
							<div class="workmodelhead">
								<div>试卷名称：<span>{{testmodule.name}}</span></div>
								<div class="uptime">发布时间:{{testinstance.time}}<span></span></div>
								<div class="uptime">发布教员：<span>{{staff.staffname}}</span></div>
							</div>
								<!--阅读题-->
							<!-- 	<div class="workcontent">
									题目
									<div class="topic">
										1.点击发布,设置考试的开始时间结束时间,考试信息推送学生,考试地点,是否推送给家长(系统有默认值)
										点击发布,设置考试的开始时间结束时间,考试信息推送学生,考试地点,是否推送给家长(系统有默认值)
									</div>
									解析
									<div class="analysis">
										解析：点击发布,设置考试的开始时间结束时间,考试信息推送学生,考试地点,是否推送给家长(系统有默认值)
										点击发布,设置考试的开始时间结束时间,考试信息推送学生,考试地点,是否推送给家长(系统有默认值)
										<div class="form-group">
										<label for="comment">解题：</label>
										<textarea class="form-control" id="comment" rows="5">

										</textarea>
									</div>
									</div>
								</div> -->
								<!-- <div class="workcontent">
									题目
									<div class="topic" style="display: flex;justify-content: space-between;">
										<span>上机题目</span>
										<button class="btn btn-success" style="float: right;">下载</button>
									</div>
									解析
									<div class="analysis" style="display: flex;justify-content: flex-end;">
										解析：点击发布,设置考试的开始时间结束时间,考试信息推送学生,考试地点,是否推送给家长(系统有默认值)
										点击发布,设置考试的开始时间结束时间,考试信息推送学生,考试地点,是否推送给家长(系统有默认值)
										<button class="btn btn-success">上传答案</button>
									</div>
								</div> -->
								</div>
								<!--选择题-->
								<div class="workcontent" v-for="(obj,index) in list" v-bind:data-id="obj.topicWithBLOBs.id" v-bind:data-tid="obj.topicWithBLOBs.tid">
									<!--题目-->
									<div class="topic" style="display: flex;justify-content: space-between;">
										{{obj.topicWithBLOBs.workid|noAddOne}}. {{obj.topicWithBLOBs.topicconten}}
										<!-- 上机类型题目显示 -->
										<button v-if="obj.topicWithBLOBs.tid==3" class="btn btn-success" style="float: right;">下载</button>
									</div>
									<span v-if="obj.topicWithBLOBs.wtrecord!=null" class="result" style="display: none">{{obj.topicWithBLOBs.wtrecord.result}}</span>
									<div class="analysis" v-if="obj.topicWithBLOBs.tid==2">
										<!-- 解析：点击发布,设置考试的开始时间结束时间,考试信息推送学生,考试地点,是否推送给家长(系统有默认值)
										点击发布,设置考试的开始时间结束时间,考试信息推送学生,考试地点,是否推送给家长(系统有默认值) -->
										<div class="form-group">
										<label for="comment">解题：</label>						
										<textarea class="form-control"  rows="5">
											
										</textarea>
									</div>
									</div>
									<!-- 解析 -->
									<div class="analysis" v-if="obj.topicWithBLOBs.tid==3" style="display: flex;justify-content: flex-end;">
										<button class="btn btn-success" id="uplodeFileWork" onclick="javascript:$('#hiddenFile').click();" v-if="obj.topicWithBLOBs.wtrecord==null">上传答案</button>
										<form id="form-add" enctype="multipart/form-data">
											 <input
								type="file"  class="form-control-file"
								id="hiddenFile" name="file" style="display: none;">
										</form>
									<!-- <form id="form-add" enctype="multipart/form-data">
							<label for="exampleFormControlFile1">上传文档</label> <input
								type="file" class="form-control-file"
								id="exampleFormControlFile1" name="file">
						</form> -->
									</div>
									<!--答案-->
									<!--<div class="topicresult">
										答案：<span>A,B</span>
									</div>-->
									<!--选项-->
									<div class="topicoption">
										<div class="option" v-for="(obj1,index) in obj.topicWithBLOBs.topicoptionList">
											<label class="form-radio-label">
												<input class="form-radio-input" type="radio" name="">
												<span class="form-radio-sign">{{obj1.option}}</span>
											</label>
											{{obj1.optionconten}}
										</div>
										<!-- <div class="option">
											<label class="form-radio-label">
												<input class="form-radio-input" type="radio" name="optionsRadios" value="">
												<span class="form-radio-sign">B:</span>
											</label>
											选中管理的班级,课程,出题章节,要发布的考试类型,显示该这些章节下的题目,右上角提供这
											以往老师出的试卷,题目提供多参数
										</div>
										<div class="option">
											<label class="form-radio-label">
												<input class="form-radio-input" type="radio" name="optionsRadios" value="">
												<span class="form-radio-sign">C:</span>
											</label>
											选中管理的班级,课程,出题章节,要发布的考试类型,显示该这些章节下的题目,右上角提供这
											以往老师出的试卷,题目提供多参数
										</div>
										<div class="option">
											<label class="form-radio-label">
												<input class="form-radio-input" type="radio" name="optionsRadios" value="">
												<span class="form-radio-sign">D:</span>
											</label>
											选中管理的班级,课程,出题章节,要发布的考试类型,显示该这些章节下的题目,右上角提供这
											以往老师出的试卷,题目提供多参数以往老师出的试卷,题目提供多参数
										</div> -->
									</div>
								</div>
								<div id="foot">
									<!--试卷分数-题目数量-->
								<div id="topicinfo">
									<button class="btn btn-default" disabled="disabled">题目数量</button>
									<button class="btn btn-default" disabled="disabled">{{obj.tcount}}</button>
									<button class="btn btn-default" disabled="disabled">总分</button>
									<button class="btn btn-default" disabled="disabled">{{obj.score}}</button>		
								</div>
								<div id="testscore">
									
								</div>
								<!--分页-->
								<div id="pagebox">
									<p class="demo">
										<ul class="pagination pg-primary">
											<li class="page-item">
												<a class="page-link" href="javascript:void(0)" aria-label="Previous" id="prepage">
													<span aria-hidden="true">&laquo;</span>
													<span class="sr-only">Previous</span>
												</a>
											</li>
											<li class="page-item active">
												<a class="page-link" href="#">1</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="#">2</a>
											</li>
											<li class="page-item">
									 				<a class="page-link" href="#">3</a>
											</li>
											<li class="page-item">
												<a class="page-link" href="javascript:void(0)" aria-label="Next" id="nextpage">
													<span aria-hidden="true">&raquo;</span>
													<span class="sr-only">Next</span>
												</a>
											</li>
										</ul>
									</p>
								</div>
								</div>
								
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</body>

</html>
<script src="../static/js/core/jquery.min.js"></script>
<script src="../static/js/core/vue.js"></script>
<script>
	var number=0;
	var pagelist=[]	//页面渲染
	/* 题目渲染 */
	var v=new Vue({
		el:".card",
		data:{
			list:null,
			testmodule:{},
			staff:{},
			obj:{},
			testinstance:{}
		},methods: {
			
		},
		filters:{
			noAddOne:function(value){//题目编号加1
				number=number+1;
				return number;
			}
		},updated : function(){
			var topicdiv=$(".workcontent")	//题目盒子
			$("textarea").val("")
			$("[type=radio]").attr("checked",false)
			for(var i=0;i<topicdiv.length;i++){
				var id=$(topicdiv[i]).attr("data-id")	//题目id
				var tid=$(topicdiv[i]).attr("data-tid")	
				if($(topicdiv[i]).find(".result").html()!=null && tid==2){
					$(topicdiv[i]).find("textarea").val($(topicdiv[i]).find(".result").html())
				}
				if($(topicdiv[i]).find(".result").html()!=null && tid==1){
					var topicctions=$(topicdiv[i]).find("[type=radio]");
					for(var k=0;i<topicctions.length;k++){
						var optionValue=$(topicctions[k]).next().html()
						if(optionValue==$(topicdiv[i]).find(".result").html()){
							/* $(topicctions[i]).attr("checked",true); */
							topicctions[k].checked=true
							break;
						}
					}
				}
				for(var j=0;j<pagelist.length;j++){
					/*  阅读题*/
					if(id==pagelist[j].id && tid==2){
						$(topicdiv[i]).find("textarea").val(pagelist[j].result)
						break;
					}
					/* 上机题 */
					if(id==pagelist[j].id && tid==1){
						var topicctions=$(topicdiv[i]).find("[type=radio]");
						for(var k=0;i<topicctions.length;k++){
							var optionValue=$(topicctions[k]).next().html()
							if(optionValue==pagelist[j].result){
								/* $(topicctions[i]).attr("checked",true); */
								topicctions[k].checked=true
								break;
							}
						}
						break;
					}
				}
			}
			
		}
	})
	/* var nextpage=1;	//下一页
	var prepage=0;	//上一页 */
	var count=0;	//总条数
	var pagesize=2;
	var cur=1;
	var pagecount;
	function pagination(pageNo, pageSize, array) {
		var offset;
		/*第一页  */
		if(pageNo<1){
			offset=(1 - 1) * pageSize;
			return (offset + pageSize >= array.length) ? array.slice(offset, array.length) : array.slice(offset, offset + pageSize);
		}
		if(pagecount>=array.length){
			offset=(cur - 1) * pageSize;
			return (offset + pageSize >= array.length) ? array.slice(offset, array.length) : array.slice(offset, offset + pageSize);
		}
		offset=(pageNo - 1) * pageSize;
		return (offset + pageSize >= array.length) ? array.slice(offset, array.length) : array.slice(offset, offset + pageSize);
	}
	/* 把做过的题目和编号存到对象数组中 */
	function setOjb(id,result){
		var obj={id:id,result:result}
		if(pagelist.length==0){
			pagelist.push(obj)
			/* console.log(JSON.stringify(pagelist)) */
			return;
		}
		for(var i=0;pagelist.length;i++){
			if(pagelist[i].id==id){
				pagelist[i].result=result
				break;
			}
			if(pagelist.length-1==i){
				pagelist.push(obj)
				/* alert("创建1") */
			}
		}
	}
	function closePage(){
		$.ajax({
			type:"post",
			url:"http://127.0.0.1:8080/StudentWork/pageSaveClose",
			data:JSON.stringify(v.obj),
			contentType: "application/json; charset=utf-8",
			success:function(data){
				
			}
		})
	}
	$(function(){
		$.ajax({
			type:"post",
			url:"http://127.0.0.1:8080/StudentTestController/queryTestInfoBySidAndTid",
			data:{tid:25},
			success:function(data){
				console.log(JSON.stringify(data))
				count=data.list.length
				var list=pagination(1,pagesize,data.list)
				/* console.log(JSON.stringify(list)) */
				v.list=list;					//题目
				v.testmodule=data.testmodule;	//考试模板对象
				v.staff=data.cqjStaff;				//教员对象
				v.obj=data;						//作业对象
				v.testinstance=data.testinstance;//考试实例
			}
		})
		/* 上一页 */
		$("body").on("click","#prepage",function(){
			if(cur<=1){
				cur=1
			}else{
				cur=cur-1
			}
			var list=pagination(cur,pagesize,v.obj.list)
			/* console.log(list) */
			v.list=list;
		})
		/* 下一页 */
		$("body").on("click","#nextpage",function(){
			nextpage=nextpage+1
			cur=cur+1
			pagecount=count%pagesize==0?count/pagecount:parseInt(count/pagesize)+1
			/* if(nextpage>=pagecount){
				nextpage=pagecount
			} */
			if(cur>=pagecount){
				cur=pagecount
			}
			var list=pagination(cur,pagesize,v.obj.list)
			v.list = list;
			/* console.log(JSON.stringify(v.obj)) */
		})
		
		/*阅读题保存答案*/
		$("body").on("change","textarea",function(){
			var list=v.obj.list
			var id=$(this).parents(".workcontent").attr("data-id");		//题目id
			var result=$(this).val().trim();
			for(var i=0; i<list.length; i++){
				if(list[i].topicWithBLOBs.id==id){
					if(list[i].topicWithBLOBs.wtrecord==null){
						var obj={}
						obj.result=result
						obj.tid=id
					 	obj.wid=v.obj.id	//作业实例id
						obj.sid=v.obj.sid	//学生id
						list[i].topicWithBLOBs.wtrecord=obj;
					}
					list[i].topicWithBLOBs.wtrecord.result=result
					break;
				}
			}
			v.obj.list=list
			setOjb(id,result)	
		/* 	console.log(JSON.stringify(pagelist)) */
		})
		
		/*选择题保存答案*/
		$("body").on("click","[type=radio]",function(){
			var list=v.obj.list
			var id=$(this).parents(".workcontent").attr("data-id");		//题目id
			var result=$(this).parents(".option").find(".form-radio-sign").html().trim();
			for(var i=0; i<list.length; i++){
				if(list[i].topicWithBLOBs.id==id){
					if(list[i].topicWithBLOBs.wtrecord==null){
						var obj={}
						obj.result=result
						obj.tid=id
						obj.wid=v.obj.id	//作业实例id
						obj.sid=v.obj.sid	//学生id
						list[i].topicWithBLOBs.wtrecord=obj;
					}
					list[i].topicWithBLOBs.wtrecord.result=result
					break;
				}
			}
			v.obj.list=list
			setOjb(id,result)
			/* console.log(JSON.stringify(pagelist)) */
			
		})
		
		/*上机题目保存答案*/
		$("body").on("change","input[type=file]",function(){
			var formData = new FormData($(this).parents("form")[0]);	//表单
			var id=$(this).parents(".workcontent").attr("data-id");		//题目id
			alert(id)
			$.ajax({
				type : "post",
				url : "http://127.0.0.1:8080/StudentWork/fileUploads",
				data :formData,
				async: false,
	            contentType: false,
	            processData: false,
				success : function(data) {
					if(data!=null){
						var list=v.obj.list
						/* 上机题目返回文件地址 */
						for(var i=0; i<list.length;i++){
							if(list[i].topicWithBLOBs.id==id){
								if(list[i].topicWithBLOBs.wtrecord==null){
									var obj={}
									obj.user1=data
									obj.tid=id
									obj.wid=v.obj.id//作业实例id
									obj.sid=v.obj.sid	//学生id
									list[i].topicWithBLOBs.wtrecord=obj;
								}
								list[i].topicWithBLOBs.wtrecord.user1=data
								break;
							}
						}
					}else{
						alert("上传失败")
					}
				}
			});
		})
		
		//交作业
		$("body").on("click","#submitWork",function(){
			v.obj.exit=0;
			console.log(JSON.stringify(v.obj))
			$.ajax({
				type:"post",
				url:"http://127.0.0.1:8080/StudentTestController/testPublish",
				contentType: "application/json;charset=utf-8",
				data:JSON.stringify(v.obj),
				success:function(data){
					if(data>0){
						alert("交卷成功！")
					}
				}
			})
		})
	})
	
	//浏览器关闭事件
	/* $(window).unload(function(){
   	 	closePage();
	}); */
</script>