<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.arg">
<html>

	<head>
		<meta charset="UTF-8">
		<title>教室管理</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/ready.css">
		<style>
			.card-footer div{
				float: right;
			}
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title col-lg-12 col-xs-6">教室管理</h4>
					<div class="card col-lg-12">
						<div class="card-header">
							<h4 class="card-title">
								查看教室
							</h4>
						</div>
						<div class="card-body">
							<table class="table mt-3">
								<thead>
									<tr>
										<th scope="col">教室名称</th>
										<th scope="col">教室类型</th>
										<th scope="col">容纳人数</th>
										<th scope="col">教室楼层</th>
										<th scope="col">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="m:${list}">
										<td th:text="${m.name}"></td>
										<td th:text="${m.ctname}"></td>
										<td th:text="${m.galleryful}"></td>
										<td th:text="${m.floor}"></td>
										<td><a href="javascript:void(0)" class="del" th:value="${m.id}">删除</a>
											<a th:href="@{/mission/selectByid(id=${m.id})}" >修改</a></td>
									</tr>
									<!-- <tr>
										<td>402</td>
										<td>上课室</td>
										<td>30</td>
										<td>4</td>
										<td><a href="insertclassroom.html">删除</a><a href="updateclassroom.html">修改</a></td>
									</tr>
									<tr>
										<td>412</td>
										<td>自习室</td>
										<td>30</td>
										<td>4</td>
										<td><a href="insertclassroom.html">删除</a><a href="updateclassroom.html">修改</a></td>
									</tr> -->
								</tbody>
							</table>
						</div>
						<div class="card-footer">
							<div class="card-body">
								<p class="demo">
									</p><ul class="pagination pg-primary">
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Previous">
												<span aria-hidden="true">上一页</span>
												<span class="sr-only">Previous</span>
											</a>
										</li>
										<li class="page-item active"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item">
											<a class="page-link" href="#" aria-label="Next">
												<span aria-hidden="true">下一页</span>
												<span class="sr-only">Next</span>
											</a>
										</li>
									</ul>
								<p></p>
							</div>
						</div>
					</div>
			</div>
		</div>
	</body>
<script src="../js/core/jquery.3.2.1.min.js"></script>
<script src="../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="../js/core/popper.min.js"></script>
<script src="../js/core/bootstrap.min.js"></script>
<script src="../js/plugin/chartist/chartist.min.js"></script>
<script src="../js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="../js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="../js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="../js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="../js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="../js/plugin/chart-circle/circles.min.js"></script>
<script src="../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="../js/ready.min.js"></script>
<script>
	$(function(){
		$(".del").click(function(){
			var id=$(this).attr("value");
			alert(id)
			$.ajax({
				url:"delClassRoom",
            	data:"id="+id,
            	success:function(result){
            		alert(result)
            		location.href="aaa"
            	}
			}) 
		});
		/* $(".change").click(function(){
			var id=$(this).attr("value");
			alert(id)
			location.href="selectByid?id="+id
			$.ajax({
				url:"selectByid",
            	data:"id="+id,
            	success:function(result){
            		 location.href="selectByid" 
            	}
			}) 
		}); */
	})
</script>
</html>