<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.arg">
<html>

	<head>
		<meta charset="UTF-8">
		<title>新增教室</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/ready.css">
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title col-lg-12 col-xs-6">教室管理</h4>
					<div class="card col-lg-12">
						<div class="card-header">
							<h4 class="card-title">
								新增教室
							</h4>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="squareInput">教室名称：</label>
								<input type="text" class="form-control input-square" id="squareInput">
							</div>
							<div class="form-group">
								<label for="squareInput">教室楼层：</label>
								<input type="text" class="form-control input-square" id="squareInput">
							</div>
							<div class="form-group">
								<label for="squareInput">容纳人数：</label>
								<input type="text" class="form-control input-square" id="squareInput">
							</div>
							<div class="form-group">
								<label for="largeSelect">教室类型：</label>
								<select class="form-control form-control-lg" id="largeSelect" th:each="m:${list}">
									<option th:text="${m.name}"></option> 
									<!-- <option th:text="${m.name}">自习室</option>
									<option th:text="${m.name}">上课室</option>
									<option th:text="${m.name}">多媒体</option> -->
								</select>
							</div>
						</div>
						<div class="card-footer">
							<button class="btn btn-primary">新增</button>
						</div>
					</div>
			</div>
		</div>
	</body>
<script src="js/core/jquery.3.2.1.min.js"></script>
<script src="js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="js/core/popper.min.js"></script>
<script src="js/core/bootstrap.min.js"></script>
<script src="js/plugin/chartist/chartist.min.js"></script>
<script src="js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="js/plugin/chart-circle/circles.min.js"></script>
<script src="js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="js/ready.min.js"></script>

</html>