<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>查询员工考勤信息</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/static/css/ready.css}">
		<link rel="stylesheet" th:href="@{/static/css/demo.css}">
		<style type="text/css">
			/** {
				margin: 0px;
				padding: 0px;
				
			}*/
			
			.card {
				margin-bottom: 10px;
			}
		</style>
	</head>

	<body>
		<div class="main-panel">
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">查询员工考勤信息</h4>
					
					<div class="row">
						<div class="card col-lg-12">
							<div class="card-body">
								<h6>展示列</h6>
								<label class="form-check-label">
									<input class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">职位</span>
								</label>
								<label class="form-check-label">
									<input class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">出勤天数</span>
								</label>
								<label class="form-check-label">
									<input class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">休息天数</span>
								</label>
								<label class="form-check-label">
									<input class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">迟到次数</span>
								</label>
								<label class="form-check-label">
									<input class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">早退次数</span>
								</label>
								<label class="form-check-label">
									<input class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">状态</span>
								</label>
								<label class="form-check-label">
									<input class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">姓名</span>
								</label>
								<label class="form-check-label">
									<input class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">复选框</span>
								</label>
								<div class="col-lg-12 row">
									<div class="col-lg-6 col-md-9 col-sm-12 row">
										<input type="datetime-local" class="form-control form-control col-lg-5"/><span>至</span><input type="datetime-local" class="form-control form-control col-lg-5"/>
									</div>
									<div class="col-lg-3 col-md-9 col-sm-12 row">
										<select class="form-control input-fixed" id="position">
											<option value="primary">职位</option>
											<option value="primary">教员</option>
											<option value="info">班主任</option>
											<option value="success">保安</option>
											<option value="warning">保洁</option>
											<option value="danger">经理</option>
										</select>
									</div>
									<div class="col-lg-3 col-md-9 col-sm-12 row">
										<input type="text" class="form-control form-control" id="defaultInput" placeholder="姓名">
									</div>
								</div>
							</div>
							<div class="card-body">
								<h6>操作</h6>
								<button class="btn btn-warning">修改</button>
								<button class="btn btn-danger">删除</button>
								<button class="btn btn-primary">导入</button>
								<button class="btn btn-info">导出</button>
							</div>
						</div>
	
							<div class="card col-lg-12">
								<div class="card-body">
									<table class="table table-head-bg-success table-striped table-hover">
										<thead>
											<tr>
												<th scope="col">编号</th>
												<th scope="col">职位</th>
												<th scope="col">出勤天数</th>
												<th scope="col">休息天数</th>
												<th scope="col">迟到次数</th>
												<th scope="col">早退次数</th>
												<th scope="col">状态</th>
												<th scope="col">姓名</th>
												<th scope="col">复选框</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td name="编号">1</td>
												<td name="职位">教员</td>
												<td name="出勤天数">1</td>
												<td name="休息天数">1</td>
												<td name="迟到次数">1</td>
												<td name="早退次数">1</td>
												<td name="状态">
													<select class="form-control input-fixed" style="width: 80px;height: 40px;">
														<option value="primary">正常</option>
														<option value="primary">迟到</option>
														<option value="info">早退</option>
													</select>
												</td>
												<td name="姓名">小数点</td>
												<td name="复选框">
													<label class="form-check-label">
														<input class="form-check-input task-select" type="checkbox">
														<span class="form-check-sign">选择</span>
													</label>
												</td>
											</tr>
											<tr>
												<td name="编号">2</td>
												<td name="职位">班主任</td>
												<td name="出勤天数">1</td>
												<td name="休息天数">1</td>
												<td name="迟到次数">1</td>
												<td name="早退次数">1</td>
												<td name="状态">正常</td>
												<td name="姓名">爽肤水</td>
												<td name="复选框">
													<label class="form-check-label">
														<input class="form-check-input task-select" type="checkbox">
														<span class="form-check-sign">选择</span>
													</label>
												</td>
											</tr>
											<tr>
												<td name="编号">3</td>
												<td name="职位">保安</td>
												<td name="出勤天数">1</td>
												<td name="休息天数">1</td>
												<td name="迟到次数">1</td>
												<td name="早退次数">1</td>
												<td name="状态">正常</td>
												<td name="姓名">路人甲</td>
												<td name="复选框">
													<label class="form-check-label">
														<input  class="form-check-input task-select" type="checkbox">
														<span class="form-check-sign">选择</span>
													</label>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
						</div>
						
						
						<div class="col-lg-12">
							<button class="btn btn-success">上一页</button>
							<button class="btn btn-success">下一页</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script th:src="@{/static/core/jquery.min.js}"></script>
	<script th:src="@{/static/core/vue.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/static/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/static/core/popper.min.js}"></script>
	<script th:src="@{/static/plugin/chartist/chartist.min.js}"></script>
	<script th:src="@{/static/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
	<script th:src="@{/static/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
	<script th:src="@{/static/core/bootstrap.min.js}"></script>
	<script th:src="@{/static/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
	<script th:src="@{/static/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
	<script th:src="@{/static/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
	<script th:src="@{/static/plugin/chart-circle/circles.min.js}"></script>
	<script th:src="@{/static/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
	<script th:src="@{/static/ready.min.js}"></script>

	<script>
		/* 加载事件，默认全部复选框选中 */
		$(function(){
			$("input[type='checkbox']").attr("checked",'true');
			$("td input[type='checkbox']").attr("checked",'false');
		});
		/* 复选框单击事件*/
		$("input[type='checkbox']").click(function(){
			var ziji = $(this);
			var checkboxname = $(this).next().html();
			$("th[scope='col']").each(function(index,element){
				var thname = $(this).text();
				if(checkboxname == thname){
					if(ziji.prop("checked")){
						$(this).show();
						$("[name="+thname+"]").show();
					}else{
						$(this).hide();
						$("[name="+thname+"]").hide();
					}
				}
			});
		});
	</script>

</html>