<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>查询访谈记录</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
		<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/static/css/ready.css}">
		<link rel="stylesheet" th:href="@{/static/css/demo.css}">
		
		<link rel="stylesheet" th:href="@{/static/css/load.css}">
		<script th:src="@{/static/js/cqj_infoBut.js}"></script>
		
		<style type="text/css">
			/** {
				margin: 0px;
				padding: 0px;
				
			}*/
			
			.card {
				margin-bottom: 10px;
			}
		</style>
	</head>

	<body>
		<div class="main-panel">
		<!-- 遮掩层 -->
		<div style="position: absolute;left: 0;top: 0;background: #f2f3f8;width: 100%;height: 100%;z-index: 9999;" id="hezi">
			<div class="spinner">
				<div class="spinner-container container1">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container2">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
				<div class="spinner-container container3">
					<div class="circle1"></div>
					<div class="circle2"></div>
					<div class="circle3"></div>
					<div class="circle4"></div>
				</div>
			</div>
		</div> 
		
		
		
		
			<div class="content">
				<div class="container-fluid">
					<h4 class="page-title">查询访谈记录</h4>
					
					<div class="row"  id="shuaxin">
						<div class="card col-lg-12">
							<div class="card-body">
								<h6>展示列</h6>
								<label class="form-check-label">
									<input name="zhanshilie" class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">访谈人</span>
								</label>
								<label class="form-check-label">
									<input name="zhanshilie" class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">访谈对象</span>
								</label>
								<label class="form-check-label">
									<input name="zhanshilie" class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">访谈时间</span>
								</label>
								<label class="form-check-label">
									<input name="zhanshilie" class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">访谈时长</span>
								</label>
								<label class="form-check-label">
									<inpu name="zhanshilie" class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">问题</span>
								</label>
								<label class="form-check-label">
									<input name="zhanshilie" class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">查看详情</span>
								</label>
								<label class="form-check-label">
									<input name="zhanshilie" class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">复选框</span>
								</label>
								<div class="col-lg-12 row">
									<div class="col-lg-6 col-md-9 col-sm-12 row">
										<input v-model="startStr" type="date" class="form-control form-control col-lg-5"/>
										<span>至</span>
										<input v-model="endStr" type="date" class="form-control form-control col-lg-5"/>
									</div>
									<div class="col-lg-3 col-md-9 col-sm-12 row">
										<input type="text" class="form-control form-control"  placeholder="访谈对象" v-model="objectname">
									</div>
									<div class="col-lg-3 col-md-9 col-sm-12 row">
										<input type="text" class="form-control form-control"  placeholder="访谈人" v-model="peoplename">
									</div>
								</div>
							</div>
							<div class="card-body">
								<h6>操作</h6>
								<button class="btn btn-warning">修改</button>
								<button infoBut moduleUrl="/deleteFangTanByftId" onclick="deleteFangTanByftId()" class="btn btn-danger">删除</button>
								<button class="btn btn-primary">导入</button>
								<button class="btn btn-info">导出</button>
								<label class="form-check-label">
									<input onclick="quanxuan()" name="quanxuan" class="form-check-input task-select" type="checkbox">
									<span class="form-check-sign">全选</span>
								</label>
							</div>
						</div>
							<div class="card col-lg-12">
								<div class="card-body">
									<table class="table table-head-bg-success table-striped table-hover">
										<thead>
											<tr>
												<th scope="col">访谈人</th>
												<th scope="col">访谈对象</th>
												<th scope="col">访谈时间</th>
												<th scope="col">访谈时长</th>
												<th scope="col">问题</th>
												<th scope="col">查看详情</th>
												<th scope="col">复选框</th>
											</tr>
										</thead>
										<tbody v-if="page">
											<tr v-for="item in page.list">
												<td name="访谈人"><span>{{item.peoplename}}</span></td>
												<td name="访谈对象"><span>{{item.objectname}}</span></td>
												<td name="访谈时间"><span>{{item.ftStarttime}}</span></td>
												<td name="访谈时长"><span>{{item.ftTime}}</span></td>
												<td name="问题"><span>{{item.ftProblem}}</span></td>
												<td name="查看详情"  infoBut moduleUrl="/queryFangTanDetailsByftid"  v-on:click="xiangqin(item.ftId)"  data-toggle="modal" data-target=".bs-example-modal-lg">查看详情</td>
												<td name="复选框">
													<label class="form-check-label">
														<input v-on:click="panduan()" v-bind:abc="item.ftId" name="xuanze" class="form-check-input task-select" type="checkbox">
														<span class="form-check-sign">选择</span>
													</label>
												</td>
											</tr>
										</tbody>
									</table>
								<ul class="pagination pg-primary">
									<li class="page-item active">
										<a v-on:click="go(1)" class="page-link">首页</a>
									</li>
									<li class="page-item">
										<a v-on:click="go(page.prevPage)" class="page-link" aria-label="Previous">
											<span aria-hidden="true">«</span>
											<span class="sr-only">Previous</span>
										</a>
									</li>
									<li class="page-item active">
										<a v-on:click="go(page.currentPage)" class="page-link">{{page.currentPage}}</a>
									</li>
									<li class="page-item" v-if="page.currentPage + 1 <= page.totalPage">
										<a v-on:click="go(page.currentPage + 1)" class="page-link">{{page.currentPage + 1}}</a>
									</li>
									<li class="page-item" v-if="page.currentPage + 2 <= page.totalPage">
							 			<a v-on:click="go(page.currentPage + 2)" class="page-link">{{page.currentPage + 2}}</a>
									</li>
									<li class="page-item">
										<a v-on:click="go(page.nextPage)" class="page-link" aria-label="Next">
											<span aria-hidden="true">»</span>
											<span class="sr-only">Next</span>
										</a>
									</li>
									<li class="page-item active">
										<a v-on:click="go(page.totalPage)" class="page-link">尾页</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div id="modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="content">
					<div class="container-fluid">
						<div  v-if="fangtan" class="col-lg-12 row">
							<h4 class="page-title col-lg-6">访谈详情</h4>
							<h4 class="page-title col-lg-6">{{fangtan.ftstartStr}}</h4>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header">
										<h4 class="card-title">问题</h4>
									</div>
									<div  v-if="fangtan" class="card-footer">
										{{fangtan.ftProblem}}
									</div>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<div  v-if="fangtan" class="card-title">{{fangtan.peoplename}}</div>
									</div>
									<div  v-if="fangtan" class="card-body">
										{{fangtan.peopleProposal}}
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<div  v-if="fangtan" class="card-title">{{fangtan.objectname}}</div>
									</div>
									<div  v-if="fangtan" class="card-body">
										{{fangtan.ftObjectExplain}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
		
		
		
	</body>
	<script th:src="@{/static/js/core/jquery.min.js}"></script>
	<script th:src="@{/static/js/core/vue.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/static/js/core/popper.min.js}"></script>
	<script th:src="@{/static/js/plugin/chartist/chartist.min.js}"></script>
	<script th:src="@{/static/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js}"></script>
	<script th:src="@{/static/js/plugin/bootstrap-notify/bootstrap-notify.min.js}"></script>
	<script th:src="@{/static/js/core/bootstrap.min.js}"></script>
	<script th:src="@{/static/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-mapael/jquery.mapael.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-mapael/maps/world_countries.min.js}"></script>
	<script th:src="@{/static/js/plugin/chart-circle/circles.min.js}"></script>
	<script th:src="@{/static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
	<script th:src="@{/static/js/ready.min.js}"></script>

	<script>
		var count = 0;
		var sumCount=2;
		/* 加载事件，默认全部复选框选中 */
		$(function(){
			
			$("input[name='zhanshilie']").attr("checked",'true');
			queryAllFangTan(1,this.peoplename,this.objectname,this.startStr,this.endStr);
			infoBut.ccc();
		});
		
		//全选反选
		function quanxuan(){
			if($("input[name='quanxuan']").prop("checked")){
				$("input[name='xuanze']").prop("checked",true);
			}else{
				$("input[name='xuanze']").prop("checked",false);
			}
		}
		//判断是否全部选中
		function panduan(){
			var num=0;
			var pd = $("input[name='xuanze']");
			for(var i =0;i<pd.length;i++){
				if(pd[i].checked == true){
					num++;
				}
			}
			if(num == pd.length){
				$("input[name='quanxuan']").prop("checked",true);
			}else{
				$("input[name='quanxuan']").prop("checked",false);
			}
		}
		//删除访谈
		function deleteFangTanByftId(){
			var num=0;
			var shuzu="";
			$.each($("input[name='xuanze']:checked"),function(index,element){
				num++;
                shuzu += $(this).attr("abc")+",";
            });
			if(num == 0){
				alert("请选择要删除的访谈记录！！！");
				return;
			}
			if(shuzu.length > 0){
				shuzu = shuzu.substring(0, shuzu.length - 1);
			}
			if(num > 0){
			    var mymessage=confirm("确定要删除选中的"+num+"行吗？");
			    if(mymessage==true){
			    	$.ajax({
			    		url:"/deleteFangTanByftId?shuzu="+shuzu,
			    		success:function(result){
			    			if(result!="404"){
			    				if(result > 0){
				    				alert("删除成功！！！");
				    				queryAllFangTan(1,this.peoplename,this.objectname,this.startStr,this.endStr);
				    			}else{
				    				alert("删除失败！！！");
				    			}
			    			}
			    		}
			    	});
			    }else{
			    	
			    }
			}
		}
		/* 查询访谈详情 */
		var M = new Vue({
			el:"#modal",
			data:{
				fangtan:null
			}
		});
		/* 查询访谈详情 */
		function xiangqin(ftId){
			$.ajax({
				url:"queryFangTanDetailsByftid?ftId="+ftId,
				  success:function(result){
					  M.fangtan = result;
				  }
			});
		}
		/* 查询所有访谈 */
		var V = new Vue({
			  el:"#shuaxin",
			  data:{
				  page:{},
				  peoplename:null,
				  objectname:null,
				  startStr:null,
				  endStr:null
			  },methods:{
					go:function(currentPage){
						queryAllFangTan(currentPage,this.peoplename,this.objectname,this.startStr,this.endStr)
					},xiangqin:function(ftid){
						xiangqin(ftid);
					},panduan:function(){
						panduan();
					}
			  },watch:{
				  	peoplename:function(){
				  		queryAllFangTan(1,this.peoplename,this.objectname,this.startStr,this.endStr)
					},
					objectname:function(){
				  		queryAllFangTan(1,this.peoplename,this.objectname,this.startStr,this.endStr)
					},
					startStr:function(){
				  		queryAllFangTan(1,this.peoplename,this.objectname,this.startStr,this.endStr)
					},
					endStr:function(){
				  		queryAllFangTan(1,this.peoplename,this.objectname,this.startStr,this.endStr)
					},
				}
		  });
		/* 查询所有访谈 */
		function queryAllFangTan(currentPage,peoplename,objectname,startStr,endStr){			
			var ft={};
			ft.currentPage=currentPage;
			ft.peoplename=peoplename;
			ft.objectname=objectname;
			ft.startStr=startStr;
			ft.endStr=endStr;
			console.log(ft);
			$.ajax({
				  url:"queryAllFangTan",
				  type:"post",
				  dataType:"json",
				  data:ft,
				  success:function(result){
					  if(result != "404"){
						  	V.page = result;
					  }
						infoBut.fadeOut();
				  }
			  });
		}
		/* 复选框单击事件*/
		$("input[name='zhanshilie']").click(function(){
			var ziji = $(this);
			var checkboxname = $(this).next().html();
			$("th[scope='col']").each(function(index,element){
				var thname = $(this).text();
				if(checkboxname == thname){
					if(ziji.prop("checked")){
						$(this).show();
						$("[name="+thname+"]").show();
					}else{
						$(this).hide();
						$("[name="+thname+"]").hide();
					}
				}
			});
		});
	</script>

</html>